<div class="card panelerror " @inOutAnimation *ngIf="ultimoerror">
  <div class="card-header bg-info">Se produjo un error
    <button type="button" class="close" (click)="ultimoerror=null">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <pre>
      {{ultimoerror | json : 1 }}
    </pre>
  </div>
</div>