@import '../../../../../estilos/coaatm.variables.scss';

.panelerror {
    position:fixed;
    left:0px;
    bottom:0px;
    height:100%;
    width:400px;
    z-index: 999;
    pre {
      display: inline;
    }
    @media(max-width:$screen-xs) {
      width: auto;
      right: 0px;
    }
}
.panelerror .card-body {
    overflow:scroll;
}
