<div appTableResponsive>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Física/Jurídica</th>
        <th>NIF</th>
        <th>Nombre/Razón social</th>
        <th>Promotor</th>
        <th>% Obra (promotor)</th>
        <th>Autor encargo</th>
        <th>% Obra (autor encargo)</th>
        <th>% GG</th>
        <th>Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interviniente of autores">
        <td data-title="Física/Jurídica">
          {{interviniente.TipoPersona | tipoPersona}}
        </td>
        <td data-title="NIF">
          {{interviniente.Nif}}
        </td>
        <td data-title="Nombre">
          {{interviniente.Nombre}}
        </td>
        <td data-title="Promotor">
          {{interviniente.Promotor | siNo}}
        </td>
        <td data-title="% Obra-promotor">
          {{interviniente.PorcentajeObraPromotor}}
        </td>
        <td data-title="Autor encargado">
          {{interviniente.Autor | siNo}}
        </td>
        <td data-title="% Obra-autor">
          {{interviniente.PorcentajeObraAutor}}
        </td>
        <td data-title="% GG" [appBloqueObligatorio]="true">
            <input type="text" campoporcentaje class="form-control" [(ngModel)]="interviniente.PorcentajeGastosGestion" (ngModelChange)="onFilterChange($event)" [disabled]="readonly"/>          
        </td> 
        <td>{{interviniente.ImporteGastosGestion | customcurrency}}</td>       
      </tr>
    </tbody>
  </table>
</div>

