<!-- <div class="row mt-4">
  <div class="col-md-6" *ngIf="secciones.pendientespago.tramites.length || secciones.finalizados.tramites.length">
    <app-seccion-cuadro-mando-tramites id="pendientespago" titulo="Pendientes de pago"
    icono="./assets/images/cuadro-mando-tramites/icono_homePago.svg"
      *ngIf="secciones.pendientespago.visible && secciones.pendientespago.tramites.length"
      [tramites]="secciones.pendientespago.tramites" [desplegado]="secciones.pendientespago.desplegado"
      [visible]="secciones.pendientespago.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
    <app-seccion-cuadro-mando-tramites id="finalizados" titulo="Finalizados" [tramites]="secciones.finalizados.tramites"
    icono="./assets/images/cuadro-mando-tramites/ico_homeFinalizado.svg"
      *ngIf="secciones.finalizados.visible && secciones.finalizados.tramites.length"
      [(desplegado)]="secciones.finalizados.desplegado" [visible]="secciones.finalizados.visible"
      (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
  </div>
  <div class="col-md-6">
    <app-seccion-cuadro-mando-tramites id="incidencias" titulo="Incidencias"
    icono="./assets/images/cuadro-mando-tramites/icono_homeIncidencia.svg"
     *ngIf="secciones.incidencias.visible && secciones.incidencias.tramites.length"
      [tramites]="secciones.incidencias.tramites" [(desplegado)]="secciones.incidencias.desplegado"
      [visible]="secciones.incidencias.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
    <app-seccion-cuadro-mando-tramites id="elaboracion" titulo="En elaboración" *ngIf="secciones.elaboracion.visible && secciones.elaboracion.tramites.length"
    icono="./assets/images/cuadro-mando-tramites/ico_homeElaboracion.svg"
      [tramites]="secciones.elaboracion.tramites" [(desplegado)]="secciones.elaboracion.desplegado"
      [visible]="secciones.elaboracion.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
  </div>
</div> -->


  <div class="row mt-4">
    <app-seccion-cuadro-mando-tramites id="pendientespago" titulo="Pendientes de pago"
    icono="./assets/images/cuadro-mando-tramites/icono_homePago.svg"
      *ngIf="secciones.pendientespago.visible && secciones.pendientespago.tramites.length"
      [ngClass]="{'col-md-12':secciones.pendientespago.desplegado,'col-md-6':!secciones.pendientespago.desplegado}"
      [tramites]="secciones.pendientespago.tramites" [desplegado]="secciones.pendientespago.desplegado"
      [visible]="secciones.pendientespago.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
    <app-seccion-cuadro-mando-tramites id="incidencias" titulo="Incidencias"
    icono="./assets/images/cuadro-mando-tramites/icono_homeIncidencia.svg"
     *ngIf="secciones.incidencias.visible && secciones.incidencias.tramites.length"
      [ngClass]="{'col-md-12':secciones.incidencias.desplegado,'col-md-6':!secciones.incidencias.desplegado}"
      [tramites]="secciones.incidencias.tramites" [(desplegado)]="secciones.incidencias.desplegado"
      [visible]="secciones.incidencias.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
    <app-seccion-cuadro-mando-tramites id="finalizados" titulo="Finalizados" [tramites]="secciones.finalizados.tramites"
    icono="./assets/images/cuadro-mando-tramites/ico_homeFinalizado.svg"
      *ngIf="secciones.finalizados.visible && secciones.finalizados.tramites.length"
      [ngClass]="{'col-md-12':secciones.finalizados.desplegado,'col-md-6':!secciones.finalizados.desplegado}"
      [(desplegado)]="secciones.finalizados.desplegado" [visible]="secciones.finalizados.visible"
      (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
    <app-seccion-cuadro-mando-tramites id="elaboracion" titulo="En elaboración" *ngIf="secciones.elaboracion.visible && secciones.elaboracion.tramites.length"
    icono="./assets/images/cuadro-mando-tramites/ico_homeElaboracion.svg"
      [ngClass]="{'col-md-12':secciones.elaboracion.desplegado,'col-md-6':!secciones.elaboracion.desplegado}"
      [tramites]="secciones.elaboracion.tramites" [(desplegado)]="secciones.elaboracion.desplegado"
      [visible]="secciones.elaboracion.visible" (desplegar)="desplegar($event)" (plegar)="plegar()">
    </app-seccion-cuadro-mando-tramites>
  </div>
