<div *ngIf="certificados?.length > 0; else sindatos">
    <div class="alert alert-success mt-2" role="alert">
      <a *ngIf="collapsed" role="link" (click)="collapsed = !collapsed">Más detalles</a>
      <a *ngIf="!collapsed" role="link" (click)="collapsed = !collapsed">Menos detalles</a>
    </div>
    <div [appCollapse]="collapsed">
      <div class="no-more-tables">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Fecha solicitud</td>
              <td>Fecha Emisión</td>
              <td>Fecha vigencia</td>
              <td>Estado<app-ayuda seccion="certificados.estados"></app-ayuda></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of certificados">
              <td data-title="Fec.Solicitud">{{c.FechaSolicitud | date: 'dd/MM/yyyy'}}</td>
              <td data-title="Fec.Emisión">{{c.FechaEmision | date: 'dd/MM/yyyy'}}</td>
              <td data-title="Fec.Vigencia">{{c.FechaVigencia | date: 'dd/MM/yyyy'}}</td>
              <td data-title="Estado"><div class="alert" [ngClass]="{'alert-success': c.Estado ==='V' ,'alert-danger':c.Estado === 'C','alert-warning':c.Estado==='P'}">{{c.Estado | estadoCertificado}}</div></td>
              <td><button class="btn btn-sm btn-primary" *ngIf="!!c.Url" (click)="lanzardescarga(c.Url)">Descargar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #sindatos>
    <div class="alert alert-success mt-2" role="alert">
      No hay certificados
    </div>
  </ng-template>
