<div class="no-more-tables" *ngIf="!anteriora2010;else sincostes">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Concepto
        </th>
        <th class="text-right">
          Bruto
        </th>
        <th class="text-right">
          IVA
        </th>
        <th class="text-right">
          Neto
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coste of Costes">
        <td data-title="Concepto">
          <input type="checkbox" [(ngModel)]="coste.Seleccionado" (change)="recalcularTotal()"
            [disabled]="!coste.Seleccionable || readonly" *ngIf="!resumen">
          {{coste.Concepto}}
        </td>
        <td data-title="Bruto" class="text-right">{{coste.Bruto | customcurrency}}</td>
        <td data-title="IVA" class="text-right">{{coste.IVA | customcurrency}}</td>
        <td data-title="Neto" class="text-right">{{coste.Neto | customcurrency}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td data-title="T.Bruto" class="text-right">{{total?.Bruto | customcurrency}}</td>
        <td data-title="T.IVA" class="text-right">{{total?.IVA | customcurrency}}</td>
        <td data-title="T.Neto" class="text-right">{{total?.Neto | customcurrency}}</td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #sincostes>
  <div class="alert alert-danger">
    <p>
      Intervención ({{idintervencion}}) anterior al 2010, se recalculará la CIP y el colegio le notificará los nuevos importes antes de tramitar la solicitud del trámite</p>
  </div>
</ng-template>