<app-seccion titulo="Certificados">
  <div class="row">
    <div class="col-12">
      <app-certificados-otros [info]="tipos.CC" [infocolegiado]="infocolegiado" (solicitar)="Solicitar($event)"
        (descargar)="LanzarDescarga($event)"></app-certificados-otros>
    </div>
    <div class="col-12">
        <app-certificados-otros [info]="tipos.EJ" [infocolegiado]="infocolegiado" (solicitar)="Solicitar($event)"
          (descargar)="LanzarDescarga($event)"></app-certificados-otros>
      </div>
    <div class="col-12">
      <app-certificados-otros [info]="tipos.SR" [infocolegiado]="infocolegiado" (solicitar)="Solicitar($event)">
      </app-certificados-otros>
    </div>
    <div class="col-12">
        <app-certificados-otros [info]="tipos.CS" [infocolegiado]="infocolegiado" (solicitar)="Solicitar($event)"
          (descargar)="LanzarDescarga($event)"></app-certificados-otros>
      </div>
    <!-- <app-certificados-src [info]="tipos.SR" [infocolegiado]="infocolegiado" (solicitar)="Solicitar($event)"  (descargar)="LanzarDescarga($event)"></app-certificados-src> -->
  </div>      
</app-seccion>
<router-outlet></router-outlet>
<!-- <pre>
{{ tipos | json }}
</pre> -->