<div class="no-more-tables">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Colegiado</th>
        <th>Nombre</th>
        <th>Validada</th>
        <th>F. Validacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of colegiados">
        <td data-title="Colegiacion">
          {{c.IdColegiado}}
        </td>
        <td data-title="Nombre">
          {{c.Nombre}}
        </td>
        <td data-title="Validada">{{c.SolicitudValidada | siNo}}</td>
        <td data-title="Nombre">{{c.FechaValidacion | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-12">

    <ng-container *ngIf="authService.currentUser.Id==solicitud.IdColegiado;else botonerainterviniente">
      <div class="btn-group float-right">
        <button type="button" appBoton="Verificar" (click)="verificar.emit()" class="mr-1" *ngIf="['VT','VP','IN','EL'].indexOf(solicitud.Estado)>-1"></button>
        <button type="button" appBoton="Validar" (click)="validar.emit()" *ngIf="!ColegiadoHaValidado" class="mr-1"></button>
        <button type="button" appBoton="Revertir" (click)="revertir.emit()"
          *ngIf="ColegiadoHaValidado && (solicitud.Estado=='VT' || solicitud.Estado=='VP' || solicitud.Estado=='IN')" class="mr-1"></button>          
      </div>
    </ng-container>
    <ng-template #botonerainterviniente>
      <div class="btn-group float-right">
        <button type="button" appBoton="Validar" (click)="validar.emit()" *ngIf="!ColegiadoHaValidado"
          class="btn-block"></button>
        <button type="button" appBoton="Revertir" (click)="revertir.emit()"
          *ngIf="ColegiadoHaValidado && solicitud.Estado == 'VP' || solicitud.Estado == 'VT'" class="btn-block"></button>
      </div>
    </ng-template>    
  </div>
  <div class="col-md-12">
    <div class="btn-block mt-3">
      <ng-container *ngIf="HanValidadoTodos;else faltanporvalidar">
        <button type="button" appBoton="Enviar" (click)="enviar()" 
        class="btn-block" *ngIf="solicitud.Estado=='VT'"></button>
      </ng-container>        
      <ng-template #faltanporvalidar>
        <div class="alert alert-danger">
          <p>La solicitud no se puede enviar hasta que no esté validada por todos los colegiados intervinientes</p>
        </div>
      </ng-template>
    </div>
  </div>


  <!-- <div class="col-md-12">
    <div class="btn-block mt-3">
      <button type="button" appBoton="Enviar" (click)="enviar.emit()" *ngIf="HanValidadoTodos;else faltanporvalidar"
        class="btn-block" [disabled]="solicitud.Estado!=='VT'"></button>
      <ng-template #faltanporvalidar>
        <div class="alert alert-danger">
          <p>La solicitud no se puede enviar hasta que no esté validada por todos los colegiados intervinientes</p>
        </div>
      </ng-template>
    </div>
  </div> -->
</div>