<div class="row">
  <div class="col-md-12">
    <div class="button-group float-right" *ngIf="permitirsubir">
      <ng-container *ngIf="!insertando && !readonly">
          <div ngbDropdown display="static" *ngIf="tipos.length > 0" class="mb-1" placement="left-top">
              <button class="btn btn-primary " id="boton1" type="button" ngbDropdownToggle>
                Añadir documento
              </button>
              <div ngbDropdownMenu  aria-labelledby="boton1">
                <button ngbDropdownItem *ngFor="let tipo of tipos" (click)="setInsertando(tipo)">
                    <span class="badge badge-danger" *ngIf="tipo.Obligatorio">Obligatorio</span>{{tipo.Descripcion}}
                </button>
              </div>
          </div>
          <button class="float-right mb-2" appBoton="AÑADIRDOCUMENTO" *ngIf="!tipos || tipos.length==0"></button>
      </ng-container>
      <ng-container *ngIf="insertando">
        <button appBoton="CANCELAR" (click)="insertando = !insertando"></button>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="insertando" @fadeinout>

  <!-- <app-uploader  [tipo]="tipo" [idgrupo]="idgrupo" (startuploading)="documentos.push($event)" (uploaded)="uploaded($event)" ></app-uploader> -->
  <app-uploader  [tipo]="tipo" [idgrupo]="idgrupo" (startuploading)="documentos.push($event)" ></app-uploader>
</div>
<div class="row">
  <div class="col-md-12">
    <ng-template #sindatos>
      <div class="alert alert-danger">
        No hay ningún documento
      </div>
    </ng-template>
    <div appTableResponsive>
      <table class="table table-bordered" *ngIf="documentos.length>0;else sindatos">
        <thead>
          <tr>
            <!-- <th>Tipo</th> -->
            <!-- <th>Id</th> -->
            <th>Descripción</th>
            <th>Fichero</th>
            <th *ngIf="permitirdescargaroriginal">Original</th>
            <th *ngIf="permitirdescargarcolegio">Colegio</th>
            <th *ngIf="!readonly">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of documentos">
            <!-- <td data-title="Id">{{documento.Id}}</td> -->
            <td data-title="Descripción">
              <ng-container *ngIf="!!documento?.Descripcion && documento?.Descripcion!=''">
                {{documento?.Descripcion}}
              </ng-container>
              <ng-container *ngIf="!documento?.Descripcion || documento?.Descripcion==''">
                {{documento.Tipo | tipoDocumento | async}}
              </ng-container>
              </td>
            <td data-title="Fichero">
              <ng-container *ngIf="documento.Id">{{documento?.Nombre}}</ng-container>
              <ng-container *ngIf="!documento.Id">
                <app-uploading-file [idgrupo]="idgrupo" [documento]="documento"
                (finished)="uploadFinished($event)" (finishedwitherror)="uploadFinishedwithError()"></app-uploading-file>
              </ng-container>
            </td>
            <td data-title="Descargar" class="text-center" *ngIf="permitirdescargaroriginal">
              <button *ngIf="!!documento.Id && permitirdescargaroriginal && documento.VColegiado" appBotonIcono="DESCARGAR" (click)="descargar(documento,false)" title="Descargar documento original"></button>

            </td>
            <td *ngIf="permitirdescargarcolegio">
                <button *ngIf="!!documento.Id && permitirdescargarcolegio && documento.VColegio" appBotonIcono="DESCARGAR" (click)="descargar(documento,true)" title="Descargar documento colegio"></button>
            </td>
            <td *ngIf="!readonly" data-title="Eliminar" class="text-center">
                <button *ngIf="!!documento.Id  && !readonly" appBotonIcono="BORRAR" appConfirmacion="¿Seguro que quiere eliminar el documento?" (confirmado)="borrar(documento)"></button>
              <!-- <button  appBoton="BORRAR" (click)="borrar(documento)"></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

