<app-marcador-pasos [pasos]="pasos" [activo]="activo" (activar)="activo=$event" ayuda="pasos"></app-marcador-pasos>
<div class="row">
    <div class=col-md-12>
        <app-paso *ngFor="let paso of pasos" [paso]="paso" [total]="5"
            [plantilla]="paso.plantilla">
        </app-paso>
        <button appBoton="VER" (click)="verProgreso()"></button>
        <button appBoton="GUARDARPROGRESO" appBotonsticked (click)="guardarProgreso()"
            *ngIf="modelo?.TipoIntervencion?.Codigo && !insertandodetalle && !modelo.Readonly"></button>
    </div>
</div>

<ng-template #paso1>
    <app-seccion titulo="Intervención" ayuda="altaintervencion.intervencion">
        <app-tipo-actuacion-intervencion [(actuacion)]="modelo.TipoActuacion" [intervencion]="modelo.TipoIntervencion"
            (intervencionChange)="onIntervencionChange($event)" [readonly]="modelo.Readonly">
        </app-tipo-actuacion-intervencion>
    </app-seccion>
    <app-seccion titulo="Datos complementarios">
        <app-datos-complementarios [ESREGISTRO]="ESREGISTRO" [(datoscomplementarios)]="modelo.DatosComplementarios"
            (cambio)="calcularCostes()" [readonly]="modelo.Readonly">
        </app-datos-complementarios>
    </app-seccion>
    <app-seccion titulo="Coste">
        <app-coste [costes]="modelo.Costes" (calcular)="calcularCostes()" [readonly]="modelo.Readonly" [modificacion]="ESMODIFICACION" [idintervencion]="modelo.IdIntervencion"></app-coste>
    </app-seccion>
    <app-seccion titulo="Ubicación de la intervención">
        <app-ubicacion-intervencion [(ubicacion)]="modelo.Ubicacion" [readonly]="modelo.Readonly">
        </app-ubicacion-intervencion>
    </app-seccion>
    <app-seccion titulo="Modificación" *ngIf="ESMODIFICACION">
        <app-datos-modificacion-intervencion [datosmodificacion]="modelo.DatosModificacion" [readonly]="modelo.Readonly"></app-datos-modificacion-intervencion>
    </app-seccion>
</ng-template>

<ng-template #paso2>
    <app-seccion titulo="Colegiados intervinientes">
        <app-colegiados-intervinientes [ESREGISTRO]="ESREGISTRO" [ESMODIFICACION]="ESMODIFICACION" [idsolicitud]="modelo.IdSolicitud"
            [readonly]="modelo.Readonly"></app-colegiados-intervinientes>
    </app-seccion>
    <app-seccion titulo="Promotores y autores del encargo">
        <app-promotores-autores-encargo [ESREGISTRO]="ESREGISTRO" [idsolicitud]="modelo.IdSolicitud"
            [readonly]="modelo.Readonly"></app-promotores-autores-encargo>
    </app-seccion>
    <app-seccion titulo="Autores del proyecto">
        <app-autores-proyecto [ESREGISTRO]="ESREGISTRO"
            *ngIf="modelo.TipoIntervencion.AdmiteAutorProyecto; else noautoresproyecto"
            [idsolicitud]="modelo.IdSolicitud" [readonly]="modelo.Readonly"></app-autores-proyecto>
        <ng-template #noautoresproyecto>
            <div class="alert alert-danger">
                Debido al subtipo de intervencion seleccionado no es necesario detallar los autores del proyecto
            </div>
        </ng-template>
    </app-seccion>
</ng-template>

<ng-template #paso3>
    <app-seccion titulo="Estadísticas">
        <app-estadisticas [tipointervencion]="modelo.TipoIntervencion" [ubicacion]="modelo.Ubicacion"
            [(estadisticas)]="modelo.Estadisticas" [readonly]="modelo.Readonly"></app-estadisticas>
    </app-seccion>
</ng-template>
<ng-template #paso4>
    <app-seccion titulo="Documentación aportada">
        <app-documentacion [tipos]="tiposdocumento"
             [idgrupo]="modelo.IdSolicitud">
        </app-documentacion>
    </app-seccion>
</ng-template>

<ng-template #paso5>
    <app-seccion titulo="Resumen y envío">
        <app-tipo-actuacion-intervencion [(actuacion)]="modelo.TipoActuacion" [intervencion]="modelo.TipoIntervencion"
            readonly="true">
        </app-tipo-actuacion-intervencion>
        <app-datos-complementarios [ESREGISTRO]="ESREGISTRO" [(datoscomplementarios)]="modelo.DatosComplementarios"
            (cambio)="calcularCostes()" [readonly]="true" >
        </app-datos-complementarios>
        <app-coste [costes]="modelo.Costes" readonly="true" [resumen]="true" [modificacion]="ESMODIFICACION" [idintervencion]="modelo.IdIntervencion"></app-coste>
    </app-seccion>
    <app-seccion titulo="Forma de pago">
        <app-forma-pago [readonly]="modelo.Readonly" [(formapago)]="modelo.FormaPago" [idcolegiado]="modelo.IdColegiado" [tipotramite]="TIPOTRAMITE"></app-forma-pago>
    </app-seccion>
    <app-seccion titulo="Validaciones y consentimientos">
        <app-validacion-consentimiento [(solicitud)]="modelo" [ESREGISTRO]="ESREGISTRO" [ESMODIFICACION]="ESMODIFICACION">
        </app-validacion-consentimiento>
    </app-seccion>

</ng-template>
<app-validacion></app-validacion>
