<div appTableResponsive>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nº Col</th>
          <th>NIF</th>
          <th>Nombre/Razón social</th>          
          <th>% Obra</th>                    
          <th>% GG</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interviniente of colegiados">
          <td>
            {{interviniente.IdColegiado}}
          </td>
          <td>
            {{interviniente.Nif}}
          </td>
          <td>
            {{interviniente.Nombre}}
          </td>          
          <td>
            {{interviniente.PorcentajeObra}}
          </td>          
          <td data-title="% GG" [appBloqueObligatorio]="true">
              <input type="text" class="form-control"  [disabled]="readonly" [(ngModel)]="interviniente.PorcentajeGastosGestion" (ngModelChange)="onFilterChange($event)" />          
          </td> 
          <td>{{interviniente.ImporteGastosGestion | customcurrency}}</td>       
        </tr>
      </tbody>
    </table>
  </div>
  
  