<footer class="footer" id="footer">
  <!-- <div id="menu_completo" #menucompleto>
    <ul class="menu_publico">
      <li>
        <h3><span class="light">EL</span>COLEGIO</h3>
        <ul>
          <li><a href="">Cartas del presidente</a></li>
          <li><a href="">Empresas Amigas</a></li>
          <li><a href="">Observatorio 2020</a></li>
        </ul>
      </li>
      <li>
        <h3>FORMACIÓN<span class="light">Y</span>CULTURA</h3>
        <ul>
          <li><a href="">Cursos online</a></li>
          <li><a href="">Fundación Escuela de la Edificación</a></li>
          <li><a href="">Actividades culturales</a></li>
        </ul>
      </li>
      <li>
        <h3><span class="light">ARCHIVO</span>DOCUMENTAL</h3>
        <ul>
          <li><a href="">Publicaciones</a></li>
          <li><a href="">Documentación sobre jornadas</a></li>
          <li><a href="">Archivos y Registros</a></li>
          <li><a href="">Tarifas</a></li>
        </ul>
      </li>
      <li>
        <h3>SERVICIOS</h3>
        <ul>
          <li><a href="">Encuentre un profesional</a></li>
          <li><a href="">Alquiler de espacios</a></li>
          <li><a href="">Bolsa de trabajo</a></li>
          <li><a href="">Colaboraciones</a></li>
          <li><a href="">Atención al ciudadano</a></li>
        </ul>
      </li>
      <li>
        <h3><span class="light">ORIENTACIÓN</span>PROFESIONAL</h3>
        <ul>
          <li><a href="">Orientación</a></li>
          <li><a href="">Discover English Smiles</a></li>
          <li><a href="">Talleres</a></li>
          <li><a href="">Coaching individual</a></li>
          <li><a href="">Coaching grupal</a></li>
          <li><a href="">Conferencias</a></li>
        </ul>
      </li>
      <li>
        <h3><span class="light">GABINETE</span>PRENSA</h3>
        <ul>
          <li><a href="">Comunicaciones</a></li>
          <li><a href="">Notas de Prensa</a></li>
          <li><a href="">Banco de imágenes</a></li>
          <li><a href="">Información corporativa</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu_colegiados">
      <li>
        <h3><span class="light">TRÁMITES</span>DIGITALES</h3>
        <ul>
          <li><a href="">Nuevo Trámite</a></li>
          <li><a href="">Consultar</a></li>
          <li><a href="">Contrato Servicios Digitales</a></li>
          <li><a href="">Biblioteca</a></li>
        </ul>
      </li>
      <li>
        <h3><span class="light">GABINETE</span>TÉCNICO</h3>
        <ul>
          <li><a href="">Legislación y Normativa</a></li>
          <li><a href="">Información y Documentación</a></li>
          <li><a href="">Control de Calidad</a></li>
          <li><a href="">Eficiencia Energética</a></li>
          <li><a href="">Código Técnico</a></li>
          <li><a href="">Empresas y Prontuario</a></li>
        </ul>
      </li>
      <li>
        <h3>VISADOS</h3>
        <ul>
          <li><a href="">Mis Trámites</a></li>
          <li><a href="">Tabla Gestión de Gastos</a></li>
          <li><a href="">Información CCP</a></li>
          <li><a href="">Inforamción sobre el visado</a></li>
          <li><a href="">Impresos</a></li>
          <li><a href="">Libro de incidencias electrónico</a></li>
        </ul>
      </li>
      <li>
        <h3><span class="light">SERVICIOS</span>JURÍDICOS</h3>
        <ul>
          <li><a href="">Desarrollo empresarial</a></li>
          <li><a href="">Fiscal</a></li>
          <li><a href="">Jurídica</a></li>
          <li><a href="">Asesoría Laboral</a></li>
          <li><a href="">Funcionarios</a></li>
        </ul>
      </li>
    </ul>
  </div> -->
  <div class="container-fluid">
    <!--<div class="cont_back">
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
    role="button" title="Volver al inicio de la página" data-toggle="tooltip" data-placement="left"><span class="bullet-chevron-up"></span></a>
  </div> -->
    <div>
      <div id="certificaciones">
        <a href="https://www.aparejadoresmadrid.es/certificados"><img src="assets/images/certificaciones.png" alt="" srcset="assets/images/certificaciones.svg"
            width="362"></a>
      </div>
      <nav id="menu-basico">
        <ul>
          <li><a href="https://www.aparejadoresmadrid.es/aviso-legal">Aviso legal</a></li>
          <li><a href="https://www.aparejadoresmadrid.es/politica-de-privacidad">Política de privacidad</a></li>
          <li><a href="https://www.aparejadoresmadrid.es/mapa-web">Mapa web</a></li>
          <li><a href="https://www.aparejadoresmadrid.es/contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
