<app-marcador-pasos [pasos]="pasos"></app-marcador-pasos>
<div class="row">
  <div class=col-md-12>
    <app-paso *ngFor="let paso of pasos" [paso]="paso" [total]="3" [plantilla]="paso.plantilla">
    </app-paso>
    <button appBoton="VER" (click)="verProgreso()"></button>
    <button appBoton="GUARDARPROGRESO" appBotonsticked (click)="guardarProgreso()"
      *ngIf="!modelo.Readonly"></button>
  </div>
</div>

<ng-template #paso1>
  <app-seccion titulo="Intervención">
    <app-datos-intervencion [idintervencion]="idintervencion"></app-datos-intervencion>
    <fieldset [disabled]="modelo.Readonly">
      <div class="row">
        <!-- <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div>         -->
        <div class="col-md-12 col-xs-12" [appBloqueObligatorio]="false">
          <div class="form-group row">
            <label class="col-md-4" [appMarcadorObligatorio]="false">Observaciones</label>
            <div class="col-md-8">
              <textarea class="form-control" [(ngModel)]="modelo.Solicitud.Observaciones"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">        
          <table class="table table-bordered" appTableResponsive>
            <thead>
              <tr>
                <th>Colegiado/Sociedad</th>
                <th>Nif</th>
                <th>Nombre Empresa Asalariado</th>
                <th>% Part. Obra</th>
                <th>GC</th>
                <th>Honorarios</th>
                <th>GC nueva</th>
                <th>Honorarios nuevos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.IdColegiado}}</td>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.Nif}}</td>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.Nombre}}</td>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.PorcentajeObra | porcentaje}}</td>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.GestionCobro | siNo}}</td>
                <td>{{modelo.Solicitud?.ColegiadoInterviniente?.Honorarios | decimalFormatPipe}}</td>
                <td><input class="form-check" type="checkbox" [(ngModel)]="modelo.Solicitud.GestionCobro" (change)="cambioSeleccion()"></td>
                <td><input class="form-control" type="text" campodecimal [(ngModel)]="modelo.Solicitud.Honorarios" [disabled]="!modelo.Solicitud.GestionCobro"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>    
  </app-seccion>  
</ng-template>
<ng-template #paso2>
  <app-seccion titulo="Documentación aportada">
    <app-documentacion [tipos]="tiposdocumento" [idgrupo]="modelo.Solicitud.IdSolicitud">
    </app-documentacion>
  </app-seccion>
</ng-template>
<ng-template #paso3>
  <app-seccion titulo="Validación y envio">
    <div class="row">
      <div class="col-md-12">
        <app-colegiados-validacion [solicitud]="modelo?.Solicitud" (verificar)="verificar()" (validar)="validar()"
          (revertir)="revertir()"></app-colegiados-validacion>
      </div>
    </div>
  </app-seccion>
</ng-template>
<app-validacion  (reverificar)="verificar()"></app-validacion>