
<app-tabular-card >
  <app-ayuda [seccion]="'certificados.' + info?.Codigo"></app-ayuda>
  <ng-container class="titulo">{{info.Titulo}}</ng-container>
  <ng-container class="columna1">
    <ng-container [ngSwitch]="info?.Codigo">
      <ng-container *ngSwitchCase="'CC'">
        <span class="d-inline-block mb-3 fecha"><strong>Alta de colegiación:</strong>
          {{infocolegiado?.Colegiado?.FechaAlta | date : 'dd/MM/yyyy'}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="'EJ'">
        <span class="d-inline-block mb-3 fecha"><strong>Alta de ejerciente:</strong>
          {{infocolegiado?.Colegiado?.FechaEjerciente | date : 'dd/MM/yyyy'}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="'SR'">
        <dl class="row">
          <dt class="col-12 col-md-5">Alta del seguro</dt>
          <dd class="col-12 col-md-7">{{infocolegiado?.SeguroResponsabilidadCivil?.FechaAlta | date : 'dd/MM/yyyy'}}
          </dd>
          <dt class="col-12 col-md-5">Compañia</dt>
          <dd class="col-12 col-md-7">{{infocolegiado?.SeguroResponsabilidadCivil?.Compania}}</dd>
          <dt class="col-12 col-md-5">Cobertura</dt>
          <dd class="col-12 col-md-7">{{infocolegiado?.SeguroResponsabilidadCivil?.Cobertura}}</dd>
        </dl>
      </ng-container>
      <ng-container *ngSwitchCase="'CS'">
          <span class="d-inline-block mb-3 fecha" *ngIf="infocolegiado.Colegiado.Sociedad"><strong>Alta Sociedades:</strong>
            {{infocolegiado?.Colegiado?.FechaAlta | date : 'dd/MM/yyyy'}}</span>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container class="columna2">
    <dl class="row" *ngIf="info?.Ultimo;else sincertificados">
      <dt class="col-12 col-md-5">F. Ult. Solicitud:</dt>
      <dd class="col-12 col-md-7">{{info?.Ultimo?.FechaSolicitud | fecha}}</dd>
      <dt class="col-12 col-md-5">F. Fin. Vigencia:</dt>
      <dd class="col-12 col-md-7">{{info?.Ultimo?.FechaVigencia | fecha}}</dd>
    </dl>
    <ng-template #sincertificados><p>No existe ningún certificado solicitado hasta la fecha</p></ng-template>
  </ng-container>
  <ng-container class="columna3">
    <span class="d-inline-block mb-3 estado" *ngIf="info?.Ultimo"><b>Estado:</b>{{info.Estado | estadoCertificado}}</span>
  </ng-container>
  <ng-container class="columna4">
    <button appBoton="SOLICITAR" [appConfirmacion]="mensajeconfirmacion[info.Codigo]" (confirmado)="confirmarSolicitud()" class="mb-1 mr-1"></button>
    <button appBoton="DESCARGAR" (click)="lanzardescarga()" class="mb-1 mr-1"></button>
  </ng-container>
</app-tabular-card>

<!-- <div class="card  mb-md-3" *ngIf="false">
  <div class="card-header">
    <app-ayuda [seccion]="'certificados.' + info?.Codigo"></app-ayuda>
  </div>
  <div class="card-body" appRestringirAcceso [noadheridos]="true" [suspendidos]="true" [nosociedad]="info?.Codigo=='CS'"
    [sociedad]="info?.Codigo=='CC'" *ngIf="!solicitandoNuevo; else solicitando" @inOutAnimation>
    <div class="row">
      <div class="col-8">
        <p class="card-text">{{info.Descripcion}} </p>
      </div>
      <div class="col-4">
        <div class="alert"
          [ngClass]="{'alert-success': info?.Estado ==='V' ,'alert-danger':info?.Estado === 'C','alert-warning':info?.Estado==='P'}">
          {{info.Estado | estadoCertificado}}
        </div>
        <div>
          <button *ngIf="info?.Estado === 'X'" class="btn btn-primary" (click)="nuevo()">Solicitar</button>
          <button *ngIf="info?.Estado === 'C'" class="btn btn-primary" (click)="nuevo()">Renovar</button>
          <button *ngIf="info?.Estado === 'V' || info?.Estado === 'C'" class="btn btn-primary"
            (click)="lanzardescarga(info.Ultimo.Url)">Descargar</button>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-listado-certificados [certificados]="info?.Certificados" (descargar)="lanzardescarga($event)">
        </app-listado-certificados>
      </div>
    </div>
  </div>  
  <ng-template #solicitando>
    <div class="card-body" @inOutAnimation>
      <div [ngSwitch]="info?.Codigo" class="alert alert-info">
        <p *ngSwitchCase="'CC'">
          Si confirma la petición, se procederá a emitir un certificado de Colegiación actualizado a día de hoy que
          estará próximamente disponible para su descarga en el repositorio de Solicitudes
        </p>

        <p *ngSwitchCase="'EJ'">
          Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar, se
          procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
        </p>
        <p *ngSwitchCase="'SR'">
          <span *ngIf="!!infocolegiado.SeguroResponsabilidadCivil">
            Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar,
            se procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
          </span>
          <span *ngIf="!!!infocolegiado.SeguroResponsabilidadCivil">
            Debe tener un seguro de responsabilidad civil dado de alta para obtener este certificado
          </span>
        </p>
        <p *ngSwitchCase="'CS'">
          Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar, se
          procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
        </p>
      </div>      
      <div [ngSwitch]="info?.Codigo" class="alert alert-info">
        <dl *ngIf="info?.Codigo!=='SR'; else infoSR" class="dl-horizontal">
          <dt>Colegiado</dt>
          <dd>{{infocolegiado?.Colegiado?.Nombre}}</dd>
          <dt>Numero</dt>
          <dd>{{infocolegiado?.Colegiado?.NumeroColegiado}}</dd>
          <dt>Alta colegiación</dt>
          <dd>{{infocolegiado?.Colegiado?.FechaAlta | date : 'dd/MM/yyyy'}}</dd>
          <dt *ngIf="info?.Codigo ==='EJ'">Situación</dt>
          <dd *ngIf="info?.Codigo ==='EJ'">{{infocolegiado?.Colegiado?.Situacion}}</dd>
        </dl>
        <ng-template #infoSR>
          <dl class="dl-horizontal" *ngSwitchCase="'SR'">
            <dt>Colegiado</dt>
            <dd>{{infocolegiado?.Colegiado?.Nombre}}</dd>
            <dt>Numero</dt>
            <dd>{{infocolegiado?.Colegiado?.NumeroColegiado}}</dd>
            <dt>Alta colegiación</dt>
            <dd>{{infocolegiado?.Colegiado?.FechaAlta | date : 'dd/MM/yyyy'}}</dd>
            <dt>Situación</dt>
            <dd>{{infocolegiado?.Colegiado?.Situacion}}</dd>
            <div class="alert alert-info">
              <dl>
                <dt>Alta del seguro</dt>
                <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.FechaAlta | date : 'dd/MM/yyyy'}}</dd>
                <dt>Compañia</dt>
                <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.Compania}}</dd>
                <dt>Cobertura</dt>
                <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.Cobertura}}</dd>
              </dl>
            </div>

          </dl>
        </ng-template>
      </div>
      
      <div class="float-right">
        <button class="btn btn-primary mr-1" (click)="cancelar()">Cancelar</button>
        <button *ngIf="info?.Codigo!='SR' || (infocolegiado?.SeguroResponsabilidadCivil)" class="btn btn-primary"
          (click)="confirmarSolicitud()">Confirmar solicitud</button>
      </div>
    </div>
  </ng-template>

</div> -->

<!-- <div [ngSwitch]="info.Codigo">
  <ng-template #CC>
    Si confirma la petición, se procederá a emitir un certificado de Colegiación actualizado a día de hoy que estará
    próximamente disponible para su descarga en el repositorio de Solicitudes
  </ng-template>
  <ng-template #EJ>
    Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar, se
    procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
  </ng-template>
  <ng-template #SR>
    <span *ngIf="!!infocolegiado.SeguroResponsabilidadCivil">
      Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar, se
      procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
    </span>
    <span *ngIf="!!!infocolegiado.SeguroResponsabilidadCivil">
      Debe tener un seguro de responsabilidad civil dado de alta para obtener este certificado
    </span>
  </ng-template>
  <ng-template #CS>
    Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar, se
    procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
  </ng-template>
</div> -->