<app-panel-fijo>
  <div>
    <span>Puede iniciar un nuevo tramite desde aquí</span>
    <button class="ml-2" appBoton="NUEVOTRAMITE" (click)="router.navigate(['tramites','nuevo'])"></button>
  </div>
</app-panel-fijo>
