<p>El componente app-certificados-src no se utiliza. Eliminar al final del proyecto</p>


<!-- <div class="card  mb-md-3">
  <div class="card-header">
    {{info.Titulo}}
  </div>
  <div class="card-body" appRestringirAcceso [noadheridos]="true" [suspendidos]="true" [nosociedad]="false"
    [sociedad]="false" *ngIf="!solicitandoNuevo; else solicitando" @inOutAnimation>
    <div class="row">
      <div class="col-8">
        <p class="card-text">{{info.Descripcion}}</p>
      </div>
      <div class="col-4" [ngSwitch]="info.Estado">
        <button *ngSwitchDefault class="btn btn-primary" (click)="nuevo()">Solicitar</button>        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-listado-certificados [certificados]="info?.Certificados"></app-listado-certificados>
      </div>
    </div>
  </div>  
  <ng-template #solicitando>
    <div class="card-body" @inOutAnimation>
      <div class="alert alert-info">
        <p>
          <span *ngIf="!!infocolegiado.SeguroResponsabilidadCivil">
            Si confirma la petición, una vez examinada por el COAATM y comprobada la veracidad del hecho a certificar,
            se procederá a emitir el certificado depositándolo en el repositorio de Solicitudes para su descarga.
          </span>
          <span *ngIf="!!!infocolegiado.SeguroResponsabilidadCivil">
            Debe tener un seguro de responsabilidad civil dado de alta para obtener este certificado
          </span>
        </p>
      </div>      
      <div class="alert alert-info">
        <dl class="dl-horizontal">
          <dt>Colegiado</dt>
          <dd>{{infocolegiado?.Colegiado?.Nombre}}</dd>
          <dt>Numero</dt>
          <dd>{{infocolegiado?.Colegiado?.NumeroColegiado}}</dd>
          <dt>Alta colegiación</dt>
          <dd>{{infocolegiado?.Colegiado?.FechaAlta | date : 'dd/MM/yyyy'}}</dd>
          <dt>Situación</dt>
          <dd>{{infocolegiado?.Colegiado?.Situacion}}</dd>
          <div class="alert alert-info">
            <dl>
              <dt>Alta del seguro</dt>
              <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.FechaAlta | date : 'dd/MM/yyyy'}}</dd>
              <dt>Compañia</dt>
              <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.Compania}}</dd>
              <dt>Cobertura</dt>
              <dd>{{infocolegiado?.SeguroResponsabilidadCivil?.Cobertura}}</dd>
            </dl>
          </div>

        </dl>
      </div>      
      <div class="float-right">
        <button class="btn btn-primary mr-1" (click)="cancelar()">Cancelar</button>
        <button *ngIf="infocolegiado.SeguroResponsabilidadCivil" class="btn btn-primary"
          (click)="confirmarSolicitud()">Confirmar solicitud</button>
      </div>
    </div>
  </ng-template>

</div> -->