<button type="button" class="btn btn-sm" (click)="toggle()" [ngClass]="{'btn-primary':val}" >
  <ng-container *ngIf="val">SI</ng-container >
  <ng-container  *ngIf="!val">NO</ng-container >
</button>
