<!-- [ngClass]="{'col-md-6':!desplegado,'col-md-12':desplegado}" -->
<div class="card mt-2">
  <div class="card-header">
    <h4>
      <span class="titulo">{{titulo}}</span>
      <button (click)="plegar.emit()" appBoton="VOLVER" *ngIf="desplegado" class="volver"></button>
      <span class="icono mr-2" *ngIf="!!icono">
        <img src={{icono}} />
      </span>
    </h4>
  </div>
  <div class="card-body">
    <ng-container *ngFor="let tramite of tramites;index as i">
      <div class="card item" *ngIf="i===0 || desplegado">
        <div class="card-header">
          <h6>{{tramite.TipoTramite |tipoTramite | async}}</h6>
        </div>
        <div class="card-body">
          <div class="mb-1">
            <dl>
              <div>
                <dt>Solicitud:</dt>
                <dd>
                  <a [routerLink]="tramite.Link" *ngIf="tramite.Link;else novinculo">{{tramite?.IdSolicitud}}</a>
                  <ng-template #novinculo ><ins>{{tramite.IdSolicitud}}</ins></ng-template>
                   <button *ngIf="id==='finalizados'" (click)="desplegardocumentos(i)" class="btn btn-primary {{id}} float-right" title="{{id}}">DOCUMENTOS</button>
                   <button *ngIf="id==='pendientespago'" (click)="desplegarpagos(i)" class="btn btn-primary {{id}} float-right" title="{{id}}">PAGAR</button>
                   <button *ngIf="id==='incidencias'" (click)="desplegarincidencias(i)" class="btn btn-primary {{id}} float-right" title="{{id}}">INCIDENCIA</button>
                   <button *ngIf="id==='elaboracion'" appConfirmacion="¿Seguro que quiere eliminar el trámite y toda su información relacionada? Esta acción no se podrá deshacer" (confirmado)="eliminar(tramite.IdSolicitud)" class="btn btn-primary {{id}} float-right" title="{{id}}">ELIMINAR</button>
                </dd>
              </div>
              <div>
                <dt *ngIf="tramite.Descripcion1">Intervención:</dt>
                <dd *ngIf="tramite.Descripcion1">{{tramite.Descripcion1}}</dd>
              </div>
              <div>
                <dt>Descripcion:</dt>
                <dd>{{tramite.Descripcion2}}</dd>
              </div>
              <div><dd>{{tramite.Descripcion3}}</dd></div>
            </dl>
          </div>
          <app-documentacion *ngIf="id=='finalizados' && documentosvisibles[i]" [idgrupo]="tramite.IdSolicitud" readonly="true"></app-documentacion>
          <div class="alert alert-danger" *ngIf="id==='pendientespago' && pagosvisibles[i]">Simulación de pagos</div>
          <div class="alert alert-danger" *ngIf="id==='incidencias' && incidenciasvisibles[i]">Simulación de incidencias</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="card-footer mt-1" *ngIf="tramites.length > 1 && !desplegado">
    <p class="text-center" *ngIf="!desplegado"><strong>{{tramites.length-1}} TRAMITE(s) MÁS</strong></p>
    <div class="desplegable" (click)="toggle(id)" [ngClass]="{'open':desplegado}" > <!-- usar la variable desplegado para añadir la clase "open" con ngClass -->
    </div>
  </div>
</div>
