@import "../../../../../../estilos/coaatm.variables.scss";

.card {
  border-bottom-color: transparent;
  border: none;
  border-radius: 0;
  .card-header {
    border-bottom: 1px solid transparent;
    background-color: $color1-inverso;
    padding: 0;
    h4 {
      font-family: 'Avenir_light';
      text-transform: uppercase;
      font-size: 28px;
      @media(max-width:$screen-xxxs) {
        font-size: 22px;
      }
      img {
        position: absolute;
        float: right;
        z-index: 1;
        right: 2px;
        width: 35px;
        height: 35px;
        top: -4px;
      }
      button {
        position: absolute;
        top: -13px;
        right: 50px;
        @media(max-width:$screen-s-500){
          position: relative;
          top: 20px;
          right: 0px;
          margin-left: auto;
          display: block;
        }
      }
    }
  }
  .card-body {
    padding: 0;
    z-index: 2;
    .card-header {
      border-top: 1px solid $negro2;
      border-bottom: 1px solid transparent;
      border-radius: 0px;
      h6 {
        font-family: 'Avenir_heavy';
        text-transform: uppercase;
        background: $color14;
        padding: 5px 5px 2px 5px;
      }
    }
    dl,dd,dt {
      display: inline;
    }
    dl {
      div {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    dt{
      margin-right: 5px;
    }
    .card {
      .card-body {
        border-bottom: 1px dotted $color11;
      }
    }
  }
  .card-footer {
    padding: 0;
    background-color: $color1-inverso;
    border-top: none;
    border-radius: 0;
    p {
      margin-bottom: 0rem;
      background-color: $color14;
    }
    .desplegable {
      width: 96px;
      height: 46px;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2px;
      background: $negro2;
      text-align: center;
      cursor: pointer;
      &:after {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f067";
        font-size: 30px;
        color: $color1-inverso;
        padding-top: 5px;
        display: block;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
      }
      &.open {
        &:after {
          content: "\f068";
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          /* Añadir la clase open para cambiar la imagen*/
        }
      }
    }
  }
  @media(max-width:$screen-sm) {
    z-index: 0;
  }
  /* Estilos para los botones */
  .btn {
    &.btn-primary {
      &.pendientespago {
        border: 1px solid $pendientePago;
        background-color: $pendientePago;
        &:hover {
          background-color: $color15;
          color: $pendientePago;
        }
        @media(max-width:$screen-s-500){
          width:100%;
        }
      }
      &.incidencias {
        border: 1px solid $incidencia;
        background-color: $incidencia;
        &:hover {
          background-color: $color15;
          color: $incidencia;
        }
        @media(max-width:$screen-s-500){
          width:100%;
        }
      }
      &.finalizados {
        border: 1px solid $finalizado;
        background-color: $finalizado;
        &:hover {
          background-color: $color15;
          color: $finalizado;
        }
        @media(max-width:$screen-s-500){
          width:100%;
        }
      }
      &.elaboracion {
        border: 1px solid $elaboracion;
        background-color: $elaboracion;
        &:hover {
          background-color: $color15;
          color:$elaboracion;
        }
        @media(max-width:$screen-s-500){
          width:100%;
        }
      }
    }
  }
}

