<div *ngIf="estado?.status==='error'">
  <div class="progress-bar error" [innerHTML]="estado?.message"></div>
</div>
<div *ngIf="estado?.status==='progress' || estado?.status=='finished'">
  <div class="progress" style="height: 20px;margin-bottom:2px;">
    <div class="progress-bar" role="progressbar" [style.width.%]="estado?.message" aria-valuenow="estado?.message"
      aria-valuemin="0" aria-valuemax="100">
      <ng-container *ngIf="this.estado.status === 'progress'">
          {{documento.Nombre + '(' + estado?.message + '%)'}}
        </ng-container>
      <ng-container *ngIf="this.estado.status === 'finished'">
        {{documento.Nombre + '(100%)'}}
      </ng-container>      
    </div>
  </div>
</div>