<form name="form" #f="ngForm" novalidate>
<div class="form-group">
  <label>Id. Intervencion</label>
  <input type="text" name="Intervencion" required pattern="^\d{9}$" class="form-control" [(ngModel)]="intervencion" #Intervencion="ngModel"/>
  <div class="invalid-feedback d-block" *ngIf="Intervencion.errors?.required && Intervencion.dirty">
    Indique un Id. de intervención
  </div>
  <div class="invalid-feedback d-block" *ngIf="Intervencion.errors?.pattern && Intervencion.dirty">
    El formato del identificador no es correcto, debe ser 9 dígitos
  </div>
</div>
<div class="button-block">
  <button [appBoton]="textoaccion" [appConfirmacion]="textoconfirmacion" (confirmado)="confirmar()" [disabled]="!f.valid"></button>
</div>