<div class="container" *ngIf="Listando; else detalle" @fadeinout>  
  <div class="row">
    <div class="col-md-12">
      <div class=""><!-- float-right?? -->
        <app-localizador-colegiado (encontrado)="empezarInsercion($event)" *ngIf="!readonly">
        </app-localizador-colegiado>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="no-more-tables">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nº Col</th>
              <th>NIF</th>
              <th>Nombre/Razón social</th>
              <th>Asal.</th>
              <th>% Obra</th>
              <th *ngIf="ESMODIFICACION">% Obra Anterior</th>
              <th>% GG</th>
              <th>Est</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let colegiado of colegiados">
              <td data-title="Nº Col">
                {{colegiado.IdColegiado}}
              </td>
              <td data-title="NIF">
                {{colegiado.Nif}}
              </td>
              <td data-title="Nombre">
                {{colegiado.Nombre}}
              </td>
              <td data-title="Asal.">
                {{colegiado.Asalariado | siNo}}
              </td>
              <td data-title="% Obra">
                {{colegiado.PorcentajeObra}}
              </td>
              <td *ngIf="ESMODIFICACION">
                {{colegiado.PorcentajeObraAnterior}}
              </td>
              <td data-title="% GG">
                {{colegiado.PorcentajeGastosGestion}}
              </td>
              <td data-title="Est" class="text-center" width="110">
                <button [appBotonIcono]="readonly ? 'VER' : 'EDITAR'" (click)="empezarModificacion(colegiado)"></button>
                <button appBotonIcono="BORRAR"
                  appConfirmacion="¿Seguro que quiere eliminar el colegiado como interviniente de la solicitud?"
                  (confirmado)="borrar(colegiado)" *ngIf="(!colegiado.EsColegiadoCreador && !readonly && !ESMODIFICACION) || (ESMODIFICACION && colegiado.PorcentajeObraAnterior==0)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #detalle>
  <form name="form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate @fadeinout>
    <div class="container">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Id</label>
              <input type="text" name="Id" class="form-control" [(ngModel)]="modelo.IdColegiado" disabled />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Nif</label>
              <input type="text" name="Nif" class="form-control" [(ngModel)]="modelo.Nif" disabled />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Nombre</label>
              <input name="Nombre" type="text" class="form-control" [(ngModel)]="modelo.Nombre" disabled />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" id="asalariado" name="Asalariado" type="checkbox"
                [(ngModel)]="modelo.Asalariado" [disabled]="empresas.length < 1">
              <label class="form-check-label" for="asalariado">
                Asalariado
              </label>
            </div>
            <ng-container *ngIf="empresas.length>0;else sinempresas">
              <div class="form-group" *ngIf="modelo.Asalariado">
                <label>Empresa</label>
                <select class="form-control" name="IdEmpresaPago" #IdEmpresaPago="ngModel"
                  [(ngModel)]="modelo.IdEmpresaPago" [required]="modelo.Asalariado"
                  (change)="seleccionaridasalariado()">
                  <option *ngFor="let empresa of empresas" [value]="empresa.Codigo"
                    [selected]="empresa.Codigo===modelo.IdEmpresaPago">{{empresa.Descripcion}}</option>
                </select>
                <div class="invalid-feedback d-block" *ngIf="IdEmpresaPago.errors?.required">
                  Si selecciona Asalariado es obligatorio seleccionar una empresa
                </div>
              </div>
            </ng-container>
            <ng-template #sinempresas>
              <p>Colegiado sin empresa asociada</p>
            </ng-template>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" id="gestioncobro" name="GestionCobro" type="checkbox"
                [(ngModel)]="modelo.GestionCobro" (change)="modelo.Honorarios='0'">
              <label class="form-check-label" for="gestioncobro">
                Gestión de cobro
              </label>
            </div>
            <div class="form-group" *ngIf="modelo.GestionCobro">
              <label for="honorarios">Honorarios</label>
              <input class="form-control" campodecimal name="Honorarios" #Honorarios="ngModel" type="text"
                [(ngModel)]="modelo.Honorarios" [required]="modelo.GestionCobro">
              <div class="invalid-feedback d-block" *ngIf="Honorarios.errors?.required">
                Si selecciona Gestión de cobro el campo Honorarios es obligatorio
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="gastosgestion">% Gastos Gestión</label>
              <input class="form-control" campoporcentaje type="text" [range]="[0,100]" id="gastosgestion"
                #PorcentajeGastosGestion="ngModel" name="PorcentajeGastosGestion"
                [(ngModel)]="modelo.PorcentajeGastosGestion" [required]="true">
              <div class="invalid-feedback d-block" *ngIf="PorcentajeGastosGestion.errors?.required">
                El campo es obligatorio
              </div>
              <div class="invalid-feedback d-block" *ngIf="PorcentajeGastosGestion.errors?.range">
                El % de Gastos de gestión debe estar comprendido entre 0 y 100
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="obra">% Obra</label>
              <input class="form-control" type="text" campoporcentaje [range]="[0,100]" name="PorcentajeObra"
                #PorcentajeObra="ngModel" [(ngModel)]="modelo.PorcentajeObra" [required]="true">
              <div class="invalid-feedback d-block" *ngIf="PorcentajeObra.errors?.required">
                El campo es obligatorio
              </div>
              <div class="invalid-feedback d-block" *ngIf="PorcentajeObra.errors?.range">
                El % Obra debe estar comprendido entre 0 y 100
              </div>
            </div>
            <div class="form-group" *ngIf="ESMODIFICACION">
              <label for="obra">% Obra anterior</label>
              <input class="form-control" type="text" campoporcentaje [range]="[0,100]" name="PorcentajeObraAnterior"
                #PorcentajeObraAnterior="ngModel" [(ngModel)]="modelo.PorcentajeObraAnterior" [disabled]="true">              
            </div>
          </div>
        </div>
        <div class="row" *ngIf="modelo.Sociedad">
          <div class="col-md-12">
            <app-participacion-en-sociedad [ESMODIFICACION]="ESMODIFICACION" [data]="modelo.Participaciones"
              [sociedad]="'(' + modelo.IdColegiado + ')' + modelo.Nombre"></app-participacion-en-sociedad>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="offset-md-8 col-md-4">
          <div class="btn-group" class="float-right">
            <button appBoton="CANCELAR" type="reset" class="mr-1" (click)="cancelar()"></button>
            <button appBoton="Guardar" type="submit" [disabled]="!f.valid" *ngIf="!readonly"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
