<ng-container *ngIf="intervenciones.length>0;else sinresultados">

  <div class="form-group row">
    <label class="control-label col-md-2">Orden</label>
    <div class="form-check form-check-inline" *ngFor="let ordenacion of ordenaciones">
      <input class="form-check-input" type="radio" name="orden" [value]="ordenacion.value" [(ngModel)]="orden"
        (change)="reordenar(intervenciones)">
      <label class="form-check-label" >{{ordenacion.text}}</label>
    </div>
  </div>
  <div class="form-group row">
    
      <label class="control-label col-md-2">Sentido</label>
    <div class="form-check form-check-inline" *ngFor="let s of sentidos">
      <input class="form-check-input" type="radio"  name="sentido" [value]="s.value" [(ngModel)]="sentido"
        (change)="reordenar(intervenciones)">
      <label class="form-check-label" >{{s.text}}</label>
    </div>
  </div>




  <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="orden" [(ngModel)]="orden"
    (change)="reordenar(intervenciones)">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="fcreacion"> F. Creacion
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="factualizacion"> F. Actualización
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="idintervencion"> Id. Intervencion
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="tipointervencion"> Tipo intervención
    </label>
  </div> -->
  <!-- <br>
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="sentido" [(ngModel)]="sentido"
    (change)="reordenar(intervenciones)">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="'1'">Ascendente
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="'-1'">Descendente
    </label>
  </div> -->


  <app-ficha-intervencion
    *ngFor="let item of intervenciones | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
    [intervencion]="item">
  </app-ficha-intervencion>
  <br>
  <app-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="intervenciones.length">
  </app-pagination>
</ng-container>


<ng-template #sinresultados>
  <div class="alert alert-danger">
    No hay intervenciones para los criterios de búsqueda indicados
  </div>
</ng-template>