<div class="row container">
  <dl>
    <dt class="">Número de intervención:</dt>
    <dd class="">{{intervencion?.Id}}</dd>
    <dt class="">Nombre de intervención:</dt>
    <dd class="">{{intervencion?.TipoIntervencion}} {{intervencion?.TipoIntervencion | tipoIntervencion | async}}</dd>
    <dt class="">Localización de la obra</dt>
    <dd class="">{{intervencion?.Direccion}}</dd>
    <dt class="">Estado de la obra</dt>
    <dd class="">{{intervencion?.Estado | estadoIntervencion | async}}</dd>
    <dt class="">Porcentaje de obra pendiente</dt>
    <dd class="">{{intervencion?.PorcentajeObraPendiente | porcentaje}}</dd>
  </dl>
</div>

