<div class="content-error-page">
  <h3>Página no encontrada.</h3>
  <img src="assets/images/logo-vector-aparejadores-madrid.jpg">
  <p>
    <a [routerLink]="''">Pulse aquí para ir a la página principal</a>
  </p>
</div>
