<p>Esta sería la ayuda para los certificados de colegiación</p>
<p>Se ha leido de forma dinámica de un archivo html que se puede editar sin tener que 
    recompilar y distribuir todo el frontal de la aplicación
</p>