<p>Los certificados emitidos para el usuario pueden estar en alguno de los siguientes estados</p>
<dl>
    <dt>Pte. Emisión
    </dt>
    <dd>El certificado se ha solicitado pero el Colegio está generandolo para ponerlo a disposición del colegiado</dd>
    <dt>Caducado
    </dt>
    <dd>El certificado se emitió en su momento pero a fecha de hoy no tiene validez</dd>
    <dt>Vigente
    </dt>
    <dd>El certificado se ha solicitado y se ha emitido correctamente. Es válido</dd>
</dl>
<p>Dependiendo del estado en el que se encuentre podrá hacer unas acciones u otras</p>