<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            <app-ayuda [seccion]="ayuda" *ngIf="ayuda"></app-ayuda>
          {{titulo}}
        </h3>
        <ng-content></ng-content>
    </div>
</div>
