@import "../../../../../../estilos/coaatm.variables.scss";

.card {
    border:none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: $color10;
    margin-bottom: 3rem;
    .card-body {
      @media(max-width:$screen-xs) {
        padding: 0px;
      }
    }
}
h3{
    color:$color1;
    @media(max-width:$screen-xs){
      margin-left: 10px;
    }
}

/* Estilos para secciones con filtros */

:host-context(.seccion-filtros) {
  .card {
    /*background: red;*/
    margin-top: 20px;
    margin-bottom: 0rem;
    border-bottom: none;
    .card-body{
      .card-title{
        display:none;
      }
    }
  }

}
