
/*-----------------------------------variables----------------------------------------*/

$color1:          #aa1e32;  // rojo corporativo
$color1-hover:    #530f18;  // rojo hover

$color2:          #00a8a3;  // azul

$color3:          #f7f7f7;  // gris 1
$color4:          #e5e5e3;  // gris 2
$color5:          #bfbeb6;  // gris 3
$color6:          #8e8d7d;  // gris 4
$color7:          #636257;  // gris 5
$color8:          #3a3a35;  // gris 6
$color9:          #959571;  // gris 7
$color10:         #BCBDBE;  // gris 10
$color11:         #707070;  // gris 11
$color12:         #f5f5f5;  // gris 12
$color13:         #dadada;  // gris 13
$color14:         #EBEBEB;  // gris 14
$color15:         #f5f5f2;  // gris 15
$color16:         #CECECE;  // gris 16
$color17:         #e6e6e6;  // gris 17
$color18:         #ecece6;  // gris 18
$color19:         #b8b8a0;  // gris 19
$color20:         #64644b;  // gris 20
$color21:         #d6d6c9;  // gris 21
$color22:         #eeeeee;  // gris 22
$color23:         #cccccc;  // gris 22


$color1-inverso:  #fff;
$color2-inverso:  #fff;
$color3-inverso:  #fff;

$color2-texto:   $color1;
$color2-oscuro:  $color1;

$color1_hover: darken($color1 , 20%);

$color_alert: #ea3d00;

$gray-base:       #040403;
$gray-base2:      #27271d;
$negro1:          #373A3C;
$negro2:          #324450;
$negro3:          #000000;
$negro4:          #1e2f3a;
$negro5:          #3e3e2f;

$azul:            #66afe9;
$verde:           #155724;

$gris1:            lighten($gray-base, 12%);
$gris2:            lighten($gray-base, 20%);
$gris3:            lighten($gray-base, 33%);
$gris4:            lighten($gray-base, 50%);
$gris5:            lighten($gray-base, 66%);
$gris6:            lighten($gray-base, 80%);
$gris7:            lighten($gray-base, 90%);
$gris8:            lighten($gray-base, 94%);
$gris9:            lighten($gray-base, 97%);
$gris10:           lighten($gray-base, 99.3%);
$gris11: #CECEC6;
$gris12: #eceeef;
$gris13: #DDDDDD;


/* Gama cromatica estado de tramites */

$elaboracion : #4A87D9;
$enviado : #01439B;
$finalizado : #498208;
$validadoParcial : #FF9100;
$validadoTotal : #68CF19;
$pendientePago : #AA1E32;
$incidencia : #FF0808;


$screen-xxxxs:320px;
$screen-xs-360:360px;
$screen-xxxs:380px;
$screen-xxs:390px;
$screen-xs-400:400px;
$screen-xs:480px;
$screen-s-500:500px;
$screen-s:570px;
$screen-is-600:600px;
$screen-is:620px;
$screen-sm-1:767px;
$screen-sm:768px;
$screen-md-960:960px;
$screen-md:992px;
$screen-lg:1260px;

$izq_width:180px;
$dere_width:120px;
$alto_logo:60px;
$alto-cab:80px;

$ancho_m_col: 180px;


$max-width:        $screen-lg;
$min-width:        320px;

// $font-corporativa:'Helvetica35-Thin' ,'Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;
// $font-corporativa2:'HelveticaNeue-Thin' , "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// $font-corporativa-ext-light: 'Helvetica43-ExtendedLight', "Helvetica Neue", Helvetica, sans-serif;
// $font-corporativa-ext: 'Helvetica53-Extended', "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// $font-corporativa-ext-thin: 'Helvetica33-ExtendedThin','Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;




$font-corporativa-headers-light:'avenir_light',Helvetica, sans-serif;
$font-corporativa-headers-heavy:'avenir_heavy',Helvetica, sans-serif;
$font-corporativa-headers-light-italic:'avenir_light_italic',Helvetica, sans-serif;



$font-corporativa-light:'encode_sanslight', Helvetica, sans-serif;
$font-corporativa-reg:'encode_sansregular', Helvetica, sans-serif;
$font-corporativa-med:'encode_sansmedium', Helvetica, sans-serif;
$font-corporativa-sb:'encode_sanssemibold', Helvetica, sans-serif;
$font-corporativa-bold:'encode_sansbold', Helvetica, sans-serif;



$font-corporativa-ext: 'encode_sans_expandedregular', Helvetica, sans-serif;
$font-corporativa-ext-med: 'encode_sans_expandedmedium', Helvetica, sans-serif;


$font-corporativa-sc-lt: 'encode_sans_semi_condensedLt', Helvetica, sans-serif;

$font-corporativa-sc-rg: 'encode_sans_semi_condensedRg', Helvetica, sans-serif;
$font-corporativa-c-rg: 'encode_sans_condensedregular', Helvetica, sans-serif;

$font-corporativa-c-md: 'encode_sans_condensedmedium', Helvetica, sans-serif;
$font-corporativa-sc-md: 'encode_sans_semi_condensedmedium', Helvetica, sans-serif;


$letter-spacing:0;


// $font-general:   Verdana,Geneva,sans-serif;
$font-general:  $font-corporativa-reg;


$images: "../assets/";

#aux {overflow: hidden;}

@media (max-width: $screen-xxs)      {#aux div {width: 1px;}}
@media (min-width: $screen-xxs)      {#aux div  {width: $screen-xxs;}}
@media (min-width: $screen-xs)       {#aux div  {width: $screen-xs;}}
@media (min-width: $screen-is)       {#aux div  {width: $screen-is;}}
@media (min-width: $screen-sm)       {#aux div  {width: $screen-sm;}}
@media (min-width: $screen-md)       {#aux div  {width: $screen-md;}}
@media (min-width: $screen-lg)       {#aux div  {width: $screen-lg;}}
@media (min-width: $screen-lg + 1px) {#aux div  {width: $screen-lg + 1px;}}


/*-----------------------------------funciones (@mixin)----------------------------------------*/
@mixin clearfix(){
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin oculto(){
  position:absolute; top:-100px; width:1px; height:1px; overflow:hidden; font-size:x-small;
}

@mixin transition_efect(){
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@mixin sombra-int() {
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

@mixin resplandor ($a,$b,$c,$d) {
  text-shadow: 0px 0px 8px rgba($a, $b, $c, $d),
               0px 0px 6px rgba($a, $b, $c, $d),
               0px 0px 3px rgba($a, $b, $c, $d);
}
@mixin resplandor_box ($a,$b,$c,$d) {
  box-shadow: 0px 0px 8px rgba($a, $b, $c, $d),
               0px 0px 6px rgba($a, $b, $c, $d),
               0px 0px 3px rgba($a, $b, $c, $d);
}

@mixin dotted-line() {
    .dotted-line {
      content:'• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
  }
}

@mixin dotted_top(){
  overflow: hidden;
		&:before {
		 @include dotted-line();
		 display:block;
		 overflow: hidden;
		 color: $gris5;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
}
//

/*----------------------mixin layout columnas-----------------------*/

/*@mixin columns_layout($a,$b,$c) {
	   aside.aside_left {
			@include make-md-column($a);
			float:left;
			width: 100%;

   }
	 .main_column{
    @include make-md-column($b);
			  float:left;
				width: 100%;
	 }
	 aside.aside_right {
			 @include make-md-column($c);
			 float:left;
			 width: 100%;
	}
}*/

/*--------------------------asignacion mixin por secciones-------------------------*/
/*.layout-0-24-0{@include columns_layout(0,24,0); }


.layout-0-18-6{@include columns_layout(0,18,6)}


.layout-0-16-8{@include columns_layout(0,16,8)}


.layout-6-18-0{@include columns_layout(6,18,0)}


.layout-5-14-5{@include columns_layout(5,14,5)}*/
