/* Layout principal */

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: $color8;
  font-size: 15px;
  color: $negro1;
}

html .container-fluid {
  max-width: $max-width;
  min-width: $min-width;
  /* z-index: 10;*/
  position: relative;
  width: 100%;

  section {
    //width: 100%;
    background-color: $color1-inverso;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: -20px -8px 0 -8px;
    padding: 10px 0 10px 0;
    border-radius: 12px;
    min-height: 200px;
    @include clearfix;

    &.no_back {
      //width: 100%;
      background-color: transparent;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      margin: 0;
      padding: 0;
      border-radius: 0;
      min-height: 200px;
      @include clearfix;
    }
  }
}

// Grid system
//
// Generate semantic grid columns with these mixins.

$screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
$screen-lg:                  1260px;                //cambiado
$screen-lg-min:              $screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

/* Estilos de uso general */
.fw-500 {
  font-weight: 500;
}

// Centered container element
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  @extend clearfix;
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  @extend clearfix;
}

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}
@mixin make-xs-column-offset($columns) {
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-xs-column-push($columns) {
  left: percentage(($columns / $grid-columns));
}
@mixin make-xs-column-pull($columns) {
  right: percentage(($columns / $grid-columns));
}

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media(min-width: $screen-sm-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-push($columns) {
  @media (min-width: $screen-sm-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-pull($columns) {
  @media (min-width: $screen-sm-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-offset($columns) {
  @media (min-width: $screen-md-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (min-width: $screen-md-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (min-width: $screen-md-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-offset($columns) {
  @media (min-width: $screen-lg-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-push($columns) {
  @media (min-width: $screen-lg-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-pull($columns) {
  @media (min-width: $screen-lg-min) {
    right: percentage(($columns / $grid-columns));
  }
}

/* Genericos */

a {
  color: $color1;
  font-family: $font-corporativa-med;
  &:hover,
  &:focus {
    color: $color1_hover;
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  line-height: 1.1rem;
}

h3, h3 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: $color1;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  clear: both;
}
.light {
  font-family: 'avenir_light', Helvetica, sans-serif;
  margin: 0 2px;
}
button {
  &.btn{
    &.btn-primary {
      outline: none;
      font-family: 'avenir_light';
      border-radius: 0;
      border: 1px solid $color1;
      padding: 6px 20px;
      text-transform: uppercase;
      color: $color1-inverso;
      background-color: $color1;
      display: inline-block;
      transition: none;
      &:hover{
        transition: none;
        border-color: $color1;
        color: $color1;
        background-color: $color15;
      }
      &:focus {
        box-shadow: none;
      }
      &:disabled {
        cursor: no-drop;
      }
    }
    &.btn-secondary {
      outline: none;
      font-family: 'avenir_light';
      border-radius: 0;
      border: 1px solid $negro2;
      padding: 6px 20px;
      text-transform: uppercase;
      color: $color1-inverso;
      background-color: $negro2;
      display: inline-block;
      transition: none;
      &:hover{
        transition: none;
        border-color: $negro2;
        color: $negro2;
        background-color: $color15;
      }
      &:focus {
        box-shadow: none;
      }
      &:disabled {
        cursor: no-drop;
      }
    }
    /* Estilos para los btn-link con icono*/
    &.btn-link{
      i {
        color: $color11;
        font-size: 28px;
        &:hover{
          transition: none;
          border-color: $negro2;
          color: $negro2;
        }
        &:focus {
          box-shadow: none;
        }
        &:disabled {
          cursor: no-drop;
        }
      }
    }
  }
  &[appboton=GUARDARPROGRESO]{
    padding: 12px 30px !important;
    i{
      font-size: 28px !important;
      margin-left: 10px !important;
      vertical-align: bottom !important;
    }
    @media(max-width:$screen-sm){
      width: 100% !important;
      bottom: 0px !important;
    }
  }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  transition: none;
  border-color: $color1;
  color: $color1;
  background-color: $color15;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  transition: none;
  border-color: $negro2;
  color: $negro2;
  background-color: $color15;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

/* Estilos para botones con input */

.input-group {
  .input-group-append {
    button {
      &.btn {
        &.btn-outline-primary {
          outline: none;
          font-family: 'avenir_light';
          border-radius: 0;
          border: 1px solid $color1;
          margin-top: 3px;
          padding: 3px 20px;
          text-transform: uppercase;
          color: $color1-inverso;
          background-color: $color1;
          display: inline-block;
          transition: none;
          z-index: auto;
          &:hover{
            transition: none;
            border-color: $color1;
            color: $color1;
            background-color: $color15;
          }
          &:focus {
            box-shadow: none;
          }
          &:disabled {
            cursor: no-drop;
          }
        }
      }
    }
  }
}


/* HeaderComponent */

.header_group {
  min-width: $min-width;
  z-index: 5;
  /*position: fixed;*/
  width: 100%;
  &.sticky{
    position: fixed;
    @media(max-width:$screen-xxxxs){
      width:100%;
    }
  }
  h1 {
    font-family: 'avenir_light';
    font-size: 36px;
    position: absolute;
    right: 13%;
    top: 168px;
    color: $color1-inverso;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(0,0,0,0.5), 0px 0 6px rgba(0,0,0,0.5), 0px 0 3px rgba(0,0,0,0.5);
    text-transform: uppercase;
    @media(max-width:$screen-md){
      font-size: 24px;
      left: 10%;
      top: 173px;
    }
    @media(max-width:$screen-sm){
      left: 3%;
    }
    @media(max-width:$screen-is-600){
      /*display: none;*/
      font-size: 16px;
      left: 2%;
      top: 100px;
    }
  }
  .fondo-aux {
    height: 190px;
    background: url(../assets/images/fondo_cab_01.jpg) 50% -80px no-repeat transparent;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    @media(max-width:$screen-is-600){
      height: 140px;
    }
    @media(max-width:$screen-xs-360){
      /*height: 265px;*/
    }
    header {
      height: auto;
      min-height: 80px;
      padding: 0;
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      &:after,
      &:before {
        content: "";
        display: table;
      }
      .container-fluid {
        height: 100%;
        min-height: $alto-cab;
        &:before {
          content: "";
          display: table;

        }
        .cab-izq {
          width: $izq_width;
          float: left;
          margin: ($alto-cab - $alto_logo)/2 0 0 0;
          padding: 0;
          overflow: inherit;
          @media(max-width:$screen-md){
            width: 110px;
          }
          img {
            max-width: 100%;
            @media(max-width:$screen-md){
              width: 120px;
              margin-left: 0px;
            }
            @media(max-width:800px){
              /* width: 90px; */
               margin-left: 10px;
            }
            @media(max-width:420px){
              width: 100px;
              margin-left: -15px;
            }
          }
        }
        .cab-centro {
          width: 100%;
          /* Restaurar en cuanto haya  */
          /*padding: 22px $dere_width 0 $izq_width;*/
          padding-right:0;
          text-align: right;
          .cab-contacto {
            padding: 0 15px 0 15px;
            display: inline-block;
            vertical-align: top;
            font-family: $font-corporativa-ext;
            a {
              -webkit-transition: all 0.2s ease-out;
              -moz-transition: all 0.2s ease-out;
              -o-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
              font-size: 26px;
              color: $color1-inverso;
              margin-left: 6px;
              @media(max-width:$screen-xxxs){
                margin-left: 3px;
              }
              &:hover {
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
                //text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4), 0px 0px 6px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.4);
                //color: @gris7 ;
                @include resplandor (255,255,255,0.4);
              }
              span {
                @include oculto;
              }
            }
            @media(max-width:$screen-md){
              width: 36%;
              margin-top: 0px;
            }
            @media(max-width:$screen-sm){
              margin-top: 24px;
              padding: 0px 0px 0px 015px;
              text-align: center;
              width: 50%;
            }
            @media(max-width:$screen-is-600) {
              /*width: 100%;
              float: initial;
              clear: both;
              text-align: left;*/
            }
            @media(max-width:$screen-xs-360){
              text-align: center;
            }
          }
          .cab-buscador {
            padding: 0 0 0 0;
            display: inline-block;
            vertical-align: top;
            input {
              @include sombra-int;
              margin: 6px 0 0 0;
              width: 180px;
              padding: 2px 5px 0 5px;
            }
            input.oculto {
              display: none;
            }
          }
          .cab-nav {
            padding: 0 0 0 0;
            display: inline-block;
            vertical-align: top;
          }
          @media(max-width:$screen-sm){
            &:after {
              display: block;
              clear: both;
              content: "";
            }
            padding-right: 0px !important;
            display: inline;
          }
        }
        /* Estilos menu tramites-digitales */
        nav {
          &.navbar {
            /*margin-right: 12em;*/
            clear: both;
            margin-top: -25px;
            padding: 0px 10px 0px 0px;
            display: block;
            float: right;
            @media(max-width:$screen-sm){
              width: 100%;
              margin-top: -30px;
            }
            @media(max-width:$screen-is-600){
              margin-top: 0px;
            }
            &.navbar-light {
              .navbar-item {
                width:100%;
              }
              .nav-link {
                color: $color1-inverso;
                letter-spacing: 0.4px;
                font-size: 14px;
                cursor: pointer;
                &.active {
                  transition: all 0.2s ease-out;
                  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4), 0px 0px 6px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.4);
                }
                &:hover {
                  transition: all 0.2s ease-out;
                  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4), 0px 0px 6px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.4);
                }
                @media(max-width:$screen-md){
                  font-size: 12px;
                }
                @media(max-width:$screen-sm){
                  padding: 1rem 0.2rem 0.8rem 2.2rem;
                  text-align: left;
                  font-size: 18px;
                  border-bottom: 1px solid $color1-inverso;
                  margin-right: 35%;
                  margin-left: 6%;
                }
                @media(max-width:$screen-xs){
                  margin-right: 35%;
                }
                @media(max-width:$screen-xs-400){
                  margin-right: 34%;

                }
                @media(max-width:$screen-xs-360){
                  margin-right: 34%;

                }
                @media(max-width:$screen-xxxxs){
                  margin-right: 33%;

                }
              }
              .navbar-toggler {
                background-color: rgba(255,255,255,0);
                transition: all .2s ease-out;
                display: block;
                color: transparent;
                border-color: transparent;
                display: none;
                &:active,&:focus {
                  outline: none;
                }
                .Texto-Menu {
                  float: right;
                  margin-left: 0px;
                  color: $color1-inverso;
                  font-size: 16px;
                  margin-top: 3px;
                  margin-right: 8px;
                  @media(max-width:420px){
                    display: none;
                  }
                }
                .navbar-toggle-barras {
                  /*border: 2px solid $color1-inverso;*/
                  width: 35px;
                  height: 32px;
                  margin-top: 0px;
                  padding: 3px;
                  border-radius: 4px;
                  background-image: url('../assets/images/cerrar-toogle.png');
                  background-repeat: no-repeat;
                  float: left;
                  background-size: 27px;
                  .icon-bar {
                    width: 16px;
                    background-color: $color1-inverso;
                    height: 2px;
                    border-radius: 1px;
                    display: block;
                    &+.icon-bar {
                      margin-top: 4px;
                    }
                  }
                }
                &.collapsed {
                  .navbar-toggle-barras {
                    background-image: url('../assets/images/toogle.png');
                  }
                }
              }
              .navbar-collapse {
                .navbar-nav {
                  li {
                    &:last-child {
                      a {
                        display: none;
                      }
                    }
                  }
                }
              }
              @media(max-width:$screen-sm) {
                .navbar-collapse {
                  display: block!important;
                  float: left!important;
                  list-style-type: none!important;
                  text-transform: uppercase!important;
                  width: 100%!important;
                  position: absolute!important;
                  top: 40px!important;
                  bottom: 0!important;
                  right: 0!important;
                  left: -105%;
                  overflow-x: hidden!important;
                  z-index: 9999999!important;
                  text-align: left!important;
                  min-height: 9000px!important;
                  background: $negro4!important;
                  height: 100%;
                  -webkit-transition: all .3s ease-in-out!important;
                  -moz-transition: all .3s ease-in-out!important;
                  -ms-transition: all .3s ease-in-out!important;
                  -o-transition: all .3s ease-in-out!important;
                  transition: all .3s ease-in-out!important;
                  &.collapsing {
                    -webkit-transition: all .3s ease-in-out!important;
                    -moz-transition: all .3s ease-in-out!important;
                    -ms-transition: all .3s ease-in-out!important;
                    -o-transition: all .3s ease-in-out!important;
                    transition: all .3s ease-in-out!important;
                  }
                  &.show {
                    left:-15px !important;
                    width: 150% !important;-webkit-transition: all .3s ease-in-out!important;
                    -moz-transition: all .3s ease-in-out!important;
                    -ms-transition: all .3s ease-in-out!important;
                    -o-transition: all .3s ease-in-out!important;
                    transition: all .3s ease-in-out!important;
                  }
                  @media(max-width:$screen-sm){
                    height: 117px;
                  }
                  @media(max-width:$screen-xs){

                  }
                  .navbar-nav {
                    display: block;
                    li {
                      &:last-child {
                        a {
                          display: block;
                          border-bottom: none;
                          text-align: center;
                          background: $color1;
                          padding: 6px 0px 6px 0px;
                          text-transform: capitalize;
                          margin-top: 15px;
                          &:before {
                            content: '\e94d';
                            font-family: 'icon-coaatm' !important;
                            font-style: normal;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 30px;
                            color:$color1-inverso;
                            margin-right: 10px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              @media(max-width:$screen-is-600){
                .navbar-collapse {
                  top: 10px !important;
                }
              }

              @media(max-width:$screen-sm){
                .navbar-toggler {
                  display: block;
                  margin-left: auto;
                  position: absolute;
                  right:-15px;
                  top:-15px;
                }
              }
              @media(max-width:$screen-is-600) {
                .navbar-toggler {
                  top: -45px;
                }
              }
              /*@media(max-width:420px) {
                .navbar-toggler {
                  right: -138px;
                  top: -35px;
                  position: absolute;
                }
              }
              @media(max-width:$screen-xs-400) {
                .navbar-toggler {
                  right: -128px;
                  top: -35px;
                  position: absolute;
                }
              }
              @media(max-width:359px) {
                .navbar-toggler {
                  right: -128px;
                  top: -60px;
                  position: absolute;
                }
              }*/
            }
          }
        }
      }
      .cab-dere{
        @media(max-width:$screen-sm){
          display:none;
        }
      }
    }
  }
  /* Funcionalidad sticky */
  &.sticky {
    h1 {
      display:none;
    }
    .fondo-aux{
      height: auto;
      @media(max-width:$screen-is-600){
        /*height: 225px;*/
      }
      @media(max-width:$screen-xs-360){
        /*height: 265px;*/
      }
    }
  }
} /* Final estructura HeaderComponent */

/*  HeaderComponent Responsive */
@media (max-width: $screen-md) {
  header {
    $dere_width: 80px;
    .cab-dere {
      width: $dere_width;
      .cab-login span {
        @include oculto;
      }
    }
    .cab-centro {
      padding-right: $dere_width;
    }
  }
}

@media (max-width: $screen-sm) {
  header {
    .cab-centro {
      padding-top: 0;
      .cab-contacto {
        width: 100%;
        padding: 2px 17px 0 0;
      }
      .cab-buscador {
        padding: 0;
        input {
          width: 150px
        }
      }
      .cab-nav {
        padding: 0;
        nav.navbar #navbar {
          top: 39px
        }
      }
    }
  }
}

@media (max-width: $screen-s) {
  $dere_width: 80px;
  header {
    @include clearfix;
    .container-fluid {
      padding: 0;
    }
    .cab-izq {
      width: 100%;
      float: none;
      padding: 0 $dere_width 0 0;
      text-align: center;
      margin-bottom: 5px;
    }
    .cab-centro {
      width: 100%;
      padding: 0 $dere_width 0 0;
      text-align: center;
      position: relative;
      z-index: 500;
      @include clearfix;
      clear: left;
      .cab-nav {
        @include clearfix;
        nav.navbar {
          position: static;
          #navbar {
            top: 37px;
            right: 0;
          }
        }
      }
      .cab-buscador input {
        width: 110px;
      }
      .cab-contacto {
        width: auto;
      }
    }
    .cab-dere {
      @include clearfix;
      height: 100%;
      right: 0;
    }
  }
}

@media (max-width: $screen-xs) {
  #header {
    .cab-centro {
      .cab-contacto {
        /*width: 100%;*/
        margin-top: 1px;
        /*display: inline;*/
        padding-left: 0px;
        margin-top: 24px;
      }
      .cab-nav {
        nav.navbar #navbar {
          top: 71px
        }
      }
    }
  }
}

/*-------------------------------Contenido de formulario------------------------------------*/

html .container-100 {
	width:100%;
	background-color: $color1-inverso;
  /*margin-top: -60px;*/
  margin-top: 0px;
  /* padding-top: 220px; */
  padding-bottom: 20px;
  &.sticky {
    padding-top: 180px;
    .container-fluid {
      /*&:before {
        content: "";
        width: 95%;
        height: 100px;
        background: $color1-inverso;
        display: block;
        top: 80px;
        position: fixed;
        z-index: 1;
      }*/
    }
  }
  @media(max-width:$screen-sm) {
    padding-top: 180px;
  }
  @media(max-width:$screen-is-600){
    padding-top: 130px;
  }
  @media(max-width:$screen-is-600){
    padding-top: 130px;
  }
  @media(max-width:$screen-xs-360) {
    /*padding-top: 245px;*/
  }
}

main .container-100:first-child, #breadcrumb + .container-100 {
	margin-top: 0;
	padding-top: 30px;
}

.header_group {
	z-index: 5;
//	position: relative;
  @media(max-width:$screen-sm) {
    position: fixed;
  }
  @media(max-width:$screen-xxxxs){
    /*width: 94%;*/
  }
}

main {z-index: 1}

html .container {
//   width: 1260px;
}
html .container-fluid {
   max-width: $max-width;
	 min-width: $min-width;
	/* z-index: 10;*/
	 position: relative;
	 width:100%;
	 section {
	 	//width: 100%;
	 	background-color: $color1-inverso;
	 	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	 	margin: -20px -8px 0 -8px;
	 	padding: 10px 0 10px 0;
	 	border-radius: 12px;
	 	min-height: 200px;
	 	@include clearfix;
		&.no_back {
			//width: 100%;
			background-color: transparent;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			margin: 0;
			padding: 0;
			border-radius: 0;
			min-height: 200px;
			@include clearfix;
		}
	 }
}
@media(max-width:$screen-xs) {
	html body div.container-fluid {padding: 0 10px}
}
@media(max-width:$screen-xs) {
  html body div.container-fluid {padding: 0 15px}
}

@media(max-width: $screen-xxs){
	html body div.container-fluid {
		padding: 0;
		section {
			margin: -20px 0 0 0;
		}
	}
	html #wrap div.container-fluid {padding: 0; }
}
@media(max-width:390px) {
  html body div.container-fluid {
		padding: 0 15px;
		section {
			margin: -20px 0 0 0;
		}
	}
}


.container-100 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    .container-fluid section {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
    margin: 0 0 30px 0;
    margin: 0 0 0 0;
    border-radius: 0;
  }
  /* Estilos para los dropdown */
  .dropdown-menu{
    z-index: 1;
    &.show {
      overflow: auto;
      max-height: 310px;
    }
    .dropdown-item {
      white-space: inherit;
    }
  }
}

#contenido_detalle {
  z-index: 10;
}


section.cont_generico, .cont_generico section {
  /*@include layout-0-18-6;*/
  //margin-top: 30px;
  min-height: 400px;
  .cont_formulario {
    border: 1px solid $color19;
    background-color: $color18;
    padding: 8px 15px;
    margin-bottom: 20px;
  }
    label{
      color: $color20;
      font-family: 'encode_sansmedium', Helvetica, sans-serif;
      font-weight: normal;
      line-height: 0.9em;
      margin-bottom: 5px;
    }
    .form-control {
      color: $gray-base2;
      font-style: normal;
      margin-top: 3px;
      height: 30px;
      line-height: 26px;
      border-radius: 0;
      /* border: 1px solid $color1; */
      padding: 3px 6px;
      opacity: 0.8;
      &:focus{
        /*border-color: $azul;*/
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      }
      &:disabled {
        cursor: no-drop;
      }
    }
    select,textarea {
      &.form-control {
        &:focus{
          border-color: $azul;
        }
      }
    }
    textarea {
      height: auto !important;
    }

  ::-webkit-input-placeholder {
      font-style: italic;
  }
  :-moz-placeholder {
      font-style: italic;
  }
  ::-moz-placeholder {
      font-style: italic;
  }
  :-ms-input-placeholder {
      font-style: italic;
  }
        //.post-thumbnail {display:none;}
        header h1 {margin-bottom: 10px;}
        h1 {
          font-family: 'encode_sansregular', Helvetica, sans-serif;
          font-size: 26px;
          color: $negro3;
          text-transform: none;
          margin-bottom: 20px;
        }
        h2 {
        //  .header_gen(18px);
          color:$color6;
          font-family: $font-corporativa-med;
          text-transform: none;
          strong{font-weight: normal;}
        }
        h3 {
       //    .header_gen(16px);
          color:$color1;
          font-family: $font-corporativa-med;
        }
        h1+h2 {margin-top: 6px;}
        h1+p, h2+p,h3+p,h1+figure, h2+figure,h3+figure  {margin-top: 15px;}
        p+h2, ul+h2, ol+h2, figure+h2, dl + h2, div+h2 {margin-top: 35px;}
        p+h3, ul+h3, ol+h3, figure+h3, dl + h3, div+h3, h2+h3 {margin-top: 25px;}

        img {max-width: 100%; height: auto;
        }

        figure.imagen_generica {
   			 margin: 15px 0;
         border: 1px solid $color7;
         margin: 15px 0;
         overflow: hidden;
         position: relative;
   			 img {
   			 max-width: 100%;
         height: auto;
   			 }
   		 }

       figure.img_peq {
       	width: 100%;
       	border: 1px solid $gris7;
       	background-color: $gris8;
       	padding: 8px;
       	text-align: center;
       	img {
       		border: 1px solid $gris7;
       		max-width: 100%;
          height: auto;
       	}
        &.izqui {
          float:left;
          margin-right:15px;
          width: 50%;
        }
        &.dere {
          float:right;
          margin-left:15px;
          width: 50%;
        }
         @media (max-width:$screen-sm) {
           &.izqui, &.dere {width: 100%}
         }
       }

     aside.aside_right #banners {
         a {border: 1px solid $gris6;}
     }
     p.nota {
       font-style: italic;
       font-family: $font-corporativa-med;
     }
     .ficha {
       margin-top: 20px;
       padding: 8px 8px 10px 8px;
       border: 1px solid $gris6;
       background-color: $gris7;
       font-family: $font-corporativa-med;
       overflow: hidden;
       h2 {color: $negro3; font-family: $font-corporativa-headers-heavy; text-transform: uppercase;}
       ul {display: flex;
          flex-wrap: wrap;
         li {
           width: 50%;
          // display: flex;
           padding: 0 15px;
           margin-top: 15px;
           position: relative;
           min-height: 45px;
            &:before {
               /*@include icofont;*/
              width: 40px;
              height: 40px;
              line-height: 40px;
              display: block;
              vertical-align: middle;
              font-size: 40px;
              color: $gris3;
            //  margin: 0 20px 0 0 ;
              position: absolute;
            }
              /*&.fecha:before {&:extend( #wrap .icon-calendario:before);}
              &.contacto:before {&:extend( #wrap .icon-info:before);}
              &.hora:before {&:extend( #wrap .icon-reloj:before);}
              &.lugar:before {&:extend( #wrap .icon-biblioteca:before);}
              &.online:before {&:extend( #wrap .icon-aprendizaje-en-linea:before);}
              &.presencial:before {&:extend( #wrap .icon-formacion-presencial:before);}
              &.precio:before {&:extend( #wrap .icon-euro:before);}
              &.inscripciones:before {&:extend( #wrap .icon-ico_registros-formacion:before);}*/

              p {
                display:block;
                padding: 0 0 0 60px;
                margin:0;
                vertical-align: middle;
                width: 100%;
              }
              dl {
                margin: -5px 0 0 0 ;
              }
         }
       }
       @media (max-width: $screen-sm) {
             >ul> li {
                width: 100%;
               }
           }
     }
     .info {
       margin-top: 20px;
       padding: 15px;
       border: 1px solid $gris6;
       background-color: $gris7;
       font-family: $font-corporativa-med;
       overflow: hidden;
       h2 {color: $negro3; font-family: $font-corporativa-headers-heavy; text-transform: uppercase;}
       &:before {
         /*@include icofont;*/
         display: block;
         color: $gris3;
         font-size: 42px;
         line-height: 42px;
         float: left;

         /*&:extend( #wrap .icon-info:before);*/
       }
       &:after {
         content:"";
         display: table;
         clear:both;
       }
       p {
         padding-left: 60px;
         margin-bottom: 6px;
       }
     }
      .mosaico {
      	  display: flex;
          justify-content:space-around;
          margin-top: 20px;
          padding: 0 8px 10px 8px;
          border: 1px solid $gris7;
          background-color: $gris8;
          align-items:center;
          flex-wrap: wrap;
          align-content: space-around;
          figure {
            margin-top: 10px;
          }
      }
      .doble_columna {
        margin-top: 20px;
        padding: 8px 8px 10px 8px;
        border: 1px solid $gris7;
        background-color: $gris8;
        @include clearfix;
        h2 {
        }
        div {
          @include make-md-column(12);
          // padding: 0 8px;
          p{font-style: italic;}
        }
      }
        .triple_columna {
          margin-top: 20px;
          padding: 8px 8px 10px 8px;
          border: 1px solid $gris7;
          background-color: $gris8;

          @include clearfix;
          h2 {
          }
          div {
            @include make-md-column(8);
            // padding: 0 8px;
            p{font-style: italic;}
          }
        }
      .destacado {
        margin-top: 20px;
        padding: 8px 8px 10px 8px;
        border: 1px solid $gris7;
        background-color: $gris8;
        font-style: italic;
        font-size: 1.2em;
      }
      .tabla_gen {
        margin-bottom: 20px;
      }
   .header_empresas {
     margin: 0 0 50px 0;
     @include clearfix;
     figure.logo_empresa {
       float: left;
       width: 300px;
       text-align: center;
        margin: 0 20px 0 0;
        img {max-width: 100%;}
     }
     width: 100%;
     h1 {clear:none;}
     h2 {clear:none;}
     .tags {
       margin: 20px 0 0 0;
       &:before {content: '';}
       li:first-child {margin-left: -10px;}
     }
   }
#cont_mapa {
  margin: 20px 0;
  iframe {
    width: 100%;
      border: 1px solid $gris6;
    height: 400px;
  }
}
/**********************************************  Validaciones ************************************/
.invalid-feedback{
  font-family: 'encode_sansregular', Helvetica, sans-serif;
  font-size: 90%;
}

}
.alert {
  &.alert-danger{
    border-radius: 0;
    background: $color1-inverso;
    border-color: $color1;
    color: $color1;
    .close{
      color: $color1;
      opacity: 1;
      &:focus{
        outline: none;
      }
    }
  }
  &.alert-success{
    border-radius: 0;
    background: $color1-inverso;
    border-color: $verde;
    .close{
      color: $verde;
      opacity: 1;
      &:focus{
        outline: none;
      }
    }
  }
  &.alert-info {
    border-radius: 0;
    background: $color1-inverso;
    border-color: $color2;
    .close {
      color: $color2;
      opacity: 1;
      &:focus{
        outline: none;
      }
    }
  }
}
/***************************************** Tablas ***********************************************/
.table{
  margin-bottom: 20px;
  font-family: 'encode_sansregular',Helvetica,sans-serif;
  font-size: 16px;
  color: $negro5;
    thead {
      tr {
        th {
          border-top: none;
          color: $color9;
          vertical-align: bottom;
          border-bottom: 2px solid $color1;;
          text-align: left;
          padding: 8px;
          line-height: 1.42857;
        }
      }
    }
    tbody {
      tr {
        background: $color1-inverso;
        td {
          font-size: 13px;
          padding: 8px 10px;
          vertical-align: middle;
          img {
            cursor: pointer;
            width: 20px;
          }
        }
      }
    }
    tfoot {
      border-top: 1px solid $color19;
      tr{
        background-color: $color21;
        td{
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          padding: 10px 10px;
          font-weight: bold;
        }
      }
    }
    &.table-striped{
      thead {
        tr {
          th {
            border-top: none;
            color: $color9;
            vertical-align: bottom;
            border-bottom: 2px solid $color1;
            text-align: left;
            padding: 8px;
            line-height: 1.42857;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 13px;
            padding: 8px 10px;
            vertical-align: middle;
            img {
              cursor: pointer;
              width: 20px;
            }
          }
        }
      }
      tfoot {
        border-top: 1px solid $color19;
        tr{
          background-color: $color21;
          td{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            padding: 10px 10px;
            font-weight: bold;
          }
        }
      }
    }
    &.table-bordered {
      font-family: 'avenir_light';
      border: 1px solid $gris13;
      thead {
        tr {
          th {
            font-family: 'avenir_heavy';
            border-top: none;
            color: $negro1;
            vertical-align: bottom;
            border-bottom: none;
            text-align: left;
            padding: 8px;
            line-height: 1.42857;
            background: $gris12;
          }
        }
      }
      tbody {
        tr {
          td {
            font-family: 'avenir_light';
            font-size: 13px;
            padding: 8px 10px;
            vertical-align: middle;
            border: 1px solid $gris13;
            img {
              cursor: pointer;
              width: 20px;
            }
          }
        }
      }
      tfoot {
        border-top: 1px solid $negro1;
        tr{
          background-color: $negro1;
          td{
            font-family: 'avenir_heavy';
            font-size: 13px;
            padding: 10px 10px;
            font-weight: bold;
            color: $color1-inverso;
            border: 1px solid $negro1;
          }
        }
      }
    }
}

/* tablas (ficha)  ( dispositivos moviles ) */

@media only screen and (max-width: $screen-sm) {
  /* Force table to not be like tables anymore */
  .no-more-tables table,
  .no-more-tables thead,
  .no-more-tables tbody,
  .no-more-tables tfoot,
  .no-more-tables th,
  .no-more-tables td,
  .no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .no-more-tables tr { border: 1px solid $color23; }

  .no-more-tables tbody tr:nth-child(even){
    background: $color3;
  }

  .no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid $color22;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    vertical-align: middle;
    display: inline-flex;
    width: 100%;
    input[type="file"]{
      /* Modificados estilos para los input[type="file"] en la tabla-ficha */
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
    span {
      width: 100%;
    }
  }

  .no-more-tables td:before {
    /* Now like a table header */
    /*position: absolute;*/
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    /*white-space: nowrap;*/
    white-space: pre-wrap;
    text-align:left;
    font-weight: bold;
  }
  .no-more-tables tfoot {
    width: 100%;
    display:block;
    tr {
      td {
        &:not([data-title]){
          display: none;
        }
        span{
          width: 100%;
          position: relative;
          text-align: right;
        }
      }
    }
  }
  /*
  Label the data
  */
  .no-more-tables td:before {
    content: attr(data-title);
    color:$color9;
    font-size: 16px;
    display: block;
  }
}

/* FooterComponent */

$alto-footer:375px;

footer {
	padding:0;
	background-color: $color6;
  //	height: @alto-footer;

  .container-fluid > div {
		overflow: hidden;
		&:before {
      content:'• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
		 display:block;
		 overflow: hidden;
		 color: $gris5;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
		&:before {
      font-size: 10px; height: 8px; color:$color1-inverso;letter-spacing: 0.05em
    }
}


#certificaciones {
	@include make-md-column(10);
  text-align: center;
	margin: 0 0 15px 0;
	img {width: 362px; max-width: 100%;}
}


#menu-basico {
	@include make-md-column(14);
//	padding:0 0 0 280px;
  text-align: center;
  ul {
    padding: 10px 0;

  li {
    display: inline-block;
    font-family: $font-corporativa-med;

		& + li {

			&:before {
		//	&:extend(.icon-hexagono-solid:before);
        //.icofont;
				 width: 6px;

				 content: '•';
				 display: inline-block;
				 color: $color1-inverso;
				 margin: 0 10px ;
				 font-size: 16px;
				 padding-bottom: 3px;

				 vertical-align:middle;
			}
		}
		a {
			vertical-align:middle;
			color:$color1-inverso;
			&:hover {
				color: $color1;
			}
		}
  }
}
}
@media (max-width: $screen-md) {
		ul li + li:before { margin: 0 6px ;}
}
@media (max-width: 850px) {

	 #menu-basico {padding: 0; }
}
}

#menu_completo {
  padding: 15px 15px 30px 15px;
  min-height: 200px;
  min-width: $min-width;
  h3 {
    color: $color1-inverso;
     margin: 0 0 8px 0;
     height: 40px;
     display: flex;
     align-content: flex-end;
     align-items: flex-end;
     flex-wrap: wrap;
     max-width: 150px;
   }
  >ul {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    > li{
      padding: 0 10px;
      float: left;
      line-height: 14px;

    //  max-width: 224px;
    a {
      color: $color1-inverso;
      font-family: $font-corporativa-sc-rg;
      padding: 6px 2px;
      display: inline-block;
      border-top: 1px dotted transparent;
      border-bottom: 1px dotted transparent;
      width: 100%;
      @include transition_efect;
      &:hover{
    //    color: @color1;
      //  .dotted_bottom;
      //  .dotted_top;
    //  border-top: 1px dotted @gris6;
  //    border-bottom: 1px dotted @gris6;
        background-color: rgba(255, 255, 255, 0.1);
        }}
    }
    @include transition_efect;
    &:hover {
      >li>ul>li:first-child a {
        border-top: 1px dotted $gris6;
        border-bottom: 1px dotted $gris6;
      }
      a {
          border-bottom: 1px dotted $gris6;
      }
    }
  }

    @media (max-width: 1200px) {
    //  padding-bottom: 0;
          > ul >li {
              width: 33%;
              max-width:inherit;
              margin-bottom: 25px;
            }
        }

        @media (max-width: $screen-is) {
          padding-bottom: 0;
              > ul >li {
                  flex-basis: 50%;
                //  max-width:inherit;
                //  margin-bottom: 25px;
                }
            }
            @media (max-width: $screen-xs) {
              padding: 15px 0;
                  > ul >li {
                    }
          }
}

#menu_completo {
  @include clearfix;
  max-width: $screen-lg;
  margin: 0 auto;
  ul {
    list-style-type: none !important;
    padding-left: 0px;
  }
  >ul>li {
    margin-bottom: 25px;
  }
   .menu_publico {
       @include make-md-column(14);
       >li {width: 33%;}
   }
   .menu_colegiados {
    @include make-md-column(10);
       background-color: $color1;
       >li {width: 50%}
   }
  @media (max-width: $screen-md) {
    .menu_colegiados >li {width: 33%;}
  }
}

@media (min-width: 992px){
  footer #certificaciones {
      float: left;
      width: 41.66666667%;
  }
  footer #menu-basico {
    float: left;
    width: 58.33333333%;
}
}
ngx-recaptcha2 {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Leyenda */

legend {
  &.literal {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    color: $color1;
    margin-bottom: 1rem;
    font-style: italic;

  }
  &.imagen{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    color: $color1;
    margin-bottom: 1rem;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 3px;
      vertical-align: sub;
      background-color: rgb(255, 255, 204);
      border: 1px solid $color1;
    }
  }
}

/* Pagina de error (error-page-component) */
.content-error-page {
  text-align:center;
  h3 {
    font-family: 'avenir_heavy',Helvetica,sans-serif !important;
    font-size:32px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 75%;
  }
  p {
    a{
      font-family: 'avenir_heavy',Helvetica,sans-serif;
      font-size:32px;
      line-height: 32px;
    }
  }
}

/* Estilos genericos para card */

.card {
  border-bottom-color: $color10;
  h3 {
    &.card-title {
      text-transform: uppercase;
      span {
        vertical-align: text-top;
      }
    }
  }
}



/* Estilos para el componente toast  */

.toast {
  border: none;
  border-radius: 0;
  background: $color11;
  color: $color1-inverso;
  box-shadow: none;
  font-family: 'avenir_light';
  font-size: 15px;
  .toast-header {
    border-bottom: none;
    border-radius: 0;
    background-color: $color11;
    color: $color1-inverso;
    .close {
        text-shadow: none;
        color: $color1-inverso;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        &:focus {
          outline: none;
        }
      }
  }
  .toast-body {
    background: $color11;
    color: $color1-inverso;
  }
}

/* Estilos para el componente ngbDatepicker */

.ngb-dp-header {
  font-family: 'encode_sansregular', Helvetica, sans-serif;
  background-color: $color12 !important;
  .ngb-dp-arrow {
    .ngb-dp-arrow-btn {
      color: $color1;
      &:focus {
        outline: none;
      }
    }
  }
  select {
    color: $gray-base2;
    font-style: normal;
    margin-top: 3px;
    height: 30px;
    line-height: 26px;
    border-radius: 0;
    border: 1px solid $color1;
    padding: 3px 6px;
    opacity: 0.8;
    margin-left: 1px;
    margin-right: 1px;
    &:focus{
      border-color: $azul;
      outline: none;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    }
  }
}
.ngb-dp-week{
  /*background-color:$color12 !important;*/
  .ngb-dp-weekday{
    color: $color1 !important;
  }
}
.ngb-dp-day {
  .btn-light {
    &.bg-primary {
      background: $color1 !important;
    }
  }
}
[ngbDatepickerDayView]{
  border-radius: 0 !important;
}

/* Paginador */
ngb-pagination {
  margin-left: auto;
  margin-right: auto;
  display: table;
  .pagination {
    flex-wrap: wrap;
    .page-item {
      a {
        color: $color1 !important;
        border-radius: 20px;
        padding: 8px;
        text-align: center;
        min-width: 35px;
        margin-left: 1px;
        margin-right: 1px;
        background-color: $color1-inverso;
        border: 1px solid #ddd;
        &:hover {
          color: $color1-hover;
          text-decoration: none;
          background-color: $color22 !important;
        }
        &:focus {
          box-shadow: none;
        }
      }
      &.disabled{
        cursor: not-allowed;
      }
      &.active {
        a{
          background-color: $color1 !important;
          border-color: $color1 !important;
          color: $color1-inverso !important;
          cursor: default;
        }
      }
      &:first-child{
        a {
          border-radius: 20px;
        }
      }
      &:last-child{
        a {
          border-radius: 20px;
        }
      }
    }
    @media(max-width:$screen-is-600) {
      li {
        margin-bottom: 5px;
        &:nth-child(1) {
          width:100%;
        }
        &:nth-child(2) {
          width:100%;
        }
        &:nth-child(3){
          margin-left: 32%;
        }
        &:nth-child(2) {
          width:100%;
        }
        &:nth-last-child(1) {
          width:100%;
        }
        &:nth-last-child(2) {
          width:100%;
        }
      }
    }
    @media(max-width:$screen-xs){
      li{
        &:nth-child(3){
          margin-left: 29%;
        }
      }
    }
    @media(max-width:$screen-xs-360){
      li{
        &:nth-child(3){
          margin-left: 20%;
        }
      }
    }
    @media(max-width:$screen-xxxxs){
      li{
        &:nth-child(3){
          margin-left: 18%;
        }
      }
    }
  }
}
