@import "../../../../../../estilos/coaatm.variables.scss";

[promotores-encargo]{
  background: $color3;
}


[seleccionar-promotor-anterior]{
  background: $color3;
}

.listapromotoresanteriores{
    list-style:none;
    padding-left:0px;
}
.listapromotoresanteriores li{
    list-style:none;
    font-size:12px;
    margin-left:30px;
    color:$color1;
    cursor:pointer;
}
