<ng-container [ngSwitch]="Operacion">
  <div class="container" @fadeinout *ngSwitchCase="'listando'">
    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <ng-container *ngIf="!readonly">
            <button class="mb-2" appBoton="Seleccionar anterior" (click)="Operacion='seleccionando'"></button>
            <button class="mb-2 ml-2" appBoton="Añadir" (click)="empezarInsercion()"></button>
          </ng-container>
          <!-- <button appBoton="Añadir" class="mb-1" (click)="empezarInsercion()" *ngIf="!readonly"></button> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="no-more-tables">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Física/Jurídica</th>
                <th>NIF</th>
                <th>Nombre/Razón social</th>
                <th>Promotor</th>
                <th>% Obra (promotor)</th>
                <th>Autor encargo</th>
                <th>% Obra (autor encargo)</th>
                <th>% GG</th>
                <th>Est</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let interviniente of intervinientes">
                <td data-title="Física/Jurídica">
                  {{interviniente.TipoPersona | tipoPersona}}
                </td>
                <td data-title="NIF">
                  {{interviniente.Nif}}
                </td>
                <td data-title="Nombre">
                  {{interviniente.Nombre}}
                </td>
                <td data-title="Promotor">
                  {{interviniente.Promotor | siNo}}
                </td>
                <td data-title="% Obra-promotor">
                  {{interviniente.PorcentajeObraPromotor}}
                </td>
                <td data-title="Autor encargado">
                  {{interviniente.Autor | siNo}}
                </td>
                <td data-title="% Obra-autor">
                  {{interviniente.PorcentajeObraAutor}}
                </td>
                <td data-title="% GG">
                  {{interviniente.PorcentajeGastosGestion}}
                </td>
                <td data-title="Est" class="text-center">
                  <button [appBotonIcono]="readonly ? 'VER' : 'EDITAR'"
                    (click)="empezarModificacion(interviniente)"></button>
                  <button appBotonIcono="BORRAR" *ngIf="!readonly && !interviniente.EsEmpresaDeColegiadoAsalariado"
                    appConfirmacion="¿Seguro que quiere eliminar el promotor/autor como interviniente de la solicitud?"
                    (confirmado)="borrar(interviniente)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <form name="form" *ngSwitchCase="'editando'" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate @fadeinout
    promotores-encargo>

    <div class="container pb-3">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-md-12">
            <h5 *ngIf="Nuevo">Nuevo autor/promotor de encargo</h5>
            <h5 *ngIf="!Nuevo">Modificar autor/promotor de encargo</h5>
          </div>
        </div>
        <div class="row" [appBloqueObligatorio]="true">
          <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div>
          <div class="col-md-3">
            <div class="form-group">
              <label [appMarcadorObligatorio]="true">Tipo de persona</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipopersona" id="Fisica" value="F"
                [(ngModel)]="modelo.TipoPersona">
              <label class="form-check-label" for="Fisica">Física</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipopersona" id="Juridica" value="J"
                [(ngModel)]="modelo.TipoPersona">
              <label class="form-check-label" for="Juridica">Jurídica</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label [appMarcadorObligatorio]="true">Nif</label>
              <input type="text" name="Nif" #Nif="ngModel" class="form-control" required [(ngModel)]="modelo.Nif"
                [nif]="modelo.TipoPersona=='F'" pattern="^[A-Z,a-z,0-9]{1,20}$" [disabled]="modelo.EsEmpresaDeColegiadoAsalariado" />
              <div class="invalid-feedback d-block" *ngIf="Nif.errors?.required && Nif.dirty">
                El campo Nif es obligatorio
              </div>
              <div class="invalid-feedback d-block" *ngIf="Nif.errors?.nif">
                El campo Nif no tiene un formato correcto
              </div>
              <div class="invalid-feedback d-block" *ngIf="Nif.errors?.pattern">
                El campo Nif no tiene un formato correcto (solo números y letras)
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label [appMarcadorObligatorio]="true">Nombre/Razón social</label>
              <input name="Nombre" type="text" class="form-control" #Nombre="ngModel" [(ngModel)]="modelo.Nombre"
                required [disabled]="modelo.EsEmpresaDeColegiadoAsalariado" />
              <div class="invalid-feedback d-block" *ngIf="Nombre.errors?.required && Nombre.dirty">
                El campo Nombre/Razón social es obligatorio
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Representante</label>
              <input name="Representante" type="text" class="form-control" [(ngModel)]="modelo.Representante" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Seguros</label>
              <input name="Seguros" type="text" class="form-control" [(ngModel)]="modelo.Seguros" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Teléfono</label>
              <input name="Telefono" type="text" class="form-control" #Telefono="ngModel" [(ngModel)]="modelo.Telefono"
                pattern="[0-9]{9,15}" />
              <div class="invalid-feedback d-block" *ngIf="Telefono.errors?.pattern && Telefono.dirty">
                El teléfono deber tener entre 9 y 15 dígitos(solo números)
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" id="Autor" name="Autor" type="checkbox" #Autor="ngModel"
                [(ngModel)]="modelo.Autor" [required]="!modelo.Promotor || modelo.EsEmpresaDeColegiadoAsalariado">
              <label class="form-check-label" for="Autor">
                Autor del encargo
              </label>
              <div class="invalid-feedback d-block" *ngIf="Autor.errors?.required">
                <ng-container *ngIf="modelo.EsEmpresaDeColegiadoAsalariado;else unoobligatorio">
                  Es obligatorio por ser asalariado de al menos un colegiado de la intervención
                </ng-container>
                <ng-template #unoobligatorio>
                  Uno de los dos es obligatorio
                </ng-template>
              </div>
            </div>
            <div class="form-group" [appBloqueObligatorio]="modelo.Autor">
              <label *ngIf="modelo.Autor" for="honorarios" [appMarcadorObligatorio]="modelo.Autor">% Participacion
                obra</label>
              <label *ngIf="!modelo.Autor" for="honorarios">% Participacion obra</label>
              <input class="form-control" name="PorcentajeObraAutor" #PorcentajeObraAutor="ngModel" type="text" campoporcentaje
                [(ngModel)]="modelo.PorcentajeObraAutor" [required]="modelo.Autor" [range]="[modelo.EsEmpresaDeColegiadoAsalariado ? 0.01: 0,100]">
              <div class="invalid-feedback d-block"
                *ngIf="PorcentajeObraAutor.errors?.required && PorcentajeObraAutor.dirty">
                Si el interviniente es Autor del encargo es obligatorio indicar el porcentaje de participación
              </div>
              <div class="invalid-feedback d-block" *ngIf="PorcentajeObraAutor.errors?.range">
                <ng-container *ngIf="modelo.EsEmpresaDeColegiadoAsalariado;else entre0y100">
                  El % Obra debe ser mayor de 0 y menor o igual a 100
                </ng-container>
                <ng-template #entre0y100>
                  El % Obra desbe estar comprendido entre 0 y 100
                </ng-template>
                
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" id="Promotor" name="Promotor" type="checkbox" #Promotor="ngModel"
                [(ngModel)]="modelo.Promotor" [required]="!modelo.Autor">
              <label class="form-check-label" for="Promotor">
                Promotor del encargo
              </label>
              <div class="invalid-feedback d-block" *ngIf="Promotor.errors?.required">
                Uno de los dos es obligatorio
              </div>
            </div>
            <div class="form-group" [appBloqueObligatorio]="modelo.Promotor">
              <label *ngIf="modelo.Promotor" for="honorarios" [appMarcadorObligatorio]="modelo.Promotor">%
                Participacion
                obra</label>
              <label *ngIf="!modelo.Promotor" for="honorarios">% Participacion obra</label>
              <input class="form-control" campoporcentaje name="PorcentajeObraPromotor" #PorcentajeObraPromotor="ngModel" type="text"
                [disabled]="!modelo.Promotor" [(ngModel)]="modelo.PorcentajeObraPromotor" [required]="modelo.Promotor"
                [range]="[0,100]">
              <div class="invalid-feedback d-block"
                *ngIf="PorcentajeObraPromotor.errors?.required && PorcentajeObraPromotor.dirty">
                Si el interviniente es Promotor del encargo es obligatorio indicar el porcentaje de participación
              </div>
              <div class="invalid-feedback d-block" *ngIf="PorcentajeObraPromotor.errors?.range">
                El % Obra debe estar comprendido entre 0 y 100
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" [appBloqueObligatorio]="true" *ngIf="modelo.Autor">
              <label for="gastosgestion" [appMarcadorObligatorio]="true">% Gastos Gestión</label>
              <input class="form-control mt-4" type="text" campoporcentaje [range]="[0,100]" id="gastosgestion"
                #PorcentajeGastosGestion="ngModel" name="PorcentajeGastosGestion"
                [(ngModel)]="modelo.PorcentajeGastosGestion" [required]="true">
              <div class="invalid-feedback d-block"
                *ngIf="PorcentajeGastosGestion.errors?.required && PorcentajeGastosGestion.dirty">
                El campo es obligatorio
              </div>
              <div class="invalid-feedback d-block" *ngIf="PorcentajeGastosGestion.errors?.range">
                El % de Gastos de gestión debe estar comprendido entre 0 y 100
              </div>
            </div>
          </div>
        </div>
        <app-direccion [ubicacion]="modelo.Direccion"></app-direccion>
      </fieldset>
      <div class="row">
        <div class="offset-md-8 col-md-4">
          <div class="btn-group" class="float-right">
            <button appBoton="CANCELAR" type="reset" class="mr-1" (click)="cancelar()"></button>
            <button appBoton="Guardar" *ngIf="!readonly" type="submit" [disabled]="!f.valid"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngSwitchCase="'seleccionando'" class="container pt-3 pb-3" @fadeinout seleccionar-promotor-anterior>
    <div class="row">
      <div class="col-md-12">
        <h6>Seleccione una autor/promotor de encargo anterior</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Podrá seleccionar un autor/promotor de alguna intervención anterior</p>
        <ul class="listapromotoresanteriores">
          <li *ngFor="let fav of favoritos" (click)="empezarInsercion(fav)">
            {{fav.Nif}} - {{fav.Nombre}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="btn-group" class="float-right">
          <button appBoton="CANCELAR" (click)="Operacion='listando'"></button>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<!-- <ng-template #detalle>


</ng-template>
<ng-template #anterior>

</ng-template> -->