<div class="content-error-page">
  <h3>Se ha producido un error en la aplicación.</h3>
  <img src="assets/images/logo-vector-aparejadores-madrid.jpg">
  <p>
    <a [routerLink]="[router.snapshot.queryParams['previous']?router.snapshot.queryParams['previous']:'']">Pulse aquí para ir a la página anterior</a>
  </p>
</div>
