<app-drowdown-card titulo="Renuncia" [ocultadoinicialmente] = "false">
  <div class="form-group">
    <label>Id. Intervencion</label>
    <input type="text" name="intervencion" class="form-control" [(ngModel)]="intervencion"/>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" id="registro" name="registro" type="checkbox"
        [(ngModel)]="registro">
      <label class="form-check-label" for="gestioncobro">
        Registro
      </label>
    </div>
  </div>
  <div class="button-block">
    <button appBoton="Renunciar" [appConfirmacion]="'¿Seguro que quiere renunciar a la intervención indicada?'" (confirmado)="renunciar()"></button>
  </div>
</app-drowdown-card>

