<div>
  <h5>Resultado incumplimiento ITE</h5>
  <div class="form-check" *ngFor="let o of opciones">
    <input class="form-check-input" type="checkbox" [(ngModel)]="o.checked" (change)="recalcular()">
    <label class="form-check-label">
      {{o.titulo}}
    </label>
  </div>
</div>