
<div class=""></div>
  <table class="table table-bordered" *ngIf="data && data.length" ngModelGroup="participaciones"   appSuma100Validator>
      <thead>
        <tr>
          <td></td>
          <td colspan="2">{{sociedad}}</td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <th>Colegiado</th>
          <th>% Participación</th>
          <th *ngIf="ESMODIFICACION">% Participacion anterior</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let p of data" >
          <td>{{p.IdColegiado}}</td>
          <td>{{p.Nombre}}</td>
          <td>
            <div class="form-group">
                <input type="number" [(ngModel)]="p.PorcentajeParticipacion" #ctrl="ngModel" [name]="'p' + p.IdColegiado" [range]="[0,100]" required>
                <div class="invalid-feedback d-block" *ngIf="ctrl.errors?.range">El porcentaje de participación debe estar comprendido entre 0 y 100</div>
                <div class="invalid-feedback d-block" *ngIf="ctrl.errors?.required">El porcentaje de participación es obligatorio</div>
            </div>
          </td>
          <td *ngIf="ESMODIFICACION">
            {{p.PorcentajeParticipacionAnterior}}
          </td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td>{{total + '%'}}</td>
            <td><div class="invalid-feedback d-block" *ngIf="total!==100">El total de participación debe ser 100</div></td>
          </tr>
      </tfoot>
    </table>

