<div class="container" *ngIf="!seleccionando;else seleccionandotpl" @fadeinout>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" class="float-right">
        <button appBoton="SELECCIONAR" (click)="seleccionando=true" *ngIf="!readonly"></button>
      </div>
      <dl>
        <dt>Actuación</dt>
        <dd>{{actuacion?.Descripcion}}</dd>
        <dt>Intervención</dt>
        <dd>{{intervencion?.Descripcion}}</dd>
      </dl>
    </div>
  </div>
</div>

<ng-template #seleccionandotpl>
  <div class="container" @fadeinout>
    <div class="card-body">
      <h3>Selección de actuación o tipo de intervención</h3>
      <div class="mt-3">
        <h5>Más frecuentes</h5>
        <ul class="masfrecuentes">
          <li *ngFor="let fav of favoritos">
            <span (click)="seleccionafrecuente(fav)">{{fav.Descripcion}}</span>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Buscador de actuación/tipo de intervención</label>
        <input placeholder="Indique el tipo de intervención o la actuación" [(ngModel)]="filtro"
          (ngModelChange)="onFilterChange($event)" class="form-control">
      </div>
      <div class="row" *ngIf="tiposintervencionfiltradas.length>0; else sindatos">
        <ng-container *ngFor="let tipo of tiposactuacion; let even = even; let odd=odd">
          <app-tipo-actuacion class="col-md-6" *ngIf="even || odd" (onSelect)="selecciona($event)" [tipo]="tipo"
            [tiposIntervencion]="tiposintervencionfiltradas" [filtro]="filtro">
          </app-tipo-actuacion>
        </ng-container>
      </div>
      <div class="btn-group float-right mt-4">
        <button class="btn btn-primary" (click)="seleccionando = false">Cancelar</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-template>
<ng-template #sindatos>
  <div class="alert alert-danger mt-4">
    <p>No hay datos para la búsqueda especificada</p>
  </div>
</ng-template>