@import "../../../../../../estilos/coaatm.variables.scss";

.card-header {
  background-color: $color3;
}
.card-body {
  background: $color3;
}

.masfrecuentes {
  list-style:none;
  padding-left:0px;
}
.masfrecuentes li{
  list-style:none;
  font-size:12px;
  margin-left:30px;
  color:$color1;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 5px;
  }
  span {
    text-decoration: underline;
    cursor:pointer;
  }
  @media(max-width:$screen-md) {
    margin-left: 15px;
  }
  @media(max-width:$screen-xs) {
    margin-left: 5px;
  }
}


