<!--<dl class="row">
  <dt class="col-md-3">Número de intervención:</dt>
  <dd class="col-md-8">{{intervencion?.IdIntervencion}}</dd>
  <dt class="col-md-3">Nombre de intervención:</dt>
  <dd class="col-md-8">{{intervencion?.TipoIntervencion | tipoIntervencion | async}}</dd>
  <dt class="col-md-3">Localización de la obra</dt>
  <dd class="col-md-8">{{intervencion?.Ubicacion | direccion | async}}</dd>
  <dt class="col-md-3">Estado de la obra</dt>
  <dd class="col-md-8">{{intervencion?.Estado | estadoIntervencion | async}}</dd>
  <dt class="col-md-3">Porcentaje de obra pendiente</dt>
  <dd class="col-md-8">{{intervencion?.PorcentajeObraPendiente}}%</dd>
</dl>-->
<div class="row container">
  <dl>
    <dt class="">Número de intervención:</dt>
    <dd class="">{{intervencion?.IdIntervencion}}</dd>
    <dt class="">Nombre de intervención:</dt>
    <dd class="">{{intervencion?.TipoIntervencion | tipoIntervencion | async}}</dd>
    <dt class="">Localización de la obra</dt>
    <dd class="">{{intervencion?.Ubicacion | direccion | async}}</dd>
    <dt class="">Estado de la obra</dt>
    <dd class="">{{intervencion?.Estado | estadoIntervencion | async}}</dd>
    <dt class="">Porcentaje de obra pendiente</dt>
    <dd class="">{{intervencion?.PorcentajeObraPendiente}}%</dd>
  </dl>
</div>

