<div class="card mb-3">
  <div class="card-header">
    <!-- [ngClass]="{'bg-primary':tramite.Compartido}" -->
    <ng-content select="ng-container.titulo"></ng-content>
    <div class="float-right">
        <ng-content selecct="app-ayuda"></ng-content>
    </div>    
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <ng-content select="ng-container.columna1"></ng-content>
      </div>
      <div class="col-md-4">
        <ng-content select="ng-container.columna2"></ng-content>
      </div>
      <div class="col-md-2">
        <ng-content select="ng-container.columna3"></ng-content>
      </div>
      <div class="col-md-2">
        <ng-content select="ng-container.columna4"></ng-content>
      </div>
    </div>
  </div>
</div>