<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <label>Código de intervencion</label>
        <input [(ngModel)]="filtro.IdIntervencion" class="form-control" type="text" placeholder="Código de intervención" />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label>Dirección</label>
        <input [(ngModel)]="filtro.Direccion" class="form-control" type="text" placeholder="Dirección" />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label>Estado de la obra </label>
        <select class="form-control" [(ngModel)]="filtro.EstadoObra">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let estado of estadosobra" [value]="estado.Codigo"
            [selected]="estado.Codigo===filtro.EstadoObra">
            {{estado.Descripcion}}</option>
        </select>
      </div>
    </div>    
    <div class="col-lg-3 my-auto text-center">
      <div class="form-group">
        <div class="col-lg-12">
          <button appBoton="FILTRAR" (click)="filtrar.emit(filtro)" class="mx-1"></button>          
        </div>
      </div>
    </div>
  </div>
</div>