<form (ngSubmit)="buscar()" #f="ngForm" class="form-inline">
  <div class="col-md-12 text-center">
    <div class="">
      <label class="sr-only" for="numerocolegiado">Nº colegiado</label>
      <input placeholder="Nº colegiado" type="text" class="form-control mr-1 mb-1" [(ngModel)]="numerocolegiado"
        id="numerocolegiado" name="numerocolegiado" #camponumerocolegiado="ngModel" required />
      <label class="sr-only" for="nif">Nif</label>
      <input placeholder="Nif" type="text" class="form-control mr-1 mb-1" [(ngModel)]="nif" name="nif" #camponif="ngModel" required />
      <button type="submit" appBoton="AÑADIR" [disabled]="!f.valid"></button>
    </div>
    <div class="mb-1">
      <span>{{mensaje}}</span>
    </div>
  </div>
</form>
