<div class="intervencion">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mr-0 ml-0 pr-1 pl-0">
        <div class="card">
          <div class="card-header">
            <ng-container *ngIf="intervencion.EsRegistro;else visado">Registro</ng-container>
            <ng-template #visado>Visado</ng-template>
          </div>
          <div class="card-body">
            <p>#{{intervencion.Id}}</p>
            <p><strong>{{intervencion.TipoIntervencion}}
                {{intervencion.TipoIntervencion | tipoIntervencion | async}}</strong></p>
            <p>{{intervencion.Direccion}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 mr-0 ml-0 pr-1 pl-0">
        <div class="card">
          <div class="card-header">
            Fechas
          </div>
          <div class="card-body">
            <span
              class="d-inline-block mb-3 fecha"><strong>Creación:</strong>{{intervencion.FechaCreacion | fecha}}</span>
            <span
              class="d-inline-block mb-3 fecha"><strong>Actualización:</strong>{{intervencion.FechaActualizacion | fecha}}</span>
            <!-- <dl>
              <dt>Creación:</dt>
              <dd>{{intervencion.FechaCreacion | date}}</dd>
              <dt>Actualización:</dt>
              <dd>{{intervencion.FechaActualizacion | date}}</dd>
            </dl> -->
          </div>
        </div>
      </div>
      <div class="col-md-2 mr-0 ml-0 pr-1 pl-0">
        <div class="card">
          <div class="card-header">
            Trámites
          </div>
          <div class="card-body">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar Accion</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let accion of acciones" ngbDropdownItem (click)="LanzarAccion(accion)">{{accion.Descripcion}}</button>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mr-0 ml-0 pr-0 pl-0">
        <div class="card">
          <div class="card-header">
            Estado
          </div>
          <div class="card-body">
            {{intervencion.Estado | estadoIntervencion |async }}
          </div>
        </div>
      </div>
    </div>
    <div class="row" [@dropdown]="desplegado ? 'open' : 'closed'">
      <div class="col-md-4 mr-0 ml-0 pr-1 pl-0">
        <div class="card">
          <div class="card-header">
            Intervinientes
          </div>
          <div class="card-body">
            <dl>
              <dt>Colegiados:</dt>
              <dd *ngFor="let c of intervencion.Colegiados">
                Col. {{c.IdColegiado}} -
                {{c.Apellido1 + " " + c.Apellido2 + ", " + c.Nombre}}({{c.PorcentajeParticipacion | porcentaje}})
              </dd>
              <dt>Autores de encargo</dt>
              <dd *ngFor="let a of intervencion.AutoresEncargo">
                <ng-container *ngIf="a.EsAutorEncargo">
                  {{a.Nombre}}({{a.PorcentajeAutor | porcentaje}})
                </ng-container>
              </dd>
              <dt>Promotores</dt>
              <dd *ngFor="let a of intervencion.AutoresEncargo">
                <ng-container *ngIf="a.EsPromotor">
                  {{a.Nombre}}({{a.PorcentajePromotor | porcentaje}})
                </ng-container>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-2 mr-0 ml-0 pr-1 pl-0">
        <div class="card">
          <div class="card-header">
            Datos
          </div>
          <div class="card-body">
            <dl>
              <ng-container *ngIf="intervencion.DatosAdicionales?.Presupuesto">
                <dt>Presupuesto</dt>
                <dd>{{intervencion.DatosAdicionales?.Presupuesto | customcurrency}}</dd>
              </ng-container>
              <ng-container *ngIf="intervencion.DatosAdicionales?.Superficie">
                <dt>Superficie</dt>
                <dd>{{intervencion.DatosAdicionales?.Superficie | superficie}}</dd>
              </ng-container>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-6 mr-0 ml-0 pr-0 pl-0">
        <div class="card">
          <div class="card-header">
            Detalle Trámites
          </div>
          <div class="card-body">
            <ng-container *ngIf="intervencion?.Tramites?.length;else notramites">
              <table class="table">
                <thead>
                  <tr>
                    <th>Solicitud</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let tramite of intervencion.Tramites | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td><a
                        [routerLink]="t2route.GetRoute(tramite.TipoTramite,tramite.IdSolicitud)">{{tramite.IdSolicitud}}</a>
                    </td>
                    <td>{{tramite.Fecha | fecha}}</td>
                    <td>{{tramite.TipoTramite | tipoTramite | async }}</td>
                    <td><span [appEstadoTramite]="tramite?.EstadoTramite"></span></td>
                  </tr>
                </tbody>
              </table>
              <app-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="intervencion?.Tramites.length">
              </app-pagination>
            </ng-container>
            <ng-template #notramites>
              <div class="alert alert-danger">
                No hay trámites registrados para la intervención
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="desplegable" (click)="desplegado=!desplegado" [ngClass]="{'desplegado':desplegado}"></span>