@import "../../../../../../estilos/coaatm.variables.scss";

$micolor: #324450;
.intervencion{    
    // display: inline;
    // vertical-align: center;    
    // padding-top: 15px;    
    // width: 100%;
    //margin-bottom: 50px;
    // border-bottom: 1px solid $gris11;
    // color: $negro1;
    // cursor: pointer;
    .container{
        border:solid thin $micolor;    
        margin-bottom:0px;        
    }
    &:after{
      content: '';
      width: 96px;
      height: 46px;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 37px;
      margin-top: 0px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background: $micolor;
      @media(max-width:$screen-xs){
        width: 78px;
        height: 38px;
      }
    }
}


.card{
    margin:0px;
    border:none;    
    .card-header{
        border:none;
        background-color:$micolor;
        color:white;
        border-radius: 0px;
        padding:4px 10px;
    }
    .card-body{
      padding-left:5px;
      dl{
        dd{
          margin-left:10px ;
        }
      }
    }
}
.pr-1{
  padding-right:1px !important;
}



.desplegable{
    background-image: url('../../../../../../assets/images/flecha-arriba.png');
    
    &.desplegado{
        transform: rotate(0deg);  
        transition: transform 0.2s ease-in-out;  
    }
    background-repeat: no-repeat;
    
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    position: absolute;
    margin-top: -46px;
    left: 48.5%;    
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    @media(max-width:$screen-md){
      left: 47.5%;
    }
    @media(max-width:$screen-sm){
      left: 47%;
    }
    @media(max-width:$screen-is-600){
      left: 46%;
    }
    @media(max-width:$screen-xs){
      left: 47.8%;
      margin-top: 40px;
    }
    @media(max-width:$screen-xs-360){
      left: 46.5%;
    }
  }



/* Estilos estado tramites. TODO: ver como quitar esto de aquí y trasladarlo a la directiva */
.contenedor-estado-tramites {
  /*color:$color1-inverso;*/
  text-align:center;
  font-weight:normal;
  padding: 0px 2px;
  margin-left: 5px;
  /*background-color: $color14;*/
  span{
    color: $color1-inverso;
    margin-left: 5px;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 50%;
  }
}


.card-body {
  padding-top: 5px;
  padding-bottom: 5px;
  // border-bottom: 1px dotted #707070;
  p{
    padding:0px;
    margin:0px;
    
  }
  .row {
    div {
      border-right: 1px solid $color11;
      @media(max-width:$screen-sm-1){
        border-right: none;
      }
      &:first-child {
        padding-left: 0px;
        @media(max-width:$screen-sm-1){
          padding-left: 15px;
        }
      }
      &:last-child {
        border-right: none;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;
        @media(max-width:$screen-sm-1){
          text-align: center;
        }
      }
    }
  }
  .fecha {
    @media(max-width:$screen-sm-1){
      width: 100%;
    }
  }
  .estado {
    @media(max-width:$screen-sm-1){
      width: 100%;
    }
  }
}