<button type="button" class="btn btn-sm" (click)="toggle()" [ngClass]="{'checked':valor}" >
    <ng-container *ngIf="valor">SI</ng-container >
    <ng-container  *ngIf="!valor">NO</ng-container >
  </button>
