
.btn{
    color:white;
    background-color:#384248;
    padding-right:2px;
    padding-left:2px;
}
.checked{
    color:white;
    background-color:#aa1e32;
    padding-right:7px;
    padding-left:7px;
}

.btn::selected{
    border-color:transparent;
}
