<div class="cabecera mt-3" [ngClass]="{'activo':paso.indicador===activo,'disabled':!paso.enabled}" #capacontenedorapaso >  
  <div class="indicadorpaso" (click)="toggle()">
    <div class="literalpaso">PASO</div>
    <div class="numeropaso">{{paso.indicador}}</div>
    <div class="literalpaso"><!--{{paso.indicador}}--> DE {{total}}</div>
  </div>
  <div class="titulo" (click)="toggle()">{{paso.titulo}}</div>
  <span class="dropdown-paso" (click)="toggle()"></span>
</div>
<div class="contenidopaso" *ngIf="paso.indicador===activo" @inOutAnimation >
    <ng-content *ngTemplateOutlet="plantilla"></ng-content>
</div>
