@import "../../../../../../estilos/coaatm.variables.scss";

.cabecera {
    display:flex;
    flex-direction: row;
    height: 103px;
    font-family : 'avenir_light';
    .indicadorpaso {
      cursor: pointer;
      display: block;
      /*height: 103px;*/
      /*width: 103px;*/
      height: 90px;
      width: 90px;
      text-align: center;
      padding-top: 8px;
      border-radius: 50%;
      border: 1px solid $gris11;
      color: $negro1;
      position: absolute;
      /*z-index: 998;*/
      background: $color1-inverso;
      margin-top: 5px;
      margin-left: -1px;
      @media(max-width:$screen-xs){
        height:50px;
        width:50px;
        padding-top: 3px;
        margin-top: 20px;
        left:20px;
      }
      .literalpaso {
        font-size:13px;
        @media(max-width:$screen-xs){
          font-size: 9px;
        }
      }
      .numeropaso {
        font-size:35px;
        margin-top: -8px;
        margin-bottom: -8px;
        @media(max-width:$screen-xs){
          font-size: 24px;
        }
      }
    }
    &.activo {
      .indicadorpaso {
        background-color:$color1;
        border: 1px solid $color1;
        cursor:default;
        color: $color1-inverso;
      }
      .titulo{
        border-bottom: 1px solid $color1;
        cursor: text;
        &:after {
          background: $color1;
          cursor: text;
        }
      }
      .dropdown-paso {
        transform: rotate(0deg);
        left: 49.2%;
        margin-top: 60px;
        transition: transform 0.2s ease-in-out;
        cursor: text;
        @media(max-width:$screen-md){
          left: 49%;
        }
        @media(max-width:$screen-sm){
          left: 48.6%;
        }
        @media(max-width:$screen-xs){
          left: 50.5%;
          /*top: 7px;*/
        }
        @media(max-width:$screen-xs-360){
          left: 50.5%;
        }
      }
    }
    &.disabled {
      .indicadorpaso {
        background-color: $gris11;
        color: $color1-inverso;
        cursor:default;
      }
      .titulo{
        color:$color6;
        border-bottom: 1px solid $gris11;
      }
    }
    .titulo {
      font-family: 'avenir_light';
      display: inline;
      vertical-align: center;
      text-align: center;
      padding-top: 15px;
      font-size: 25px;
      font-weight: bold;
      width: 100%;
      margin-bottom: 50px;
      border-bottom: 1px solid $gris11;
      color: $negro1;
      cursor: pointer;
      &:after{
        content: '';
        width: 96px;
        height: 46px;
        border-bottom-left-radius: 110px;
        border-bottom-right-radius: 110px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 37px;
        margin-top: 1px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        background: $gris11;
        @media(max-width:$screen-xs){
          width: 78px;
          height: 38px;
        }
      }
      @media(max-width:$screen-xs){
        font-size: 20px;
        margin-bottom: 57px;
        margin-left: 26px;
      }
    }
    .dropdown-paso{
      background-image: url('../../../../../../assets/images/flecha-arriba.png');
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      position: absolute;
      margin-top: 46px;
      left: 48%;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      @media(max-width:$screen-md){
        left: 47.5%;
      }
      @media(max-width:$screen-sm){
        left: 47%;
      }
      @media(max-width:$screen-is-600){
        left: 46%;
      }
      @media(max-width:$screen-xs){
        left: 47.8%;
        margin-top: 40px;
      }
      @media(max-width:$screen-xs-360){
        left: 46.5%;
      }
    }
}
.contenidopaso {
    margin-left:70px;
    @media(max-width:$screen-md){
      margin-left: 40px;
    }
    @media(max-width:$screen-sm){
      margin-left: 0px;
    }
}
