<div class="no-more-tables">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Colegiado</th>
        <th>Nombre</th>
        <!-- <th>Seguro</th>
        <th>I.E.E</th>
        <th>Visado</th> -->
        <th>Validada</th>
        <th>F. Validacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of colegiados">
        <td data-title="Colegiacion">
          {{c.IdColegiado}}
        </td>
        <td data-title="Nombre">
          {{c.Nombre}}
        </td>
        <!-- <td>{{c.SeguroAceptado | siNo}}</td>
        <td>{{c.InformeEvaluacionEdificiosAceptado | siNo}}</td>
        <td>{{c.VisadoAceptado | siNo}}</td> -->
        <td data-title="Validada">{{c.SolicitudValidada | siNo}}</td>
        <td data-title="Nombre">{{c.FechaValidacion | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<form name="form" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-md-12" *ngIf="ofrecerseguro && !ESREGISTRO &&  !ESMODIFICACION">
      <div class="form-group">
        <input type="checkbox" [(ngModel)]="consentimientos.Seguro" name="seguro" [disabled]="colegiadohavalidado"><label>Indique si está interesado en
          contratar el pack Visado + Seguro</label>
      </div>
    </div>
    <div class="col-md-12" *ngIf="solicitarIEE && !ESREGISTRO">
      <div class="form-group">
        <input type="checkbox" [(ngModel)]="consentimientos.IEE" name="IEE" #IEE="ngModel" required [disabled]="colegiadohavalidado"><label class="d-inline ml-2">Afirma que
          tiene suscrita póliza de seguro de responsabilidad civil en vigor, con
          cobertura suficiente para hacer frente a las responsabilidades derivadas de la firma del presente Informe de
          Evaluación del Edificio</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <input type="checkbox"
           [(ngModel)]="consentimientos.AceptacionVisado" name="visado" id="visado" required
           [disabled]="authService.currentUser.Id!=solicitud.IdColegiado || colegiadohavalidado"
           ><label for="visado" class="d-inline ml-2">El técnico
          solicitante del visado declara bajo su responsabilidad haber recabado y
          recogido documentalmente el consentimiento expreso del autor del encargo para proceder al visado del mismo.
          Así mismo declara que ha informado con carácter previo a su cliente del contenido y efectos del visado
          colegial
        </label>
      </div>
    </div>
    <div class="col-md-12">

      <ng-container *ngIf="authService.currentUser.Id==solicitud.IdColegiado;else botonerainterviniente">
        <div class="btn-group float-right">
          <button type="button" appBoton="Verificar" (click)="verificar()" class="mr-1" *ngIf="['VT','VP','IN','EL'].indexOf(solicitud.Estado)>-1"></button>
          <button type="button" appBoton="Validar" (click)="validar()" *ngIf="!colegiadohavalidado" class="mr-1"
            [disabled]="!f.valid"></button>
          <button type="button" appBoton="Revertir" (click)="revertir()" *ngIf="colegiadohavalidado && (solicitud.Estado=='VT' || solicitud.Estado=='VP' || solicitud.Estado=='IN')"
            class="mr-1"></button>
        </div>
      </ng-container>
      <ng-template #botonerainterviniente>
        <div class="">
          <button type="button" appBoton="Validar" (click)="validar()" *ngIf="!colegiadohavalidado" [disabled]="!f.valid && solicitarIEE"
            class="btn-block"></button>
          <button type="button" appBoton="Revertir" (click)="revertir()"
            *ngIf="colegiadohavalidado && solicitud.Estado == 'VP'" class="btn-block"></button>
        </div>
      </ng-template>
      <!-- <button type="button" appBoton="Revertir" (click)="revertir()"
          *ngIf="authService.currentUser.Id==solicitud.IdColegiado && colegiadohavalidado" class="mr-1"></button> -->
    </div>
    <div class="col-md-12">
      <div class="btn-block mt-3">
        <ng-container *ngIf="!colegiadossinvalidar;else faltanporvalidar">
          <button type="button" appBoton="Enviar" (click)="enviar()" 
          class="btn-block" *ngIf="solicitud.Estado=='VT'"></button>
        </ng-container>        
        <ng-template #faltanporvalidar>
          <div class="alert alert-danger">
            <p>La solicitud no se puede enviar hasta que no esté validada por todos los colegiados intervinientes</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

</form>
<!-- <pre>{{consentimientos | json}}</pre> -->
