<div @fadeinout>
  <div class="modal-header">
    <h4 class="modal-title">Confirmacion</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <p>{{pregunta}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" appBoton="No" (click)="activeModal.dismiss()"></button>
    <button type="button" appBoton="Si" (click)="activeModal.close(true)"></button>
  </div>
</div>