<ngb-pagination *ngIf="collectionSize>pageSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      (pageChange)="pageChange.emit(page)"      
      >
      <ng-template ngbPaginationFirst> ← Primero</ng-template>
      <ng-template ngbPaginationLast>Ultimo → </ng-template>
      <ng-template ngbPaginationPrevious>Anterior</ng-template>
      <ng-template ngbPaginationNext>Siguiente</ng-template>
      <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>