<div class="card" #card [ngClass]="{'movible':moveable}">
  <div class="card-header" #cabecera [ngClass]="{'arrastrable':moveable}">
    <span class="collapsable" (click)="isCollapsed = !isCollapsed">      
      <!-- <fa-icon [icon]="['fas','caret-down']" *ngIf="collapsable && isCollapsed"></fa-icon>
      <fa-icon [icon]="['fas','caret-up']" *ngIf="collapsable && !isCollapsed"></fa-icon>    -->
    </span>
    <h6>
        {{title}}</h6>
    <span *ngIf="moveable && !isFixed" class="float-right" (click)="fijar()">
          <!-- <fa-icon [icon]="['fas','thumbtack']"></fa-icon> -->
    </span>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">    
    <ng-content></ng-content>
  </div>    
</div>