@import '../../../estilos/coaatm.variables.scss';

h1 {
  font-family: 'avenir_light' !important;
  right: 0;
  text-transform: uppercase !important;
  font-size: 36px !important;
  color: $gris11 !important;
  margin-left: 18%;
  bottom: 0;
  margin-top: 40px;
  margin-bottom: 3px !important;
  @media(max-width:$screen-md){
    margin-left: 2%;
  }
}
.cont_formulario {
  font-family: 'avenir_light' !important;
  background: $color17;
  border:none !important;
  padding: 60px 18px !important;
  border-radius: 18px;
  max-width: 835px;
  margin-bottom: auto !important;
  @media(max-width:$screen-md){
    max-width: auto;
  }
}
