<h1>Login</h1>
<div class="cont_formulario mx-auto">
  <div class="row justify-content-center" *ngIf="loginincorrecto">
    <div class="col-lg-10">
      <div class="alert alert-danger">Usuario y/o contraseña incorrectos</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="username">Número de colegiado</label>
          <div class="col-lg-8">
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">El usuario es obligatorio</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label col-form-label" for="password">Contraseña</label>
          <div class="col-lg-8">
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
            </div>
          </div>

        </div>
        <div class="form-group text-right row">
          <div class="col-lg-12">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>  
  <div class="no-more-tables">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Usuario</td>
          <td>Descripción</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usu of mockUsers">
          <td data-title="Usuario" (click)="mockLogin(usu)">{{usu.usuario}}</td>
          <td data-title="Descripción">{{usu.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>