@import "../../../../../estilos/coaatm.variables.scss";
span{
    color:$color1;
    font-size:1.5em;
    margin-right:5px;
    margin-left: 5px;
    cursor:pointer;
    z-index: 2;
}

:host-context(app-panel-fijo) span{    
        color:$negro1;        
        font-size:40px;
}
