<h1 *ngIf="!idSolicitud">{{titulo}}</h1>
<div class="cont_formulario" *ngIf="!idSolicitud" [appLeyendaCamposObligatorios]="'LITERAL'">
  <form [formGroup]="formulario" name="formulario" (ngSubmit)="onEnviar()" class="needs-validation">
    <div class="form-group">
      <label for="nif" appMarcadorObligatorio="true">Nif</label>
      <input type="text" autocomplete="off" class="form-control" [ngClass]="{'is-invalid':f.nif.errors && (f.nif.dirty || submitido) }" placeholder="NIF" id="nif" formControlName="nif" />
      <div class="invalid-feedback" *ngIf="f.nif.errors">
        <span *ngIf="f.nif.errors.required">El campo Nif es obligatorio</span>
        <span *ngIf="f.nif.errors.nif">El campo Nif no tiene un formato correcto</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email"  appMarcadorObligatorio="true">Dirección de correo</label>
      <input type="email" autocomplete="off" class="form-control" [ngClass]="{'is-invalid':f.email.errors && (f.email.dirty || submitido) }" placeholder="Correo" formControlName="email" />
      <div class="invalid-feedback" *ngIf="f.email.errors">
        <span *ngIf="f.email.errors?.required">El campo Correo es obligatorio</span>
        <span *ngIf="f.email.errors?.email">El campo Correo no tiene un formato correcto</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email2" [appMarcadorObligatorio]="false">Repita su dirección de correo</label>
      <input type="email" autocomplete="off" class="form-control" [ngClass]="{'is-invalid':f.email2.errors && (f.email2.dirty || submitido)}" placeholder="Repita el correo" id="email2" formControlName="email2" />
      <div class="invalid-feedback" *ngIf="f.email2.errors">
        <span *ngIf="f.email2.errors?.required">El campo Repetir correo es obligatorio</span>
        <span *ngIf="f.email2.errors?.mustMatch">El campo Repetir correo no coincide con el campo correo</span>
        <span *ngIf="f.email2.errors?.email">El campo Repetir correo no tiene un formato correcto</span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12">
        <div class="no-more-tables">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Archivo</th>
                <th>Tamaño</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let documento of documentos">
                <td data-title="Documento">{{documento.Descripcion}}</td>
                <td data-title="Archivo">
                  <span *ngIf="documento.file && documento.file.name">{{documento.file.name}} </span>
                  <input type="file" *ngIf="!documento.file" (change)="handleFileInput($event)" id={{documento.Id}} />
                </td>
                <td data-title="Tamaño">
                  {{documento.file?.size | tamanio}}
                </td>
                <td>
                  <span *ngIf="!documento.file && documento.Obligatorio">Obligatorio</span>
                  <span *ngIf="documento.file && documento.file.name">
                    <!--<button class="btn btn-danger" (click)="borrar(documento.id)">Borrar</button>-->
                    <img src="assets/images/icon-trash.svg" (click)="borrar(documento.Id)" alt="Borrar" title="Borrar">
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Tamaño total(max 50 Mb)</th>
                <td></td>
                <td>{{totaltamaniodocumentos | tamanio}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
        <div class="invalid-feedback" style="display:block;" *ngIf="f.recaptcha.errors?.required && submitido">
            <span>Debe marcar la opción 'No soy un robot'</span></div>
        <ngx-recaptcha2 #captchaElem [siteKey]="environment.recaptchasKey" [size]="'Normal'"
        [hl]="'es'" [theme]="'Light'" formControlName="recaptcha">
      </ngx-recaptcha2>
      <button type="submit" [appBoton]="'ENVIAR'"></button>
    </div>
  </form>
</div>
