<app-header *ngIf="layoutgeneral"></app-header>
<div class="container-100" #contenedorPrincipal>
  <div class="container-fluid">
    <section class="cont_generico">
      <!-- <app-subtitulo></app-subtitulo> -->
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="medium" color="#AA1E32" type="ball-spin-clockwise" fullScreen="true">
  <p style="color:#AA1E32"> Cargando... </p>
</ngx-spinner>
<app-footer  *ngIf="layoutgeneral"></app-footer>
<app-panel-error></app-panel-error>
<app-panel-ayuda></app-panel-ayuda>
<app-mensajes></app-mensajes>

<ng-template #layoutcentrado>
  <router-outlet></router-outlet>
</ng-template>