@import "../../../../../../estilos/coaatm.variables.scss";

.alert {
    width: 60%;
    float: right;
    border-radius: 12px;
    border: 1px solid $negro2;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 3px 6px #00000029;
    @media(max-width:$screen-md) {
      float: initial;
      margin-left: auto;
      margin-right: auto;
      width:80%;
    }
    @media(max-width:$screen-sm) {
      width:65%;
    }
  &.formapago {
    cursor: pointer;
  }
  .texto-opcion {
    font-family: 'avenir_heavy';
    font-size: 18px;
    text-align: center;
    margin-top: 7px;
  }
  &.alert-primary {
    color: $color1-inverso;
    background-color: $color7;
  }
}


