<div class="card panelayuda " @inOutAnimation *ngIf="ayuda">
  <div class="card-header">{{ayuda.Titulo}}
    <button type="button" class="close" (click)="ayuda=null">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body" [innerHTML]="ayuda.Contenido"></div>
</div>
