@import "../../../../../estilos/coaatm.variables.scss";

.panelayuda {
    position:fixed;
    right:0px;
    bottom:0px;
    height:100%;
    width:400px;
    z-index:999;
    border: none;
    border-radius: 0;
    font-family: 'avenir_light';
    .card-header {
      /* background-color:$color1; */
      border-bottom: none;
      background: $color11;
      color: $color1-inverso;
      border-radius: 0;
      .close {
        text-shadow: none;
        color: $color1-inverso;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .card-body {
      background: $color11;
      color: $color1-inverso;
    }
}
