<div class="card mt-1" *ngIf="filtrados.length > 0">
  <div class="card-header">
    <app-ayuda [seccion]="'tipoactuacion.t' + tipo.Codigo" ></app-ayuda>
    <h6 (click)="isCollapsed = !isCollapsed" title="{{tipo.Descripcion}}">
      <span class="texto-descripcion">{{tipo.Descripcion}}</span>
      <span class="collapsable float-right" >
          <i class="fa fa-chevron-down" [ngClass]="{'img-open': isCollapsed,'img-close':!isCollapsed}"></i>
      </span>
    </h6>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <ul class="listaintervenciones">
      <li *ngFor="let tipointervencion of filtrados" (click)="select(tipointervencion)">
          <span title="{{tipointervencion.Descripcion}}">{{tipointervencion.Descripcion}}</span>
      </li>
    </ul>
  </div>
</div>
