@import "../../../../../../estilos/coaatm.variables.scss";

span{
    cursor:pointer;
}
.collapsable{
    cursor:pointer;
}

.card{
    border:none;
    background-color:fff;
}

.card-header {
    border:none;
    background-color: $color3;
    border-bottom: 1px solid $color1;
    cursor: pointer;
}

// .card-header:first-child {

// }
.card-header span {
    cursor:pointer;
    color:$color1;
}
.card-header h6{
  display: inline;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-top: 3px;
  span {
    &.texto-descripcion {
      color: $negro1;
      display: inline-block;
      width: 96%;
      @media(max-width:$screen-md) {
        width: 80%;
      }
    }
    i {
      &.img-open {
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
      }
      &.img-close {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
.collapse {
    transition: height 1s,margin-top 1s, margin-bottom 1s;
}
.card-header{
  padding:10px 10px 5px 0px;
  display: inherit;
}

.card-body{
  background: $color3;
    padding: 5px 0px;
}

.listaintervenciones{
    list-style:none;
    padding-left:0px;
}
.listaintervenciones {
  li{
    list-style:none;
    font-size:12px;
    margin-left:30px;
    color:$color1;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 5px;
    }
    span {
      text-decoration: underline;
    }
  }
}





