<div class="form-group">
  <!-- <label>Descripción</label> -->
  <input type="text" [(ngModel)]="descripcion" placeholder="Descripción para el/los documentos" class="form-control" />
</div>
<div class="dropzone" appDropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
  [class.hovering]="isHovering">
  <h5 class="card-title">{{tipo?.Descripcion}}
  </h5>
  Arrastre el/los documento(s) o pulse seleccionar
  <div class="form-group">
    <input type="file" (change)="handleFileInput($event)" style="display:none" #ifile>
    <button appBoton="SELECCIONAR" (click)="ifile.click()"></button>
  </div>
</div>
<!-- <div clas="uploadingzone" *ngIf="uploading.length>0">
  <app-uploading-file *ngFor="let documento of uploading" [idgrupo]="idgrupo" [documento]="documento"
    (finished)="uploadFinished($event)"></app-uploading-file>
</div> -->