@import "../../../../../../estilos/coaatm.variables.scss";
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // min-width: 80vw;
    font-weight: 200;
    height: 200px;
    border: 2px dashed $color1;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    @media(max-width:$screen-sm) {
      text-align: center;
    }
    &.hovering {
        border: 2px solid $color1;
        color: $color13 !important;
    }

    .file-label {
        font-size: 1.2em;
    }
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
