<div class="card">
  <div class="card-header" (click)="abrir()">
    {{tipo | tipoTramite | async}}({{tipo}})
    <!--<div class="float-right"><i class="fa fa-plus-circle" (click)="abrir()"></i></div>-->
  </div>
  <div class="card-body" *ngIf="abierto" >
    <ng-content></ng-content>
  </div>
</div>
