<app-panel-fijo>
  <div class="row justify-content-center">
    <div class="col">
      <button appBoton="Nuevo visado" class="mr-2" [routerLink]="['/visados','altaintervencion']"></button>
      <button appBoton="Nuevo Registro" [routerLink]="['/registros','altaintervencion']"></button>
    </div>
    <!-- <div class="col-6"></div> -->
  </div>
</app-panel-fijo>
<div class="container">
  <div class="row">
    <div class=col-md-12>
      <app-filtro-intervenciones (filtrar)="setfiltro($event)"></app-filtro-intervenciones>
    </div>
    <div class="col-md-12">
      <app-listado-intervenciones [filtro]="filtro"></app-listado-intervenciones>
    </div>
  </div>
</div>