<!--<p>
  Aquí iría la información del usuario -{{idusuario}}-
</p>-->
<!-- Lista del detalle del usuario seleccionado -->
<!--<ul>
  <li *ngFor="let usuario of usuarioDetalle">
      ID: {{usuario.Id}} | Usuario: {{usuario.Usuario}} | Nombre: {{usuario.Nombre}} | Email: {{usuario.Email}} | Telefono: {{usuario.Telefono}} | Direccion: {{usuario.Direccion.street}}
  </li>
  <li>
    ID: {{usuario.Id}} | Usuario: {{usuario.Usuario}} | Nombre: {{usuario.Nombre}} | Email: {{usuario.Email}} | Telefono: {{usuario.Telefono}} | Direccion: {{usuario.Direccion.street}}
</li>
</ul>-->
<h1>Detalle de usuario</h1>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: {{usuario?.Id}}</li>
    <li class="list-group-item">Nombre: {{usuario?.Nombre}}</li>
    <li class="list-group-item">Usuario: {{usuario?.Usuario}}</li>
    <li class="list-group-item">Email: {{usuario?.Email}}</li>
    <li class="list-group-item">Telefono: {{usuario?.Telefono}}</li>
  </ul>
</div>
