<fieldset [disabled]="readonly">
<div class="row" >
  <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div>
  <div class="col-md-3 col-xs-12" [appBloqueObligatorio]="true">
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Nº de obras</label>
      <input type="number" class="form-control" name="NumeroObras" [(ngModel)]="estadisticas.NumeroObras" />
    </app-custom-field>
  </div>
  <div class="col-md-5" [appBloqueObligatorio]="true">
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Destino principal obra</label>
      <select class="form-control" [(ngModel)]="estadisticas.Destino" name="Destino">
        <option *ngFor="let destino of destinos" [value]="destino.Codigo"
          [selected]="destino.Codigo===estadisticas.Destino">
          {{destino.Descripcion}}</option>
      </select>
    </app-custom-field>
  </div>
  <div class="col-md-4" [appBloqueObligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
    <app-custom-field label=""
      [obligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
      <label [appMarcadorObligatorio]="true">Altura sobre rasante (m)</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]=estadisticas.AlturaSobreRasante  name="AlturaSobreRasante"/>
    </app-custom-field>
  </div>
</div>
<div class="row">
  <div class="col-md-8" [appBloqueObligatorio]="true">
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Tipo de promotor</label>
      <select class="form-control" [(ngModel)]="estadisticas.TipoPromotor">
        <option *ngFor="let tipo of tipospromotor" [value]="tipo.Codigo"
          [selected]="tipo.Codigo===estadisticas.TipoPromotor">
          {{tipo.Descripcion}}</option>
      </select>
    </app-custom-field>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
<div class="row" *ngIf="tipointervencion.EstadisticaMaterialesObligatorio" [appBloqueObligatorio]="true">
  <div class="col-md-6">
    <app-custom-field label="" [obligatorio]="true">
      <label [appMarcadorObligatorio]="true">Código estadístico de materiales</label>
      <input type="text" maxlength="12" class="form-control" [(ngModel)]="estadisticas.CodigoEstadisticaMaterial" />
    </app-custom-field>
  </div>
</div>
<div class="row">
  <div class="col-md-3" [appBloqueObligatorio]="true">
    <h5>Número</h5>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Edificios</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.NumeroEdificios">
    </app-custom-field>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Viviendas</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.NumeroViviendas">
      </app-custom-field>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">VPO</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.NumeroVPO">
    </app-custom-field>
  </div>
  <div class="col-md-3" [appBloqueObligatorio]="true">
    <h5>Superficie a construir (m2)</h5>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Vivienda</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.SuperficieViviendas"></app-custom-field>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Garajes</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.SuperficieGaraje"></app-custom-field>
    <app-custom-field label="">
      <label [appMarcadorObligatorio]="true">Otros usos</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.SuperficieOtrosUsos"></app-custom-field>
  </div>
  <div class="col-md-3" [appBloqueObligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
    <h5>Sobre rasante</h5>
    <app-custom-field label="" [obligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
      <label [appMarcadorObligatorio]="true">Plantas</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.PlantasSobreRasante">
    </app-custom-field>
    <app-custom-field label="" [obligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
      <label [appMarcadorObligatorio]="true">Superf. construidos (m2)</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.SuperficieConstruidaSobreRasante">
    </app-custom-field>
  </div>
  <div class="col-md-3" [appBloqueObligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
    <h5>Bajo rasante</h5>
    <app-custom-field label="" [obligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
      <label [appMarcadorObligatorio]="true">Plantas</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.PlantasBajoRasante"></app-custom-field>
    <app-custom-field label="" [obligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
      <label [appMarcadorObligatorio]="true">Superf. construidos (m2)</label>
      <input type="text" campodecimal class="form-control" [(ngModel)]="estadisticas.SuperficieConstruidaBajoRasante">
    </app-custom-field>
  </div>
</div>
<div class="row">
  <div class="col-md-3" [appBloqueObligatorio]="tipointervencion?.EstadisticaControlCalidadObligatorio" debug="true" [datos]="tipointervencion">
    <h5 [appMarcadorObligatorio]="true">Control de calidad</h5>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="estadisticas.ControlCalidadExterno">
      <label class="form-check-label">
        Externo
      </label>
    </div>
    <div class="form-check" *ngFor="let nivel of nivelesControlCalidad">
      <input class="form-check-input" name="A" type="radio" [(ngModel)]="estadisticas.NivelControlCalidad"
        [value]="nivel.valor">
      <label class="form-check-label">
        {{nivel.titulo}}
      </label>
    </div>
  </div>
  <div class="col-md-3" [appBloqueObligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
    <h5 [appMarcadorObligatorio]="true">Medianerias</h5>
    <div class="form-check" *ngFor="let medianeria of medianerias">
      <input class="form-check-input" name="B" type="radio" [(ngModel)]="estadisticas.Medianerias"
        [value]="medianeria.valor">
      <label class="form-check-label">
        {{medianeria.titulo}}
      </label>
    </div>
  </div>
  <div class="col-md-3" [appBloqueObligatorio]="tipointervencion.EstadisticaControlCalidadObligatorio">
    <h5 [appMarcadorObligatorio]="true">Uso del edificio</h5>
    <div class="form-check" *ngFor="let uso of usosedificio">
      <input class="form-check-input" name="C" type="radio" [(ngModel)]="estadisticas.UsoEdificio" [value]="uso.valor">
      <label class="form-check-label">
        {{uso.titulo}}
      </label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="estadisticas.EstudioGeotecnico">
      <label class="form-check-label">
        Estudio Geotécnico
      </label>
    </div>
  </div>
</div>
<div class="row" *ngIf="tipointervencion.EsITE">
  <div class="col-md-4" [appBloqueObligatorio]="true">
    <h5>Resultado ITE</h5>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="estadisticas.ResultadoITE" value="F">
      <label class="form-check-label">
        Favorable
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="estadisticas.ResultadoITE" value="D">
      <label class="form-check-label">
        Desfavorable
      </label>
    </div>
  </div>
  <div class="col-md-4" *ngIf="estadisticas.ResultadoITE=='D'" [appBloqueObligatorio]="true">
    <app-resultado-desfavorable-ite name="HH" [(ngModel)]="estadisticas.IncumplimientoITE">
    </app-resultado-desfavorable-ite>
  </div>
</div>

<div class="row" *ngIf="tipointervencion.Codigo=='4.2.3.0.4.5' && ubicacion?.Municipio==CODIGOMADRID">
  <div class="col-md-12">
    <h5>Informe de evaluación de edificio</h5>
    <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="estadisticas.IEE" value="C">
        <label class="form-check-label">
          Se ha registrado el IEE
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="estadisticas.IEE" value="P">
        <label class="form-check-label">
          Se ha puesto en conocimiento del Promotor la obligatoriedad de registrar el IEE
        </label>
      </div>
  </div>
</div>

</fieldset>
<!-- <div class="row">
  <div class="col-md-12">
    <pre>{{estadisticas | json}}</pre>
  </div>
</div>
<button (click)="tipointervencion.EstadisticaControlCalidadObligatorio= !tipointervencion.EstadisticaControlCalidadObligatorio">aaaa</button> -->
