<!-- <app-panel-fijo>
  <div>
    <span>Puede iniciar un nuevo tramite desde aquí</span>
    <button class="ml-2" appBoton="NUEVOTRAMITE" (click)="router.navigate(['tramites','nuevo'])"></button>
  </div>
</app-panel-fijo> -->
<app-ir-anuevo-tramite></app-ir-anuevo-tramite>
<app-seccion titulo="Filtrar" class="seccion-filtros">
  <app-filtro-tramites (filtrar)="filtrar($event)"></app-filtro-tramites>
</app-seccion>
<app-seccion titulo="Trámites" *ngIf="tramites.length>0; else sinresultados">
  <app-ficha-tramite *ngFor="let item of tramites | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
    [tramite]="item" (borrado)="repaginar($event)">
  </app-ficha-tramite>
  <app-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="tramites.length">
    <!-- <ng-template ngbPaginationFirst> ← Primero</ng-template>
      <ng-template ngbPaginationLast>Ultimo → </ng-template>
      <ng-template ngbPaginationPrevious>Anterior</ng-template>
      <ng-template ngbPaginationNext>Siguiente</ng-template>
      <ng-template ngbPaginationEllipsis>...</ng-template> -->
  </app-pagination>
  <!-- [boundaryLinks]="true"
  [ellipses]="false"
  [maxSize]="5" -->
</app-seccion>

<ng-template #sinresultados>
  <div class="alert alert-danger">
    No hay Trámites para los criterios de búsqueda indicados
  </div>
</ng-template>
