<app-panel-fijo>  
  <div *ngFor="let paso of pasos; let indice=index; let ultimo=last;">
    <div *ngIf="ultimo" class="linea-conecta numero-pasos-{{indice+1}}"></div>
  </div>
  <ul>
    <li *ngFor="let paso of pasos;">
      <div class="indicadorpaso rounded-circle" (click)="goto(paso)"
        [ngClass]="{'activo':paso.indicador===activo,'disabled':!paso.enabled}">{{paso.indicador}}</div>
      <div class="titulopaso" *ngIf="paso.indicador===activo" @inOutAnimation>{{paso.titulo}}</div>
    </li>
  </ul>
  <app-ayuda *ngIf="ayuda" [seccion]="ayuda"></app-ayuda>
</app-panel-fijo>
<!-- <div class="row">
  <div class="contenedor-marcador-pasos col-md-8 offset-md-2 position-sticky" [style.top]="'80px'"
    [style.zindex]="'10020'" #marcadorPasos>
    <div class="container rounded-pill text-center">

    </div>
    
  </div>
</div> -->