@import "../../../../../../estilos/coaatm.variables.scss";



  /* Estilos de la linea de los pasos */
  .linea-conecta {
    position: absolute;
    width: 60%;
    margin: 0px auto;
    left: 140px;
    top: 47%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: $negro1;
    z-index: 1;
    @media(max-width:$screen-md){
      width:57%;
      left: 94px;
    }
    @media(max-width:$screen-md-960){
      width: 44%;
      left: 140px;
    }
    @media(max-width:$screen-sm){
      top:56%;
    }
    @media(max-width:$screen-sm-1){
      left: 203px;
      width: 37%;
    }
    @media(max-width:640px){
      left: 140px;
      width: 44%;
    }
    @media(max-width:$screen-s-500){
      left: 72px;
      width: 56%;
    }
    @media(max-width:$screen-xs-400){
      /*display: none;*/
    }
    &.numero-pasos-1 {
      width: 0%;
    }
    &.numero-pasos-2 {
      width: 30%;
      left: 270px;
      @media(max-width:$screen-md){
        width: 22%;
        left: 230px;
      }
      @media(max-width:$screen-md-960){
        width: 13%;
        left: 241px;
      }
      @media(max-width:$screen-sm-1){
        width: 10%;
        left: 305px;
      }
      @media(max-width:640px){
        width: 12%;
        left: 244px;
      }
      @media(max-width:$screen-s-500){
        width: 16%;
        left: 173px;
      }
      @media(max-width:$screen-xs-400){
        width: 17%;
        left: 137px;
      }
    }

    &.numero-pasos-3 {
      width: 39%;
      left: 230px;
      @media(max-width:$screen-md){
        width: 29%;
        left: 185px;
      }
      @media(max-width:$screen-md-960){
        width: 23%;
        left: 208px;
      }
      @media(max-width:$screen-sm-1){
        width: 19%;
        left: 271px;
      }
      @media(max-width:640px){
        width: 23%;
        left: 209px;
      }
      @media(max-width:$screen-s-500){
        width: 29%;
        left: 140px;
      }
      @media(max-width:$screen-xs-400){
        width: 30%;
        left: 111px;
      }
    }

    &.numero-pasos-4 {
      width: 50%;
      left: 180px;
      @media(max-width:$screen-md){
        width: 42%;
        left: 143px;
      }
      @media(max-width:$screen-md-960){
        width: 33%;
        left: 175px;
      }
      @media(max-width:$screen-sm-1){
        width: 28%;
        left: 238px;
      }
      @media(max-width:640px){
        width: 34%;
        left: 174px;
      }
      @media(max-width:$screen-s-500){
        width: 43%;
        left: 103px;
      }
      @media(max-width:$screen-xs-400){
        width: 43%;
      left: 83px;
      }
    }
  }

  /* Estilos para los pasos */
  ul {
    padding: 0px;
    margin: 0px;

    li {
      list-style-type: none;
      display: inline;
      margin-right: 3rem;
      @media(max-width:$screen-md-960){
        margin-right: 1.5rem;
      }
      @media(max-width:$screen-xs-400){
        margin-right: 0.5rem;
      }
      &:first-child {
        background-color: $color15;
        padding-left: 15px;
        margin-left: -9px;
        z-index: 9;
        position: relative;
      }

      &:last-child {
        background: $color15;
      }

      .indicadorpaso {
        cursor: pointer;
        display: inline-block;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 1px;
        font-size: 25px;
        border-color: $color1;
        border: none;
        background-color: $color1-inverso;
        z-index: 2;
        position: relative;
      }

      .indicadorpaso.activo {
        background-color: $color1;
        cursor: default;
        color: $color1-inverso;
      }

      .indicadorpaso.disabled {
        background-color: $gris11;
        cursor: default;
        color: $color1-inverso;
      }

      .titulopaso {
        font-family: 'avenir_light';
        margin-left: 0px;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        position: relative;
        z-index: 999;
        background: $color15;
        color: $negro1;
        @media(max-width:$screen-md){
          display: none;
        }
      }
    }
  }

