<app-drowdown-card titulo="Pagar" [ocultadoinicialmente]="false">
<div appTableResponsive *ngIf="pagos && pagos.length>0;else sindatos">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Importe</th>
        <th>Fecha de pago</th>
        <th>Pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagos">
        <td>{{pago.Codigo}}</td>
        <td>{{pago.NombreAsociado}}</td>
        <td>{{pago.Importe}}</td>
        <td>
          <ng-container *ngIf="pago.FechaPago;else nopagado">{{pago.FechaPago | fecha}}</ng-container>
        </td>
        <td>
          <button  appBotonIcono="PAGAR"
            (click)="guiutils.ShowInfo('Esto nos llevaría a la página del pago o a la pasarela')"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</app-drowdown-card>
<ng-template #nopagado>

</ng-template>
<ng-template #sindatos>
  <div class="alert alert-danger">
    No hay datos de pagos con tarjeta
  </div>
</ng-template>