<app-ir-anuevo-tramite></app-ir-anuevo-tramite>
<app-cuadro-mando-tramites></app-cuadro-mando-tramites>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">    
    <div class="col-md-8">      
      <h1 *ngIf="!!auth.currentUser"><a [routerLink]="'/registros'" role="link">Nuevo Registro de Alta de intervencion</a></h1>
      <h1 *ngIf="!!auth.currentUser"><a [routerLink]="'/visados'" role="link">Nuevo Visado de Alta de intervencion</a></h1>            
      <app-renunciar></app-renunciar>
    </div>    
    <div class="col-md-4">
      <h1>Prueba de mensajes</h1>
      <div class="form-group">
        <input type="text" [(ngModel)]="texto" class="form-control" placeholder="Texto del mensaje" />
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="tipo" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            value="I">
          <label class="form-check-label" for="inlineRadio1">Info</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="tipo" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            value="E">
          <label class="form-check-label" for="inlineRadio2">Error</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="tipo" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            value="S">
          <label class="form-check-label" for="inlineRadio3">Success</label>
        </div>
      </div>
      <button appBoton="Mostrar mensaje" (click)="mostrarMensaje()"></button>      
      <div>
        <button appBoton="ShowSpinner" (click)="showSpinner()"></button>
      </div>
    </div>
  </div>
</div> -->
