<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Usuarios
      </h1>
      <ul>
        <li *ngFor="let usuario of usuarios">
          <a [routerLink]="['/usuarios',usuario.Id]" routerLinkActive="active">{{usuario.Nombre}}</a>
        </li>
        <!-- <li><a [routerLink]="[altaintervencion">Alta de intervención</a></li>
        <li><a routerLink="modificacionintervencion">Modificación de intervención</a></li> -->
      </ul>
      <!--<ul>
        <li *ngFor="let usuario of usuarios">
            ID: {{usuario.Id}} | Usuario: {{usuario.Usuario}} | Nombre: {{usuario.Nombre}} | Email: {{usuario.Email}} | Telefono: {{usuario.Telefono}} | Direccion: {{usuario.Direccion.street}}
        </li>
      </ul>-->
    </div>
    <div class="col-md-6">
      <app-detalle-usuario></app-detalle-usuario>
      <!-- <router-outlet></router-outlet>-->
    </div>
  </div>
</div>
