<fieldset [disabled]="readonly">
<div class="container">  
  <div class="row" >
    <!-- <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div> -->
    <div class="col-md-12">
      <div class="form-group row">
        <label [appMarcadorObligatorio]="true" class="col-md-3">Porcentaje de obra pendiente</label>
        <input type="text" campoporcentaje class="form-control col-md-1" [(ngModel)]="datosmodificacion.PorcentajePendienteObra" [disabled]="true"/>        
      </div>
    </div>
    <div class="col-md-12" [appBloqueObligatorio]="true">
      <div class="form-group" *ngIf="!datosmodificacion.EsObraRenunciada;else obrarenunciada">
        <label [appMarcadorObligatorio]="true" class="col-md-3">Nuevo porcentaje de obra pendiente a ejecutar</label>
        <input type="text" campoporcentaje class="form-control col-md-1" [(ngModel)]="datosmodificacion.NuevoPorcentajePendienteObra" />        
      </div>
    </div>
    <div class="col-md-12" [appBloqueObligatorio]="true">
      <div class="form-group row">
        <label class="col-md-3" [appMarcadorObligatorio]="true">Motivo de la modificación</label>
        <div class="col-md-9">
          <textarea class="form-control" [(ngModel)]="datosmodificacion.DescripcionMotivo"></textarea>              
        </div>
      </div>
    </div>
    <div class="col-md-12" >  
      <div class="form-check" *ngFor="let motivo of datosmodificacion.Motivos">
        <input class="form-check-input" type="checkbox" [(ngModel)]="motivo.Seleccionado">
        <label class="form-check-label">
          {{motivo.Descripcion}}
        </label>
      </div>
    </div>
  </div>
</div>
</fieldset>
<ng-template #obrarenunciada>
  <div class="alert alert-danger">
    En caso de discrepancia en cuanto al porcentaje ejecutado con el técnico anterior deberá aportar un informe que acredite la diferencia
  </div>
</ng-template>