@import '../../../../../estilos/coaatm.variables.scss';

.mensajes {
    position:fixed;
    left:10px;
    bottom:10px;
    width:400px;
}



.contenedor-validaciones {
  background: $color16;
  border: 1px solid $negro1;
  padding: 30px;
  h3 {
    color: $negro1;
    text-transform: uppercase;
    font-family: 'avenir_heavy';
    margin-bottom: 20px;
  }
  .cerrar {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -15px;
    cursor: pointer;
  }
  .mensaje {
    margin-bottom: 10px;
    a {
      cursor:pointer;
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}
