<div class="container contenedor-validaciones mt-2" *ngIf="estado === 'visible'" @inOutAnimation>
  <div class="row">
    <div class="col-md-12">
      <h3>Errores en la validación <div class="cerrar" (click)="eliminarTodas()">&times;</div>
      </h3>
      <!--<div class="alert alert-danger" role="alert" *ngFor="let item of data"  >-->
      <div *ngFor="let item of data" class="mensaje">
        <!--<i class="icon-alerta"></i>-->
        <img src="assets/images/ico_Error.svg" alt="img-error">
        <a (click)="navegar(item)">- Paso {{item.Paso}}</a>, {{item.Contenido}}
        <!--<button type="button" class="close"  (click)="eliminar(item)">
            <span aria-hidden="true">&times;</span>
          </button>-->
      </div>
    </div>    
  </div>
  <div class="row justify-content-center">
    <button appBoton="VOLVERAVERIFICAR" (click)="reverificar.emit()"></button>
  </div>

</div>