@import "../../../../../estilos/coaatm.variables.scss";

.card {
  /*background-color: $color14;*/
  border-radius: 0;
  border: none;
  .card-header {
    background-color: $color14;
    padding: 3px 6px;
    /*border-radius: 0;*/
    border: none;
    border-radius: 0;
    color: $negro2;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    .tramite-compartido {
      i {
        color: $color1;
        font-size: 28px;
        float: right;
      }
    }
  }
  .card-body {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #707070;
    .row {
      div {
        border-right: 1px solid $color11;
        @media(max-width:$screen-sm-1){
          border-right: none;
        }
        &:first-child {
          padding-left: 0px;
          @media(max-width:$screen-sm-1){
            padding-left: 15px;
          }
        }
        &:last-child {
          border-right: none;
          padding-right: 0px;
          padding-left: 0px;
          margin-top: auto;
          margin-bottom: auto;
          text-align: right;
          @media(max-width:$screen-sm-1){
            text-align: center;
          }
        }
      }
    }
    .fecha {
      @media(max-width:$screen-sm-1){
        width: 100%;
      }
    }
    .estado {
      @media(max-width:$screen-sm-1){
        width: 100%;
      }
    }
  }
}

/* Estilos estado tramites */
.contenedor-estado-tramites {
  /*color:$color1-inverso;*/
  text-align:center;
  font-weight:normal;
  padding: 0px 2px;
  margin-left: 5px;
  /*background-color: $color14;*/
  span{
    color: $color1-inverso;
    margin-left: 5px;
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 50%;
  }
}
