<div class="card mb-3">
  <div class="card-header"> <!-- [ngClass]="{'bg-primary':tramite.Compartido}" -->
    {{tramite?.TipoTramite | tipoTramite | async}}
    <ng-container *ngIf="tramite.Compartido"><span class="tramite-compartido">Es compartido con {{tramite.IdColegiado}} <i class="fa fa-users" title="Compartido con {{tramite.IdColegiado}}"></i></span></ng-container>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <dl>
          <dt>
            Solicitud
          </dt>
          <dd>
            <a [routerLink]="link" *ngIf="link;else novinculo">{{tramite?.IdSolicitud}}</a></dd>
          <ng-template #novinculo>{{tramite?.IdSolicitud}}</ng-template>
        </dl>
      </div>
      <div class="col-md-5">
        <dl>
          <dt>
            Detalle:
          </dt>
          <dd>
            <ng-container *ngIf="tramite?.Descripcion1">{{tramite?.Descripcion1}}-</ng-container>
            {{tramite?.Descripcion2}}
          </dd>
          <dd>{{tramite?.Descripcion3}}</dd>
        </dl>
      </div>
      <div class="col-md-3">
        <!--<dl>
          <dt>
            F. Ult. Modificación:
          </dt>
          <dd>{{tramite?.FechaUltimoEstado | fecha}}</dd>
          <dt>
            Estado: <span [appEstadoTramite]="tramite?.Estado"></span>
          </dt>
            <dd></dd>
            <dd>{{tramite?.Estado | estadoTramite | async}}</dd>
        </dl>-->
          <span class="d-inline-block mb-3 fecha"><b>F. Ult. Modificación:</b> {{tramite?.FechaUltimoEstado | fecha}}</span>
          <span class="d-inline-block mb-3 estado"><b>Estado:</b><span [appEstadoTramite]="tramite?.Estado"></span></span>
      </div>
      <div class="col-md-2">
        <button appBoton="ELIMINAR" *ngIf="tramite?.Estado==='EL'"
          appConfirmacion="¿Seguro que quiere eliminar el trámite y toda su información relacionada? Esta acción no se podrá deshacer"
          (confirmado)="borrar()"></button>
        <button appBoton="DOCUMENTACION" *ngIf="tramite?.Estado==='FI'"
          (click)="mostrardocumentacion=true"></button>
        <button appBoton="PAGAR" *ngIf="tramite?.Estado=='EN' && tramite?.Pago" (click)="mostrarpagos=true"></button>
        <button appBoton="ENVIARTRAMITE" *ngIf="tramite?.Estado=='VT'"
        appConfirmacion="¿Seguro que quiere enviar el trámite y toda su información al Colegio? Una vez realizada esta acción no se podrá modificar el trámite hasta recibir respuesta por parte del Colegio"
          (confirmado)="enviar()"></button>
      </div>
    </div>
    <div class="row" *ngIf="mostrardocumentacion">
      <div class="col-md-12">
        <app-drowdown-card titulo="Documentación" [ocultadoinicialmente]="false" class="documentos-tramites">
          <app-documentacion readonly="true" [permitirsubir]="false" [permitirdescargaroriginal]="true"
            [permitirdescargarcolegio]="true" [idgrupo]="tramite?.IdSolicitud"></app-documentacion>
        </app-drowdown-card>
      </div>
    </div>
    <div class="row" *ngIf="mostrarpagos">
      <div class="col-md-12">
        <app-pagos [tramite]="tramite"></app-pagos>
      </div>
    </div>
  </div>
</div>
