<div class="form-group">
    <label>Id. Intervencion</label>
    <input type="text" name="intervencion" class="form-control" [(ngModel)]="intervencion"/>
  </div>  
  <div class="button-block">
    <button appBoton="Modificar" [appConfirmacion]="'¿Seguro que quiere crear una modificación para la intervención indicada?'" (confirmado)="modificar()"></button>
  </div>