
<fieldset [disabled]=readonly>
  <div class="container" *ngIf="!seleccionando; else anteriores" @fadeinout>
    <div class="row">
      <div class="offset-md-8 col-md-4">

        <div class="btn-group" class="float-right">
          <button appBoton="SELECCIONAR UBICACION ANTERIOR" (click)="toggleSeleccionando()"></button>
        </div>
      </div>
    </div>
    <div class="row" [appBloqueObligatorio]="true">
      <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Seleccione el tipo de via</label>
          <select class="form-control" [(ngModel)]="ubicacion.TipoVia">
            <option *ngFor="let tipo of tiposVia" [value]="tipo.Codigo" [selected]="tipo.Codigo===ubicacion?.TipoVia">
              {{tipo.Descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Vía</label>
          <input [(ngModel)]="ubicacion.Via" class="form-control" type="text" placeholder="Nombre de la via" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" [appBloqueObligatorio]="true">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Número</label>
          <input [(ngModel)]="ubicacion.Numero" class="form-control" type="text" placeholder="Número" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Escalera</label>
          <input [(ngModel)]="ubicacion.Escalera" class="form-control" type="text" placeholder="Escalera" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Piso</label>
          <input [(ngModel)]="ubicacion.Piso" class="form-control" type="text" placeholder="Piso" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Puerta</label>
          <input [(ngModel)]="ubicacion.Puerta" class="form-control" type="text" placeholder="Puerta" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label>Urbanización</label>
          <input [(ngModel)]="ubicacion.Urbanizacion" class="form-control" type="text" placeholder="Urbanización" />
        </div>
      </div>
      <div class="col-md-5">
          <div class="form-group">
            <label>Ref. Catastral</label>
            <input [(ngModel)]="ubicacion.ReferenciaCatastral" class="form-control" type="text" placeholder="Referencia Catastral" />
          </div>
        </div>
    </div>
    <div class="row" [appBloqueObligatorio]="true">
      <div class="col-md-4">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Provincia</label>
          <select class="form-control" [(ngModel)]="ubicacion.Provincia" (change)="cargarMunicipios();inicializarCodigoPostalPorProvincia()">
            <option value="">--Provincia--</option>
            <option *ngFor="let prov of provincias" [value]="prov.Codigo"
              [selected]="prov.Codigo===ubicacion.Provincia">{{prov.Descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Municipio</label>
          <select class="form-control" [(ngModel)]="ubicacion.Municipio" (change)="asignarMunicipio()">
            <option value="">--Municipio--</option>
            <option *ngFor="let muni of municipios" [value]="muni.Codigo"
              [selected]="muni.Codigo===ubicacion.Municipio">{{muni.Descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label [appMarcadorObligatorio]="true">Código postal</label>
          <input [(ngModel)]="ubicacion.CodigoPostal" maxlength="5" class="form-control" type="text"
            placeholder="Código postal" />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="ubicacion.Municipio===CODIGOMADRID">
      <div class="col-md-4" [appBloqueObligatorio]="true">
        <label>Distrito</label>
        <select class="form-control" [(ngModel)]="ubicacion.Distrito">
          <option *ngFor="let distrito of distritos" [value]="distrito.Codigo"
            [selected]="distrito.Codigo===ubicacion.Distrito">{{distrito.Descripcion}}</option>
        </select>
      </div>
    </div>

  </div>

</fieldset>
<ng-template #anteriores>
  <div class="container pt-3 pb-3" @fadeinout seleccionar-ubicacion>
    <div class="row">
      <div class="col-md-12">
        <h6>Seleccione una ubicación anterior</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Podrá seleccionar una ubicacion de cualquiera de sus intervenciones anteriores</p>
        <ul class="listaubicaciones">
          <li *ngFor="let fav of favoritos" (click)="ubicacionAnteriorSeleccionada(fav)">
            {{fav | direccion | async}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="btn-group" class="float-right">
          <button appBoton="CANCELAR" (click)="seleccionando=false"></button>
        </div>
      </div>
    </div>

  </div>
</ng-template>
