@import "../../../../../../estilos/coaatm.variables.scss";
[seleccionar-ubicacion]{
  background: $color3;
}

.listaubicaciones{
    list-style:none;
    padding-left:0px;
}
.listaubicaciones li{
    list-style:none;
    font-size:12px;
    margin-left:30px;
    color:$color1;
    cursor:pointer;
}
