@import "../../../../../../estilos/coaatm.variables.scss";

span{
    cursor:pointer;
}
.collapsable{
    cursor:pointer;
}

.card{
    border:none;
    background-color:$color1-inverso;
}

.card-header {
    border:none;
    background-color: $color1-inverso; //$color3;
    border-bottom: 1px solid $color1;
    cursor: pointer;
}

.card-header span {
    cursor:pointer;
    color:$color1;
}
.card-header h6{
  display: inline;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-top: 3px;
  span {
    &.card-icon {
      display: inline-block;
      height: 47px;
    }
    &.texto-descripcion {
      color: $negro1;
      display: inline-block;
      /*width: 96%;*/
      width: auto;
    }
    i {
      &.img-open {
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
      }
      &.img-close {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
// .collapse {
//     transition: height 1s,margin-top 1s, margin-bottom 1s;
// }
.card-header{
  padding:10px 10px 5px 0px;
  display: inherit;
}

.card-body{
//   background: $color3;
    padding: 5px 0px;
}
