<div class="card mt-1">
    <div class="card-header">
      <app-ayuda *ngIf="seccionayuda!==null" [seccion]="seccionayuda"></app-ayuda>
      <h6 (click)="isCollapsed = !isCollapsed" title="{{titulo}}">
        <span class="card-icon mr-2" *ngIf="!!icono">
          <img src="{{icono}}">
        </span>
        <span class="texto-descripcion">{{titulo}}</span>
        <span class="collapsable float-right" >
            <i class="fa fa-chevron-down" [ngClass]="{'img-open': isCollapsed,'img-close':!isCollapsed}"></i>
        </span>
      </h6>
    </div>
    <div class="card-body"  [@dropdown]="isCollapsed ? 'closed' : 'open'">
      <ng-content>
      </ng-content>
    </div>
  </div>
