<app-drowdown-card [titulo]="titulo" [icono]="icono" [ocultadoinicialmente] = "false">
  <ng-content></ng-content>
  <!-- <ul>
    <li *ngFor="let tipo of tipostramite; let i=index">
      <a (click)="nuevotramite(tipo)">{{tipo | tipoTramite | async }}</a></li>
  </ul>   -->
</app-drowdown-card>
