.cab-centro{
    padding-right:180px !important;
}
.cab-dere {
    width:180px !important;
    height: 60px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 120px;
    float: right;
    text-align: right;
    height: 100%;
}

/*Hasta aquí lo general para la cabecera, logado o no*/
/*Estilos para cuando no hay usuario logado*/
.cab-login-off {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #aa1e32;
    height: 80px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.cab-login-off a {
    cursor:pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: middle;
}
.cab-login-off a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.4), 0px 0 6px rgba(255,255,255,0.4), 0px 0 3px rgba(255,255,255,0.4);
}
 .cab-login-off .login span {
    position: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    overflow: inherit;
    font-size: inherit;
}
.cab-login-off span {
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    font-style: italic;
    vertical-align: middle;
}

.cab-login-off a.login:before {
    content: "\e94d";
}

.cab-login-off a:before {
    font-family: 'icon-coaatm'!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #fff;
}
/*Hasta aquí los estilos para cuando no hay usuario logado*/
/*Desde aquí los estilos para cuando hay usuario logado*/
.cab-login {
    padding: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #aa1e32;
    height: 80px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}


.cab-login .login {
    width: 60%;
    margin-top: 1em;
}
.cab-login a {
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: middle;
}
.cab-login a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,0.4), 0px 0 6px rgba(255,255,255,0.4), 0px 0 3px rgba(255,255,255,0.4);
}

.cab-login a.login:before {
    content: "\e94d";
}

.cab-login a:before {
    font-family: 'icon-coaatm'!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #fff;
}


.cab-login span {
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    font-style: italic;
    vertical-align: middle;
}
.cab-login .login span {
    position: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    overflow: inherit;
    font-size: inherit;
}

.cab-usuario {
    position: absolute;
    top: 4em;
    font-size: 13px;
    color: #fff;
    width: 97%;
}
.nombre_usuario {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


