<!-- Añadir el titulo a la cabecera -->
<div class="header_group" #cabecera>
  <h1>{{titulo}}</h1>
  <div class="fondo-aux">
    <header id="header">
      <div class="container-fluid">
        <div class="cab-izq">
          <a routerLink="/">
            <img src="assets/images/logo_aparejadores.png" alt="Logotipo Colegio Aparejadores"
              srcset="assets/images/logo_aparejadores.svg" width="162" height="60">
          </a>
        </div>
        <div class="cab-centro">
          <div class="cab-contacto">
            <a href="https://twitter.com/aparejadoresmad" class="brand-twitter-square" title="twitter"
              target="_blank"><span>twitter</span></a>
            <a href="https://es-es.facebook.com/aparejadoresmad/" class="brand-facebook-square" title="facebook"
              target="_blank"><span>facebook</span></a>
            <a href="http://www.linkedin.com/company/2146326?trk=tyah" class="brand-linkedin-square" title="pinterest"
              target="_blank"><span>linkedin</span></a>
            <a href="https://www.instagram.com/aparejadoresmad/" class="brand-instagram-square-2" title="instagram"
              target="_blank"> <span>instagram</span> </a>
            <a href="https://www.youtube.com/c/AparejadoresmadridEsSocial" class="brand-youtube-square-2" title="youtube"
              target="_blank"><span>youtube</span></a>
          </div>
          <nav class="navbar navbar-expand-md navbar-light" *ngIf="usuario">
          <!-- Toggler/collapsibe Button -->
          <!-- modificación para el colegio de aparejadores (sin imagen) -->
          <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" [ngClass]="{'collapsed':isCollapsed}" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
            <!--<span class="navbar-toggler-icon"></span>-->
            <span class="Texto-Menu">Menú</span>
              <!--<div class="navbar-toggle-barras">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </div>-->
              <div class="navbar-toggle-barras"></div>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngbCollapse]="isCollapsed" >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="tramites" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">TRÁMITES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="visados" (click)="isCollapsed = !isCollapsed">VISADOS / REGISTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="certificados" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">CERTIFICADOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="isCollapsed = !isCollapsed">MIS DATOS</a>
              </li>
              <li class="nav-item" *ngIf="usuario">
                <a class="nav-link" (click)="logout()" routerLink="">Salir</a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <!-- <div class="cab-dere" *ngIf="!usuario">
          <div class="cab-login-off">
            <a (click)="logout()" class="login"><span>login</span></a>
          </div>
        </div> -->

        <div class="cab-dere" *ngIf="usuario">
          <div class="cab-login"><a (click)="logout()" class="login"><span>Salir</span></a>
            <div class="cab-usuario nombre_usuario" (click)="mostrarInformacionUsuario()">
              {{usuario.Username}}({{usuario.Id}}) </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
