@import "../../../../../estilos/coaatm.variables.scss";

.contenedorpanelfijo {
  .container {
    background-color: $gris8;
    padding: 10px 10px;
    min-height: 80px;
    padding-top: 17px;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    @media(max-width:$screen-md-960){
      max-width:480px;
    }
    @media(max-width:$screen-sm){
      margin-top: 15px;
    }
  }
  &.position-sticky {
    &.sticky {
      position: fixed !important;
      top: 90px !important;
      width: 840px;
      z-index: 9;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      &:before {
        content: "";
        width: 100%;
        height: 100px;
        background: $color1-inverso;
        display: block;
        top: 80px;
        position: fixed;
        z-index: -1;
        left: 0;
      }
      @media(max-width:$screen-sm){
        z-index: 1;
      }
      @media(max-width:$screen-sm-1){
        /*padding-left: 0px;
        padding-right: 0px;*/
        width: auto;
        top: 78px !important;
      }
    }

  }
}

.contenedorpanelfijo > div.ayudapasos{
    position: absolute;
    right: -90px;
    top: 20px;
    color: $negro1 !important;
    @media(max-width:$screen-sm){
      display: none;
    }
}
