<div class="row">
  <div class="contenedorpanelfijo col-md-8 offset-md-2 position-sticky" [style.top]="'80px'" [style.zindex]="'10020'" #contenedorpanelfijo>
    <div class="container rounded-pill text-center">
      <ng-content></ng-content>      
    </div>
    <div class="ayudapasos">
        <ng-content select="app-ayuda"></ng-content>
    </div>        
  </div>
</div>