<div class="mensajes">
  <ngb-toast *ngFor="let item of data" [delay]="7000" (hide)="eliminar(item)" [autohide]="item.tipo!=='error'" @inOutAnimation>
    <ng-template ngbToastHeader>
      <ng-container [ngSwitch]="item.tipo">
        <div class="error" *ngSwitchCase="'error'"><i class="icon-alerta"></i><span class="ml-3">Error</span></div>
        <div class="info" *ngSwitchCase="'success'"><i class="bullet-tick-inside-circle"></i><span class="ml-3">Información</span></div>
        <div class="success" *ngSwitchCase="'info'"><i class="icon-info"></i><span class="ml-3">Información</span></div>
      </ng-container>
      <!-- <strong class="mx-1">Fancy</strong>header here -->
    </ng-template>
    {{item.mensaje}}
  </ngb-toast>
</div>
