@import "../../../../../estilos/coaatm.variables.scss";

.mensajes {
    position:fixed;
    right:0px;
    top:120px;
    width:400px;
    z-index: 999;
    border: none;
    border-radius: 0;
    font-family: 'avenir_light';
    @media(max-width:$screen-xs){
      width: auto;
    }
}
