<app-marcador-pasos [pasos]="pasos"></app-marcador-pasos>
<div class="row">
  <div class=col-md-12>
    <app-paso *ngFor="let paso of pasos" [paso]="paso" [total]="4" [plantilla]="paso.plantilla">
    </app-paso>
    <button appBoton="VER" (click)="verProgreso()"></button>
    <button appBoton="GUARDARPROGRESO" appBotonsticked (click)="guardarProgreso()"
      *ngIf="!insertandodetalle && !modelo.Readonly"></button>
  </div>
</div>

<ng-template #paso1>
  <app-seccion titulo="Intervención">
    <app-datos-intervencion [idintervencion]="modelo?.Solicitud?.IdIntervencion"></app-datos-intervencion>
    <fieldset [disabled]="modelo.Readonly">
      <div class="row">
        <div class="col-md-12" [appLeyendaCamposObligatorios]="'LITERAL'"></div>
        <div class="col-md-12 col-xs-12" [appBloqueObligatorio]="true">
          <div class="form-group row">
            <label class="col-md-4" [appMarcadorObligatorio]="true">Nuevo porcentaje de obra pendiente de
              ejecutar</label>
            <div class="col-md-1">
              <input type="text" class="form-control" name="nuevoporcentaje"
                [(ngModel)]="modelo.Solicitud.PorcentajePendiente" campoporcentaje />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12" [appBloqueObligatorio]="true">
          <div class="form-group row">
            <label class="col-md-4" [appMarcadorObligatorio]="true">Motivo</label>
            <div class="col-md-8">
              <textarea class="form-control" [(ngModel)]="modelo.Solicitud.Motivo"></textarea>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </app-seccion>
  <app-seccion titulo="Coste">
    <app-coste [costes]="modelo.Costes" [(importecostetotal)]="importetotal" [readonly]="modelo.Readonly"></app-coste>
  </app-seccion>
</ng-template>

<ng-template #paso2>
  <app-seccion titulo="Colegiados intervinientes">
    <app-colegiados-otros-tramites [readonly]="modelo.Readonly" [importecostetotal]="importetotal"
      [colegiados]="modelo.Solicitud.ColegiadosIntervinientes"></app-colegiados-otros-tramites>
  </app-seccion>
  <app-seccion titulo="Autores del encargo">
    <app-autores-otros-tramites [readonly]="modelo.Readonly" [importecostetotal]="importetotal"
      [autores]="modelo.Solicitud.AutoresEncargoIntervinientes"></app-autores-otros-tramites>
  </app-seccion>
</ng-template>
<ng-template #paso3>
  <app-seccion titulo="Documentación aportada">
    <app-documentacion [tipos]="tiposdocumento" [idgrupo]="modelo.Solicitud.IdSolicitud">
    </app-documentacion>
  </app-seccion>
</ng-template>

<ng-template #paso4>
  <app-seccion titulo="Resumen y envío">
    <app-coste [costes]="modelo.Costes" readonly="true" resumen="true"></app-coste>
  </app-seccion>
  <app-seccion titulo="Forma de pago">
    <app-forma-pago [readonly]="modelo.Readonly" [(formapago)]="modelo.Solicitud.FormaPago" [idcolegiado]="modelo.Solicitud.IdColegiado" [tipotramite]="TIPOTRAMITE"></app-forma-pago>
  </app-seccion>
  <app-seccion titulo="Validación y envio">
      <div class="row">
          <div class="col-md-12">
            <app-colegiados-validacion [solicitud]="modelo?.Solicitud" (verificar)="verificar()" (validar)="validar()" (revertir)="revertir()"></app-colegiados-validacion>
          </div>
        </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="btn-group float-right">
          <button type="button" appBoton="Verificar" (click)="verificar()" class="mr-1" *ngIf="modelo?.Solicitud.Estado==='EL'"></button>
          <button type="button" appBoton="Validar" (click)="validar()" *ngIf="modelo?.Solicitud.Estado==='EL'"
            class="mr-1"></button>
          <button type="button" appBoton="Revertir" (click)="revertir()" *ngIf="modelo?.Solicitud.Estado==='VT'"
            class="mr-1"></button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="btn-block mt-3">
          <button type="button" appBoton="Enviar" (click)="enviar()"
            *ngIf="modelo?.Solicitud.Estado=='VT'" class="btn-block"></button>          
        </div>
      </div>
    </div> -->
  </app-seccion>

</ng-template>
<app-validacion (reverificar)="verificar()"></app-validacion>
