<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group row">
        <label class="col-lg-5 col-form-label">Nº Solicitud</label>
        <div class="col-lg-7">
          <input [(ngModel)]="filtro.IdSolicitud" class="form-control" type="text" placeholder="Id solicitud" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-5 col-form-label">Grupo de trámites </label>
        <div class="col-lg-7">
          <select class="form-control" [(ngModel)]="filtro.GrupoTramites" (change)="cargarTipos(filtro.GrupoTramites)">
            <option [ngValue]="null">Todos</option>
            <option *ngFor="let g of grupos" [value]="g.Codigo" [selected]="g.Codigo===filtro.GrupoTramites">
              {{g.Descripcion}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group row">
        <label class="col-lg-5 col-form-label">Estado</label>
        <div class="col-lg-7">
          <select class="form-control" [(ngModel)]="filtro.EstadoTramite">
            <option [ngValue]="null">Todos</option>
            <option *ngFor="let estado of estados" [value]="estado.Codigo"
              [selected]="estado.Codigo===filtro.EstadoTramite">
              {{estado.Descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-5 col-form-label">Tipo de trámite</label>
        <div class="col-lg-7">
          <select class="form-control" [(ngModel)]="filtro.TipoTramite">
            <option [ngValue]="null">Todos</option>
            <option *ngFor="let tipo of tipos" [value]="tipo.Codigo" [selected]="tipo.Codigo===filtro.TipoTramite">
              {{tipo.Descripcion}}({{tipo.Codigo}})</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group row">
        <label class="col-lg-4 col-form-label"><!--Fecha desde--> F. desde</label>
        <div class="col-lg-8">
            <div class="input-group">
              <input [(ngModel)]="filtro.FechaDesde" class="form-control" type="text" placeholder="Fecha desde" ngbDatepicker #fd="ngbDatepicker" />
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="fd.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                </div>
            </div>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-lg-4 col-form-label"><!--Fecha hasta-->F. hasta</label>
          <div class="col-lg-8">
            <div class="input-group">
              <input [(ngModel)]="filtro.FechaHasta" class="form-control" type="text" placeholder="Fecha hasta"
                ngbDatepicker #fh="ngbDatepicker" />
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="fh.toggle()" type="button"><i
                    class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-3 my-auto text-center">
      <div class="form-group row">
        <div class="col-lg-12">
            <button appBoton="FILTRAR" (click)="filtrar.emit(filtro)" class="mx-1"></button>
            <button appBoton="LIMPIARFILTROS" (click)="limpiar()" class="my-1"></button>
        </div>
      </div>
    </div>
  </div>
</div>
