<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="datoscomplementarios.Parametros.length>0;else noaplica">
      <fieldset [disabled]="readonly">
        <div class="form-group" *ngFor="let dato of datoscomplementarios.Parametros;trackBy indexTracker">
          <label>{{dato.Descripcion}}</label>
          <input type="text" class="form-control" campodecimal [(ngModel)]="dato.Valor" [name]="dato.Id" (ngModelChange)="onFilterChange($event)" />
        </div>
      </fieldset>
    </ng-container>
  </div>
</div>
<fieldset [disabled]="readonly">
<div class="row" *ngIf="ESREGISTRO">
  
    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" id="comunicacion" name="comunicacion" type="checkbox"
          [(ngModel)]="datoscomplementarios.Comunicacion" [disabled]="true">
        <label class="form-check-label" for="comunicacion">
          Comunicación
        </label>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-check">
          <input class="form-check-input" id="diligencialibro" name="diligencialibro" type="checkbox"
            [(ngModel)]="datoscomplementarios.DiligenciaLibro" (change)="cambio.emit()">
          <label class="form-check-label" for="diligencialibro">
            Diligencia de Libro
          </label>
        </div>
      </div>
      <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" id="custodia" name="custodia" type="checkbox"
              [(ngModel)]="datoscomplementarios.Custodia" (change)="cambio.emit()">
            <label class="form-check-label" for="custodia">
              Custodia
            </label>
          </div>
        </div>
  
</div>
</fieldset>

<ng-template #noaplica>
  <div class="alert alert-danger">
    No hay datos complementarios que rellenar definidos para el tipo de actuación y tipo de intervención seleccionados
  </div>
</ng-template>