
<p class="mb-3 fw-500">A continuación, deberá seleccionar la forma de pago para esta intervención. En el caso de que seleccione una forma de pago distinta
  a "cargo en cuenta", una vez que el Departamento de Control de su visto bueno, recibirá un mensaje SMS informándole que debe realizar el pago del trámite.
</p>

<ng-container *ngIf="!readonly;else sololectura">
  <div class="row" *ngFor="let forma of FormasPagoHabilitadas">
    <div class="col-md-4">
        <div class="formapago alert"
        [ngClass]="{'alert-primary':forma.Codigo==formapago,'alert-dark':forma.Codigo!=formapago}" (click)="formapagoChange.emit(forma.Codigo)">
          <div class="imagen-opcion float-left"><img class="mt-1" src="{{forma.UrlImagen}}" alt="{{forma.Descripcion}}"></div>
          <div class="texto-opcion"><b>{{forma.Descripcion}}</b></div>
        </div>
    </div>
    <div class="col-md-8">
        <div>
          <p>- {{forma.DescripcionAmpliada}}</p>
        </div>
    </div>
  </div>

</ng-container>
<ng-template #sololectura>
    <div class="row" *ngFor="let forma of FormasPagoHabilitadas">
        <div class="col-md-4">
            <div class="alert"
            [ngClass]="{'alert-primary':forma.Codigo==formapago,'alert-dark':forma.Codigo!=formapago}">
              <div class="imagen-opcion float-left"><img src="{{forma.UrlImagen}}" alt="{{forma.Descripcion}}"></div>
              <div class="texto-opcion"><b>{{forma.Descripcion}}</b></div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
              <p>- {{forma.DescripcionAmpliada}}</p>
            </div>
        </div>
      </div>
</ng-template>
