@import '../../../../../estilos/coaatm.variables.scss';

:host-context(app-nuevo-tramite-tipo) {
  &:nth-child(even) { //par
    .card {
      .card-header {
        background: $color1-inverso;
      }
      .card-body {
        background: $color1-inverso;
      }
    }
  }
  &:nth-child(odd) { //impar
    .card {
      .card-header {
        background: $color12;
      }
      .card-body {
        background: $color12;
      }
    }
  }
}

.card {
  border: none;
  margin-bottom: 10px;
  color: $color1;
  text-decoration: underline;
  cursor: pointer;
  .card-header {
    padding: 3px 1.25rem;
    background: $color1-inverso;
    border-bottom: none;
  }
}
