<div class="">
    <div class="row">
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="Visados" icono="./assets/images/nuevos-tramites/ico_Visados.svg">
                <app-nuevo-tramite-tipo tipo="AE" url="/visados/altaintervencion">
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="ME">                    
                    <app-seleccionar-intervencion textoaccion="Modificar"
                        textoconfirmacion="¿Seguro que quiere crear una modificación para la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'ME')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="RE">                    
                    <app-seleccionar-intervencion textoaccion="Renunciar"
                        textoconfirmacion="¿Seguro que quiere renunciar a la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'RE')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="AX">
                    <app-seleccionar-intervencion textoaccion="Anexar"
                        textoconfirmacion="¿Seguro que quiere crear un anexo para la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'AX')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="GC">
                    <app-seleccionar-intervencion textoaccion="Crear"
                        textoconfirmacion="¿Seguro que quiere crear una solicitud de cambio de gestión de cobro?"
                        (ejecutar)="nuevoTramite($event,'GC')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
            </app-grupo-tipo-tramites>
        </div>
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="Registro" icono="./assets/images/nuevos-tramites/ico_Registro.svg">
                <app-nuevo-tramite-tipo tipo="AR" url="/registros/altaintervencion">
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="MR">
                    <app-seleccionar-intervencion textoaccion="Modificar"
                        textoconfirmacion="¿Seguro que quiere crear una modificación para la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'MR')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="RR">
                    <app-seleccionar-intervencion textoaccion="Renunciar"
                        textoconfirmacion="¿Seguro que quiere renunciar a la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'RR')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
                <app-nuevo-tramite-tipo tipo="RX">
                    <app-seleccionar-intervencion textoaccion="Anexar"
                        textoconfirmacion="¿Seguro que quiere crear un anexo para la intervención indicada?"
                        (ejecutar)="nuevoTramite($event,'RX')"></app-seleccionar-intervencion>
                </app-nuevo-tramite-tipo>
            </app-grupo-tipo-tramites>
        </div>
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="Solicitudes" icono="./assets/images/nuevos-tramites/ico_Solicitudes.svg"
                [tipostramite]="['nadfadfn']"></app-grupo-tipo-tramites>
        </div>
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="SAC" icono="./assets/images/nuevos-tramites/ico_SAC.svg">
            </app-grupo-tipo-tramites>
        </div>
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="Actividades culturales"
                icono="./assets/images/nuevos-tramites/ico_Aculturales.svg"></app-grupo-tipo-tramites>
        </div>
        <div class="col-md-6">
            <app-grupo-tipo-tramites titulo="Bolsa de trabajo"
                icono="./assets/images/nuevos-tramites/ico_bolsaTrabajo.svg"
                [tipostramite]="['MC','IB','BB','MB','PO']">
            </app-grupo-tipo-tramites>
        </div>

    </div>
</div>