<fieldset [disabled]="readonly">
  <div class="container" *ngIf="Listando; else detalle" @fadeinout>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <button appBoton="Añadir" class="mb-1" (click)="empezarInsercion()"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="no-more-tables">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>NIF</th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Titulación</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let interviniente of intervinientes">
                <td data-title="Nif">
                  {{interviniente.Nif}}
                </td>
                <td data-title="Apellidos">
                  {{interviniente.Apellido1 + ' ' + interviniente.Apellido2}}
                </td>
                <td data-title="Nombre">
                  {{interviniente.Nombre}}
                </td>
                <td data-title="Titulación">
                  {{interviniente.Titulo}}
                </td>
                <td class="text-center">
                  <button [appBotonIcono]="readonly ? 'VER' : 'EDITAR'"
                    (click)="empezarModificacion(interviniente)"></button>
                  <button appBotonIcono="BORRAR" appConfirmacion="¿Seguro que quiere eliminar el autor del proyecto?"
                    (confirmado)="borrar(interviniente)" *ngIf="!readonly"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<ng-template #detalle>

  <form name="form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate @fadeinout autor-proyecto>
    <div class="container pb-3">
      <fieldset [disabled]="readonly">
        <div class="row">
          <div class="col-md-12">
            <h5 *ngIf="insertando">Nuevo autor del proyecto</h5>
            <h5 *ngIf="modificando">Modificar autor del proyecto</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Nif</label>
              <input type="text" name="Nif" #Nif="ngModel" class="form-control" [(ngModel)]="modelo.Nif" nif />
              <!-- <div class="invalid-feedback d-block" *ngIf="Nif.errors?.required && Nif.dirty">
              El campo Nif es obligatorio
            </div> -->
              <div class="invalid-feedback d-block" *ngIf="Nif.errors?.nif">
                El campo Nif no tiene un formato correcto
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Nombre</label>
              <input name="Nombre" type="text" class="form-control" #Nombre="ngModel" [(ngModel)]="modelo.Nombre" />
              <!-- <div class="invalid-feedback d-block" *ngIf="Nombre.errors?.required && Nombre.dirty">
              El campo Nombre es obligatorio
            </div> -->
            </div>
          </div>
          <div class="col-md-3" appBloqueObligatorio="true">
            <div class="form-group">
              <label appMarcadorObligatorio="true">Apellido 1</label>
              <input name="Apellido1" type="text" class="form-control" #Apellido1="ngModel" required
                [(ngModel)]="modelo.Apellido1" />
              <div class="invalid-feedback d-block" *ngIf="Apellido1.errors?.required && Apellido1.dirty">
                El campo Apellido1 es obligatorio
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Apellido 2</label>
              <input name="Apellido2" type="text" class="form-control" [(ngModel)]="modelo.Apellido2" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Número colegiado</label>
              <input name="NumeroColegiado" type="text" class="form-control" [(ngModel)]="modelo.NumeroColegiado" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Colegio Profesional</label>
              <input name="ColegioProfesional" type="text" class="form-control"
                [(ngModel)]="modelo.ColegioProfesional" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" appBloqueObligatorio="true">
              <label appMarcadorObligatorio="true">Titulación</label>
              <select class="form-control" [(ngModel)]="modelo.Titulo" name="Titulacion" required>
                <option *ngFor="let titulacion of titulaciones" [value]="titulacion"
                  [selected]="modelo.Titulo===titulacion">
                  {{titulacion}}</option>
              </select>
              <!-- <input name="Titulacion" type="text" class="form-control" [(ngModel)]="modelo.Titulo" /> -->
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="offset-md-8 col-md-4">
          <div class="btn-group" class="float-right">
            <button type="reset" class="mr-1" appBoton="CANCELAR" (click)="cancelar()"></button>
            <button appBoton="Guardar" type="submit" [disabled]="!f.valid"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
