<div class="row" [appBloqueObligatorio]="true">
  <div class="col-md-4">
    <div class="form-group">
      <label [appMarcadorObligatorio]="true">Seleccione el tipo de via</label>
      <select class="form-control" [(ngModel)]="ubicacion.TipoVia" name="TipoVia" required #TipoVia="ngModel">
        <option *ngFor="let tipo of tiposVia" [value]="tipo.Codigo" [selected]="tipo.Codigo===ubicacion?.TipoVia">
          {{tipo.Descripcion}}</option>
      </select>
      <div class="invalid-feedback d-block" *ngIf="TipoVia.errors?.required && TipoVia.dirty">
          El campo Tipo via  es obligatorio
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label [appMarcadorObligatorio]="true">Vía</label>
      <input [(ngModel)]="ubicacion.Via" name="Via" class="form-control" #Via="ngModel" required type="text" placeholder="Nombre de la via" />
      <div class="invalid-feedback d-block" *ngIf="Via.errors?.required && Via.dirty">
          El campo Via es obligatorio
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Número</label>
      <input [(ngModel)]="ubicacion.Numero" name="Numero" class="form-control" type="text" placeholder="Número" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Escalera</label>
      <input [(ngModel)]="ubicacion.Escalera" name="Escalera" class="form-control" type="text" placeholder="Escalera" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Piso</label>
      <input [(ngModel)]="ubicacion.Piso" name="Piso" class="form-control" type="text" placeholder="Piso" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Puerta</label>
      <input [(ngModel)]="ubicacion.Puerta" name="Puerta" class="form-control" type="text" placeholder="Puerta" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Urbanización</label>
      <input [(ngModel)]="ubicacion.Urbanizacion" name="Urbanizacion" class="form-control" type="text" placeholder="Urbanización" />
    </div>
  </div>
</div>
<div class="row" [appBloqueObligatorio]="true">
  <div class="col-md-4">
    <div class="form-group">
      <label [appMarcadorObligatorio]="true">Provincia</label>
      <select class="form-control" [(ngModel)]="ubicacion.Provincia" name="Provincia" required #Provincia="ngModel">
        <option *ngFor="let prov of provincias" [value]="prov.Codigo" [selected]="prov.Codigo===ubicacion.Provincia">
          {{prov.Descripcion}}</option>
      </select>
      <div class="invalid-feedback d-block" *ngIf="Provincia.errors?.required && Provincia.dirty">
          El campo Provincia es obligatorio
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label [appMarcadorObligatorio]="true">Municipio</label>
      <input type="text" class="form-control" [(ngModel)]="ubicacion.Localidad" name="Localidad" #Localidad="ngModel" required>
      <div class="invalid-feedback d-block" *ngIf="Localidad.errors?.required && Localidad.dirty">
          El campo Municipio es obligatorio
      </div>
      <!-- <select class="form-control" [(ngModel)]="ubicacion.Municipio" name="Municipio"  (change)="asignarMunicipio()">
        <option *ngFor="let muni of municipios" [value]="muni.Codigo" [selected]="muni.Codigo===ubicacion.Municipio">
          {{muni.Descripcion}}</option>
      </select> -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label [appMarcadorObligatorio]="true">Código postal</label>
      <input [(ngModel)]="ubicacion.CodigoPostal" name="CodigoPostal" required #CodigoPostal="ngModel" maxlength="5" class="form-control" type="text"
        placeholder="Código postal" required />
        <div class="invalid-feedback d-block" *ngIf="CodigoPostal.errors?.required && CodigoPostal.dirty">
            El campo Código postal es obligatorio
        </div>
    </div>
  </div>
</div>
